[2014-07-10 19:49] dreispt opened #1 "Merge project repo into "project-service"?"
The "contract" features are very closely related with Projects and Services.
Also, this repo currently has only two modules and little activity.

Would it be better to merge it into https://github.com/OCA/project-service ?

[2014-08-14 09:57] yvaucher opened #4 "Missing labels *needs fixing* and *needs review*"
Read https://github.com/OCA/maintainers-tools/issues/29 to know more about it

[2014-08-14 10:15] #4 closed, assigned to nobody

[2014-08-14 14:43] #1 closed, assigned to nobody

[2014-09-02 21:38] mohamedhagag opened #7 "Recurring invoices currency is always Euro"
This backport have a bug - I think it's a bug - that it creates all invoices with currency set to Euro.

I tried this with many DBs and same result.

If i create invoices normally out of contracts I get the correct currency.

So only invoices generated by this module gets a fixed currency of Euro.

Regards,

[2014-09-02 22:05] #7 closed, assigned to nobody

[2015-01-30 10:12] yvaucher opened #10 "Rename master branch to 8.0"

[2015-01-30 10:13] #10 closed

[2015-01-30 10:17] yvaucher opened #11 "Delete / archive / empty this repository"
All modules of this repository have been moved to https://github.com/OCA/project-service
Don't we want to remove this?

cc @jgrandguillaume @elicoidal @StefanRijnhart @max3903 @nhomar @sebastienbeau @gurneyalex

[2015-01-30 11:31] dreispt commented on #11
I can remove all files from master and have the README warning in larger letters.

[2015-01-30 11:38] dreispt commented on #11
See PR #12

[2015-01-30 12:26] #11 closed

[2015-10-14 00:24] pedrobaeza opened #18 "Migration to version 9.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-9.0
# Modules to migrate
- [x] contract_account_banking_mandate > contract_mandate - By @carlosdauden - #75
- [x] contract_discount - Integrated into contract in #26
- [x] contract_invoice_merge_by_partner - By @cubells - #57
- [x] contract_journal - Integrated into contract in #26
- [x] contract_payment_mode - By @cubells -

[2015-10-16 06:58] amoya-dx commented on #18
I still have not tested version 9.0, but module account_analytic_analysis is not in version 9.0 addons.

Is this functionality in other module or is deprecated?

Maybe necesary to also migrate this module?

[2015-10-16 07:22] pedrobaeza commented on #18
ADAIK, that functionality is now merged with the other modules.

[2016-10-06 12:50] pedrobaeza opened #39 "Migration to version 10.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-10.0
# Modules to migrate
- [ ] contract_mandate - By @carlosdauden - #113
- [x] contract - By @StefanRijnhart - #40
- [x] contract_digitized_signature - By @bmw95 - #108
- [ ] contract_invoice_merge_by_partner
- [x] contract_payment_mode - By @chienandalu - #71
- [x] contract_recurring_plans > contract_recurring_analytic_di

[2016-11-30 23:41] lasley opened #43 "[RFC] product_contract: Allow for the sales of contracts"
This module will add a m2o relation on `product.product` (and maybe `product.template`) to [`account.analytic.contract` provided in #42](https://github.com/OCA/contract/pull/42/files#diff-ea9759d24a0a6dabcadf94eb1d751e5fR17).

The purchasing of this related product will generate a contract based on the template, and begin invoicing.

Fairly simple, I'm actually not sure what else to describe here

[2016-12-01 00:25] lasley commented on #39
#44 for contract_show_invoice

[2016-12-01 07:12] pedrobaeza commented on #43
In the description, I see purchase in one side, and sale in other. What exactly do you want?

[2016-12-01 16:13] lasley commented on #43
Basically I just want a way to sell a contract, sorry for the bad wording.

I need a customer to be able to purchase one product through sales processes that would then create a live contract based on the template assigned in the product. The first invoice will be generated by normal sales, and the subsequent ones via the contract invoice lines.

Example:
* Customer purchases `Odoo` instance
  * C

[2016-12-01 18:16] pedrobaeza commented on #43
My idea of this is to have a new module that adds at product level a check "Create automatically a contract" (similar to the current one "Create automatically a task"), that makes visible a field to select a template contract (with the other module you have made the RFC), or directly an existing contract (we can add a feature to mark a contract as a template, invalidating in the invoice generator

[2016-12-01 18:34] lasley commented on #43
Sweet your plan pretty much aligns with what I was thinking too.

Regarding the marking of a contract as template, I added that functionality in #42 via changes outlined in https://github.com/OCA/contract/pull/42#issuecomment-264042375. I debated as to whether or not to use the same model, but landed on a new one because it will allow for the integration of logic such as deltas for use as dates wh

[2016-12-01 18:39] pedrobaeza commented on #43
OK, I see. Well, I like the idea of reusing code via inheritance, although there are physically 2 tables in the DB.

[2016-12-01 18:58] lasley commented on #43
Yeah this is true, and technically there would be some data duplication between contract templates and the real contracts.

I feel that a contract template does not meet the definition of an analytic account though. They will never be billed or reported on in their form, but would contain a bunch of logic for doing so.

On a similar note, I plan to add some other logic into the templates that woul

[2016-12-01 19:02] lasley commented on #43
Maybe a polymorphic inherits makes more sense? Still two tables, but no dup

[2016-12-01 19:03] pedrobaeza commented on #43
OK, I think this approach is also good.

[2016-12-01 19:04] pedrobaeza commented on #43
That doesn't serve, because you can modify certain things in the contract after assigning the template, and with delegated inheritance (that's the chosen name for this :wink:), you will change the template, not the contract.

[2016-12-01 19:11] lasley commented on #43
Ahh yeah good point, that could cause some major issues!

Good to know thanks. Weird that the given name conflicts with the all other languages' definition of delegate inheritance, which includes methods as part of the definition. Polymorphic is usually only properties, so you'd think that'd be the name! Oh well 😕

[2016-12-01 19:18] pedrobaeza commented on #43
Well, being strict, it's called "Inheritance by delegation". Here is a good definition: https://www.odoo.com/es_ES/forum/ayuda-1/question/delegation-inheritance-in-odoo-v8-when-is-it-useful-84890

[2016-12-02 02:06] lasley opened #45 "[RFC] website_portal_contract: Website Contract Management"
This module will provide website views for customer management of their existing contracts.

It will add a new field `website_template_id` to the `account.analytic.contract` model (and subsequently the `account.analytic.account` model). This field will act in the same way that the quote template works for website sales. A default template will be provided.

It will provide a new section in the web

[2016-12-02 08:32] rafaelbn commented on #45
It's more website_portal_contract, isn't it?

[2016-12-02 15:40] lasley commented on #45
@rafaelbn - Yup that's a better name for sure

[2016-12-05 18:28] lasley commented on #39
I looked at `contract_show_invoice` and question whether it is still necessary? What's the difference between it and the existing `Show Recurring Invoices` button in the contract already?

![image](https://cloud.githubusercontent.com/assets/7397578/20897115/9b22b550-bad5-11e6-953d-9f50c695572f.png)

[2016-12-05 18:31] pedrobaeza commented on #39
You can do invoices that are not generated from the contract, but linked to the analytic account. Maybe an smart-button is better option. Integrated in the main module?, uhm, I don't know.

[2016-12-05 18:34] lasley commented on #39
That's kind of what I'm wondering too really - smart button also came to my mind. I almost just 1:1 upgraded the module then figured it would probably be best to determine that before doing the work.

I'm trying to think of a use case of anyone not wanting this functionality in the base module. It seems to me if you have the contracts, you would also always want the usability added of having the s

[2016-12-05 18:37] pedrobaeza commented on #39
I also think it can be integrated now that we don't depend on an Odoo module.

[2016-12-05 18:43] lasley commented on #39
Sweet I'll do that at some point this week & will deprecate the module in the PR. You can tag that one to me please.

[2016-12-05 21:46] lasley opened #47 "[RFC] contract_affiliate: Create an affiliate program"
This module will provide the ability to create an affiliate program based on `contract`.

It will add an `affiliate_contract_id` to `account.analytic.contract` & subsequent `account.analytic.account`. This affiliate contract will contain the details for payment to affiliate partner.

An Affiliate Contract will contain recurring invoice lines that are meant to be paid to the affiliate. `contract_va

[2016-12-05 22:44] pedrobaeza commented on #47
This sounds a lot like a plug for membership module and its extensions in https://github.com/OCA/vertical-association

[2016-12-05 22:46] rafaelbn commented on #47
Hi @lasley this sound exactly like association, check https://github.com/OCA/vertical-association/tree/8.0 and don't forget https://github.com/OCA/vertical-association/pull/22

[2016-12-06 01:04] lasley commented on #47
Interesting yeah I didn't know about that core module or vertical repo, thanks guys. An affiliate is technically a member, so this very much meets the definition & will provide some better management.

Even in light of the new info, looks like most of my specs are still lacking though. The plan is going to be altered quite a bit, so I will close this and create a new RFC in the proper repo after I

[2016-12-06 01:04] #47 closed, assigned to nobody

[2017-01-06 14:47] dreispt commented on #45
Add to the wishlist a "Your Issues" feature, and "Open an Issue"

[2017-01-06 16:15] pedrobaeza commented on #45
Isn't that already on website_issue?

[2017-01-06 19:40] dreispt commented on #45
You're probably right. Ignore that then.

[2017-01-12 21:53] lasley commented on #43
Closing to track in PR #49

[2017-01-12 21:53] #43 closed, assigned to nobody

[2017-02-21 09:53] mgielissen opened #53 "[10.0] Scheduler 'Generate Recurring Invoices' doesn't work"
When running the scheduler, this errror shows up:

2017-02-21 09:49:54,080 2663 ERROR openworx odoo.addons.base.ir.ir_cron: Call of self.env[u'account.analytic.account'].cron_recurring_create_invoice(*()) failed in Job 9
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/odoo/addons/base/ir/ir_cron.py", line 119, in _callback
    getattr(model, method_name)(*args)
  File "

[2017-02-21 10:49] pedrobaeza commented on #53
You have put an invalid date in your contract.

[2017-02-21 10:49] #53 closed, assigned to nobody

[2017-03-15 01:49] vonpupp commented on #45
Using a module such as this would it be possible to automatically charge a credit card? Such as a subscription monthly payment?

[2017-03-15 02:19] lasley commented on #45
@vonpupp - That is not within scope right now, but autopay is part of my long-term plans. That will likely be in a separate module though in order to allow for usage outside of this context.

[2017-03-15 12:03] vonpupp commented on #45
Great @lasley. I am not aware of any module right now that allows recurrent payments. Perhaps the closest might be the [memberships] module. I think it would be very nice to have something similar to the Odoo enterprise feature [subscriptions].

There is also an effort on the [donation] module to achieve recurrent payments. Wouldn't it be possible to create some sort of "fit all" recurrent payment

[2017-03-18 16:10] pedrobaeza commented on #45
AFAIK Odoo enterprise doesn't handle either automatic recurrent payment. And this is very closely related with payment gateways (Paypal and so on) to allow this option.

[2017-03-18 19:29] vonpupp commented on #45
I have not tried this myself but Fabien [stated] that it is supported on the Enterprise version @pedrobaeza. I believe this feature would be very important and would boost Odoo adoption IMHO.

If I have some help and somebody to count on to provide some guidance I would gladly help. As I said I am a beginner with Odoo, so patience is important :)

[stated]: https://www.odoo.com/forum/help-1/questi

[2017-03-18 19:35] pedrobaeza commented on #45
OK, I see, but he is saying that it works only with Ingenico and Stripe payment gateways, and in Enterprise version. There are 2 ways to do it:

1) Automatically making the charge every period, which has to be supported by payment gateway, and that you are authorized to make it (in Spain it's very difficult to get this authorization).
2) Sending a reminder each period with a link to make the payme

[2017-03-18 19:47] lasley commented on #45
v10 added a lot of server to server interaction with some of the payment gateways, so this did become a bit more feasible from the tech end of things - but there is still no unified interface, so each automation would need to be created independently as Odoo SA has done for Stripe & Ingenico.

The mental plan was to create a `base_payment_auto` module to provide the base interface, then a `payment

[2017-03-18 19:55] pedrobaeza commented on #45
For now I don't have that need, so you can still retain it for more time to improve it if you want.

[2017-03-19 13:42] vonpupp commented on #45
Great proposal @lasley.

Having a request made by email automatically (i.e: monthly) would be also something feasible that would indeed be better than nothing, perhaps both of these proposals would cover all the needs of recurrent payments.

For instance in Brazil we have a quite common payment method called "boleto", which is some sort of payment order with a bar code that the customer pays direc

[2017-03-23 18:39] lasley opened #55 "[RFC] contract_auto: Automatic Payment"
This module will provide the ability to accept automatic payments on contracts. It is a continuation of the discussion [here](https://github.com/OCA/contract/issues/45#issuecomment-286616680).

I was originally trying to abstract this to work directly on invoices, but I cannot think of a good way to do that while still maintaining a streamlined workflow. As such, this RFC is limited in scope to co

[2017-03-23 18:40] lasley commented on #55
Can a PSC please tag as `question` and `10.0` milestone? Thanks!

[2017-04-04 07:54] m3dbedb commented on #39
After installation of  "Contracts Management - Recurring" module, I create contract for demo customer agrolait, and when I try to create and save invoice for the contract, odoo say
 " File "C:\Program Files (x86)\Odoo 10.0\server\odoo\fields.py", line 2011, in convert_to_cache
ValueError: Wrong value for account.invoice.analytic_account_ids: 7"
Same error found in runbot of odoo community.

[2017-04-04 15:19] lasley commented on #39
@m3dbedb - please create an issue for your problem report instead of hijacking an unrelated one

[2017-04-05 08:23] m3dbedb opened #59 "[v10] Contracts Management - Recurring: wrong value for account ID"
After installation of "Contracts Management - Recurring" module, I create contract for demo customer agrolait, and when I try to create and save invoice for the contract, odoo say
" File "C:\Program Files (x86)\Odoo 10.0\server\odoo\fields.py", line 2011, in convert_to_cache
ValueError: Wrong value for account.invoice.analytic_account_ids: 7"
Same error found in runbot of odoo community.
![contr](

[2017-04-11 15:42] antoniocanovas opened #61 "[v10] Contract: Missing "end_date" field in contract management"
Will this functionality be considered?
It was working at v8.
Thank you.

[2017-04-12 04:00] woodbrettm commented on #59
@m3dbedb similar issue here as well. @lasley
* Install Contract
* Go to Invoicing, Contracts, Contract Templates.
* Add an invoice line
* Select [CARD] Graphics Card
* Following Error appears:
[code]

[2017-05-03 18:06] lasley opened #64 "[RFC] contract_cancel: Cancel Contract With Lapsed Invoices"
This will be a fairly simple module that will automatically cancel any contract that has an invoice in `Past Due` status, instead of creating a new invoice. It will provide this option at the contract and contract template level in order to allow for customization where needed.

It will hook into the pre-existing [`account.analytic.account.recurring_create_invoice`](https://github.com/OCA/contract

[2017-05-03 23:43] lasley opened #65 "[RFC] website_sale_contract: Contract Signing"
This module will inject a `Contract Signing` step in the e-commerce process, immediately before payment. The user will skip this stage if there is not a product in their cart set to `is_contract`, similar to how we do for [prescriptions in medical](https://github.com/LasLabs/vertical-medical/blob/release/10.0/website_sale_medical_prescription/controllers/main.py#L17). It will depend on [`product_c

[2017-05-04 07:29] pedrobaeza commented on #65
:+1: for me

[2017-05-04 22:25] vonpupp commented on #55
I would like to help with this, if possible.

I successfully developed a payment-gateway (PagSeguro) integration module however I am still learning Odoo development. What do you guys think/propose?

[2017-05-05 01:36] lasley commented on #55
@vonpupp - This feature should be independent of the payment gateway. Assuming that PagSeguro has a concept of payment tokens, we should be good to go.

I believe we've started dev on this, I'll let @bmw95 comment on progress (LABS-411)

[2017-05-05 15:30] vonpupp commented on #55
Thank you @lasley. Is this dev open/available? Is there any way to collaborate or be able to check how things are going and follow the code/progress? I would like to help.

[2017-05-05 15:45] lasley commented on #55
@vonpupp - The ticket only moved to in progress a few days ago, so I'm not sure if there is anything of substance yet (and there's not a branch linked to our internal ticket at the moment). We always develop in the open though, so that answer is most certainly a yes.

Realistically now that we've started dev, I expect the feature to be PR ready in a week or so. @bmw95 is the one working that one a

[2017-05-05 20:45] lasley commented on #55
@vonpupp - turns out we hadn't gotten far. I took this one over and made a rough outline of it [here](https://github.com/LasLabs/contract/tree/release/10.0/LABS-411-contract_auto/contract_auto). Will tag you in the PR when ready

[2017-05-05 23:09] vonpupp commented on #55
Great @lasley, thank you very much! I just tried subscriptions using stripe python's lib (without Odoo) and it is very easy to use. I will have a look on your skeleton code and see if I can figure something out. My goal would be to be able to process recurrent payments (via Stripe/Credit cards, Paypal and PagSeguro).

[2017-05-05 23:22] lasley commented on #55
As long as the payment acquirer is compatible with the [server to server API](https://github.com/odoo/odoo/blob/10.0/addons/payment/models/payment_acquirer.py#L587), my code should work everywhere

[2017-05-06 03:20] vonpupp commented on #55
I have seen that the `payment_stripe` has some s2s methods. I will have to dig into that since I haven't used s2s yet. I will install your module to test it out and try to learn more about s2s.

[2017-05-06 03:46] vonpupp commented on #55
@lasley, Could you please enable the issues tab on your fork? I had an issue but I think it is better to keep the conversation over there.

[2017-05-06 14:23] lasley commented on #55
@vonpupp - created #67, we can just discuss there.

I'm going to close this RFC now that there's a PR

[2017-05-06 14:23] #55 closed, assigned to nobody

[2017-05-06 23:13] rafaelbn opened #68 "[10.0][BUG][contract] Error when adding a product in a invoice line when creating a contract template"
- Go to runbot: in my case: http://3290495-10-0-ea6f03.runbot2.odoo-community.org/web?debug
- Create a contract and save
- Edit -> Go to field "Contract Template" and create a new one
- In the "create: contract template" and an invoice line and you will get this error when adding a product:

![2017-05-07_1-11-11](https://cloud.githubusercontent.com/assets/8736623/25776582/49a7546e-32c2-11e7-86c9-f

[2017-05-08 16:15] lasley commented on #68
Thanks for the report @rafaelbn

A missing piece of the replication instructions is that you have to select a pricelist as well. If you do not select a pricelist, the product adds fine.

I find it kind of weird how far up in the traceback `contract` is. I'll need to play around with this one a bit, but for the time being you can circumvent the error by not selecting a pricelist until after the inv

[2017-05-13 09:00] #68 closed, assigned to nobody

[2017-05-18 15:17] vonpupp opened #70 "[RFC] contract_auto_invoice_status: Invoice auto-validation on automatic payments"
This module would be able to change the status of an invoice after automatically being paid using the `contract_auto` module.

The idea would be to have an option within on the payment_acquirer to be able to automatically modify the status of an invoice. Similar to the regular sales order flow with the option: "Authorize & capture the amount, confirm the SO and auto-validate the invoice on acquire

[2017-05-22 19:24] lasley commented on #70
I don't think we'll need to bind this to `contract_auto` actually, and could instead maybe call this `payment_contract` - indicating the fact that we are gluing contract and payment modules. The contract module is where the invoice creation logic takes place, and the payment module is where the payment actually takes place - hence this recommendation.

You've got the overview on point I think thou

[2017-05-25 20:56] vonpupp commented on #70
Thank you very much @lasley. I will follow your recommendations. If you don't mind I will ping you out once done for your review and approval.

[2017-06-21 18:51] Danizan1976 opened #76 "Recurring Invoices - Create Invoices"
I'm getting error in debug mode when clicking 'Create Invoices' from Contract Recurring Invoices.
My Setup :
1) Ubuntu 16.04
2) Odoo 10 Community

![screen shot 2017-06-22 at 2 48 06 am](https://user-images.githubusercontent.com/29611383/27401255-46c5e862-56f5-11e7-9eca-b579e6b19c7a.png)

I can't seem to get the same error in runbot.
Any ideas?
--
Traceback (most recent call last):
  File "/opt/od

[2017-07-29 09:55] fgarcia-humanoide opened #80 "Contract template is useless because it creates empty invoices"
I have tried to use contract templates in my own instalation of odoo 10 and in oca runbot and that is what happens:

- I create a contract template with a product

- I use this contract template in a contract

- the resulting invoice is empty with no product

You can add the product directly to the contract and it works, but if you use the template , then the invoice is empty.

[2017-08-06 18:06] angelmoya opened #85 "[RFC] Contract Sales"
On maintenance contract it's usual to have this cases:
- periodicicaly invoices (done with contract module)
- periodicicaly tasks, and task can consume materials, and invoice can depends on task and materials

If contract generate sales, we can define diferent products for tasks and materials, and create task for project, and stock picking for materials, this way sale order could be like "work ord

[2017-08-07 08:04] pedrobaeza commented on #85
You already have project_task_material/project_task_material_stock for consuming products and sale_service_project for generating task from Sales Orders. What does this module add?

[2017-08-07 08:06] angelmoya commented on #85
Create recurring sale orders from contract, instead of create invoices

[2017-08-07 08:09] angelmoya commented on #85
project_task_material is right, but I prefer to create sale order because this way I can create a picking and invoice delivery qty

[2017-08-07 08:11] pedrobaeza commented on #85
project_task_material_stock create stock moves, but you're right that the track is not the same as with sales order.

The module should be called contract_sale_generation for being more explicit, as you can have also sales orders that generates contracts.

[2017-08-07 08:16] angelmoya commented on #85
OK, nice.

I started to do it keeping it simple.

I create a type field on contract that could be sale or invoice, and contract generate sale or invoice.

Next steeps:
- Define recurring periods on lines, I think this functionality could be nice on contract module
- Define type on lines

[2017-08-07 08:20] pedrobaeza commented on #85
For several periods, you can define several contracts and use the module https://github.com/OCA/contract/tree/9.0/contract_invoice_merge_by_partner. Any way, it can be one possibility for keeping all in one document, but you will complicate a lot the logic.

Several types (sales order/invoice) by line is also to complicate too much I think.

[2017-08-10 12:22] angelmoya commented on #85
WIP on #87

[2017-08-10 17:42] lasley commented on #65
Closing to track in #88

[2017-08-10 17:42] #65 closed, assigned to nobody

[2017-08-21 07:06] xavierjimenez opened #89 "Limited by time contracts"
In Odoo 8.0, you can select a defined amount of time on the contract, limiting the hours you can work on the project associated with the contract. Also, there's a computed field that shows the remaining time you have left.

Here's a screenshot of what I'm talking about:
![renewal_contract](https://user-images.githubusercontent.com/22770010/29507099-f97e50c4-864e-11e7-8e4b-301179d55637.jpeg)

I hav

[2017-08-21 07:10] pedrobaeza commented on #89
This is not something planned right now, as now you do that with sales orders. That's why this other RF was  created: https://github.com/OCA/contract/issues/85. Check it to see if it fits.

[2017-08-21 07:27] xavierjimenez commented on #89
Great, thanks I'll check it out!

[2017-08-21 07:27] #89 closed, assigned to nobody

[2017-08-22 09:32] pedrobaeza commented on #80
@lasley can you check?

[2017-08-22 09:32] pedrobaeza commented on #85
Closing as there's a PR.

[2017-08-22 09:32] #85 closed, assigned to nobody

[2017-08-22 09:34] pedrobaeza commented on #59
Is this fixed?

[2017-08-22 09:34] pedrobaeza commented on #61
Not for now.

[2017-08-22 09:34] #61 closed, assigned to nobody

[2017-08-22 09:34] pedrobaeza commented on #76
Sorry, you should reproduce the problem on runbot or give more clues. I close meanwhile.

[2017-08-22 09:34] #76 closed, assigned to nobody

[2017-08-22 18:16] lasley commented on #80
Hah we can see where my functional testing ended here (sorry, I suck). It seems the templated invoice lines are present on the contract up until the point you hit save, which causes them to vanish.

[2017-08-23 01:42] woodbrettm commented on #59
I'd imagine so. Mine ended up being unrelated and I've added invoice lines since then and it seems fine.

[2017-08-23 02:04] lasley commented on #59
#92 should do the trick. Amended the commit to include this ticket

[2017-09-10 16:28] flotho opened #98 "[10.0]Question regarding timesheet on contract"
Hi,

I would like to knw what is the recommendation for dealing with contact based on time? How a customer could see an easy way the time spent on its contract ?
regards

[2017-09-19 12:48] primes2h commented on #59
I've just tried a locally patched version with all those 5 commit (#92) Unfortunately it doesn't fix the issue.

Just to add more info, this is the error log from runbot:

[code]

[2017-09-19 13:06] primes2h commented on #59
And this is from a locally patched module:

[code]

[2017-09-19 14:19] lasley commented on #59
@primes2h - You tested the Runbot that was built on #92? It was expired long ago and didn't have logs available, so I think you were not on it.

I rebuilt and retested - invoices are generating fine. Can you please test using the Runbot that is currently available in the #92 PR and let me know replication steps if it does not work?

[2017-09-19 14:52] primes2h commented on #59
@lasley The previous log from runbot was just to add some info about the bug itself.
Only the second log reported was from a patched module.

Anyway I've just tested the new runbot based on #92 PR and the bug is still there.
Steps to reproduce:

1) Click on Invoicing, Sales→Contracts
2) Open the existing Contract
3) Click on "Invoices" button in the upper-right side
![immagine](https://user-images

[2017-09-19 14:57] lasley commented on #59
@primes2h - I don't think that is a supported method of creating the invoices, because they won't contain the proper contract information. Keep in mind that this module is for automatic invoice creation, not manual.

We do have a way to create the invoices for testing though (or one-off invoice creations), which will use the same processes that the cron does. You'll need to enable developer mode,

[2017-09-19 15:11] primes2h commented on #59
You are talking about recurring invoice, and I know that works in that way "if" you select "Generate recurring invoices automatically".

But it's a choice, you could need some contracts with recurring invoices (using the checkbox) and some without (leaving it blank), and add some contract invoice manually.

If you try to add another contract (with no recurring invoice) the error come up as well.

[2017-09-19 15:18] lasley commented on #59
@primes2h - The "Invoices" button is provided by the [`contract_show_invoice`](https://github.com/OCA/contract/tree/10.0/contract_show_invoice) module, but creation is not within the scope in that ReadMe. Contracts are typically naive of the invoices that they create - the `contract_show_invoice` is honestly just kind of a hack to get you to see the invoices (it's just a search on the pre-existing

[2017-09-19 15:21] primes2h commented on #59
If the module is intended to be for automatic recurring invoice creation (and not manual), you should remove "Generate recurring invoice" checkbox in my opinion.

[2017-09-19 15:26] lasley commented on #59
@primes2h - The issue is that contracts are analytic accounts. You are looking at an analytic account view when you're looking at the contracts, so the checkbox is required to add the automation logic to those analytic accounts. This is what the [mailing list thread I referenced](https://odoo-community.org/groups/contributors-15/contributors-60794?mode=thread&date_begin=&date_end=) is about - the

[2017-09-19 15:28] lasley commented on #59
It's also worth noting that invoices can be created and assigned to contracts, because they are analytic accounts.

You'll need to enable analytic accounting though I think, because it would be on the line items of the invoices and not the invoices themselves. @pedrobaeza correct me if I'm wrong here

[2017-09-19 15:41] primes2h commented on #59
It "worths" in my opinion because invoices could belong to a contract and so be grouped together.
If you need to know what invoices come from that Contract, you can open the contract itself and click on the Invoices button on the upper-right side (in fact this is the purpose of that button, isn't it?)

Going back to this kind of bug, what I would like to explain is that, generally speaking, a modu

[2017-09-19 15:42] carlosdauden commented on #59
This problem is caused by the module contract_show_invoice https://github.com/OCA/contract/blob/c9b1e49cdac9ad48d8c784dab416078bc800c87f/contract_show_invoice/views/contract_view.xml#L6 with missing brackets and attempt assign default value to compute field https://github.com/OCA/contract/blob/c9b1e49cdac9ad48d8c784dab416078bc800c87f/contract_show_invoice/models/invoice.py#L12-L24

BTW I think thi

[2017-09-19 16:03] primes2h commented on #59
You can reproduce the bug without that module (contract_show_invoice) installed.

Anyway I tried to install it but the bug is still there, nothing changed.

Anyway, I'll try to do some debug later, I hope to find something useful to fix this bug.

[2017-09-19 16:08] lasley commented on #59
@primes2h - The `Invoices` button is introduced in `contract_show_invoice`. How are you reproducing the error without the `Invoices` button?

There is a "Show recurring invoices" link, but I was able to create an invoice using that one just fine & it linked properly.

[2017-09-19 16:09] lasley commented on #59
Wait why the hell does a module exist to add a button for invoices, when we already have a link for invoices...

[2017-09-19 16:12] pedrobaeza commented on #59
For the invoices that have that analytic account, but not coming from recurring invoicing.

[2017-09-19 16:13] lasley commented on #59
The `Show recurring invoices` link does that as well. I created an invoice after clicking that link, then went back and it was [there](http://3303772-92-a6fc81.runbot2.odoo-community.org/web?debug=assets#min=1&limit=80&view_type=list&model=account.invoice&action=261&active_id=18) (it's the Edward Foster one without a source document)

[2017-09-19 16:14] pedrobaeza commented on #59
Don't go through the button, but add an invoice through Accounting and select that analytic account in an invoice line.

[2017-09-19 16:20] lasley commented on #59
Ohhhhhh interesting - it looks like `contract_show_invoices` has more bugs then, because it does not show the invoice I created (through Customer Invoices) either.

I did notice something though - if you create an invoice after clicking the link - it's a vendor invoice.

Creating a vendor invoice will show it in the `Invoices` link, but not the `Show recurring invoices` link as intended.

[2017-09-19 16:29] carlosdauden commented on #59
https://github.com/OCA/contract/pull/84

[2017-09-19 16:31] carlosdauden commented on #59
Sorry, https://github.com/OCA/contract/pull/84/files#diff-508bda2f042a03d3c3f947df8fa38c0c

[2017-09-20 13:00] primes2h commented on #59
@carlosdauden you were absolutely right! The problem was the missing brackets. I didn't realize that I was working on another local odoo installation on which the contract_show_invoice was installed

[2017-09-20 13:02] primes2h commented on #59
#99 does the trick to fix this bug

[2017-09-20 13:36] primes2h commented on #59
@lasley
yes, I confirm those bugs.

About the last one you reported, invoices are not linked with the contract itself (Source Document field is empty).

[2017-09-25 09:52] hurrinico opened #100 "[10.0] Bug on contract_template_id onchange in module contract"
Step to reproduce:
-create a contract
-flag recurring_invoices and add a contract_template_id (must have at least a line)
      - the onchange works and you can see the line
-Save, the field recurring_invoice_line_ids it's empty
Imho [this](https://github.com/OCA/contract/blob/10.0/contract/models/account_analytic_account.py#L46) doesn't work well with one2many fields.
@pedrobaeza @carlosdauden an

[2017-09-25 09:52] pedrobaeza commented on #100
See https://github.com/OCA/contract/pull/92

[2017-09-25 12:14] #80 closed, assigned to lasley

[2017-09-25 12:14] #59 closed, assigned to nobody

[2017-09-25 12:14] #100 closed, assigned to nobody

[2017-10-03 14:07] pedrobaeza opened #101 "Migration to version 11.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-11.0

# Modules to migrate

- [x] contract -  By @feketemihai - #121
- [x] contract_digitized_signature - By @cubells - #317
- [x] contract_payment_mode - By @cubells - #164
- [x] contract_sale - By @levkar - #145
- [x] contract_sale_generation - By @sylvainvh - #329
- [x] ~~contract_show_invoice~~ Don't belong to this repos

[2017-11-06 10:51] feketemihai commented on #101
contract in #114

[2017-11-10 06:21] moylop260 opened #117 "[BUG] 10.0 contract_sale_generation: Mixing apples and oranges: account.invoice().union(sale.order(11,))"
Running the command:
`~/odoo-10.0/odoo-bin -d moy6 --db-filter=^moy6$ --stop-after-init --log-level info --log-handler openerp.tools.yaml_import:DEBUG --test-enable --init agreement_account,agreement_sale,contract,contract_payment_auto,contract_payment_mode,contract_sale,contract_sale_generation,contract_show_invoice,contract_variable_quantity,product_contract,website_portal_contract`

Using the f

[2017-11-10 09:23] pedrobaeza commented on #117
As said in the PR, @angelmoya you shouldn't add your sales to this method. Use another method or not return any of the sales orders generated on this one.

[2017-11-10 09:25] angelmoya commented on #117
OK, I will check it.

[2017-11-11 09:44] angelmoya commented on #117
I'm working on #118

[2017-11-23 10:56] NL66278 opened #124 "[10.0] Overriding field analytic_account_id in account.analytic.contract.line breaks link between account.analytic.invoice.line and account.analytic.account."
I have a module where I need to have partner_id as a reference field in account.analytic.invoice.line. This should not pose any problem, as account.analytic.invoice.line refers with account_analytic_id to account.analytic.account, which has partner id.

This is my code:
[code]

Unfortunately the code in contract/models/account_analytic_contract_line.py breaks the original analytic_account_id:
[cod

[2017-11-23 11:16] NL66278 commented on #124
If we really want to have contracts (account.analytic.account) and contract templates (account.analytic.contract) in different models, I think it is a bad idea to have the inheritance defined from contracts to templates, but for lines in the other direction: from template lines to contract lines.

But maybe it would be better to have contracts and contract templates in the same models, with some f

[2017-11-24 03:34] rafaelbn opened #125 "[10.0][BUG][contract] No way to create a contract"
- Go to runbot http://3310680-10-0-ed75c2.runbot2.odoo-community.org/web
- Go to Accounting / invoice -> Contract
- Try to create a contract

You will get this:

![2017-11-24_4-28-08](https://user-images.githubusercontent.com/8736623/33194520-baf36eda-d0d0-11e7-9ec0-ff90c71df688.png)

[2017-11-25 01:14] cesarsc79 opened #126 "create invoices before the date invoice"
For example:

the 25th November, i want to create some invoices but with date of invoice  1th December

How i can do it?

[2017-11-25 09:00] carlosdauden commented on #126
Three options:
 - You can click Create invoice link in a contract form showing debug options
 - You can create an action to call recurring_create_invoice()
 - You can call contracts.recurring_create_invoice() in a new cron.

[2017-11-25 10:39] #126 closed, assigned to nobody

[2017-11-30 23:58] #125 closed, assigned to nobody

[2017-12-02 15:35] pedrobaeza commented on #117
Already fixed in #118

[2017-12-02 15:35] #117 closed, assigned to nobody

[2017-12-02 15:37] pedrobaeza commented on #124
What about depending on the module contract?

[2017-12-02 15:38] pedrobaeza commented on #98
You can add a new module based on https://github.com/OCA/contract/tree/10.0/contract_variable_quantity for feeding the quantity out of the timesheets.

[2017-12-02 15:38] #98 closed, assigned to nobody

[2017-12-02 15:39] pedrobaeza commented on #70
Closing this waiting for a PR.

[2017-12-02 15:39] #70 closed, assigned to nobody

[2017-12-02 15:39] pedrobaeza commented on #64
Any news with this?

[2017-12-02 15:40] pedrobaeza commented on #45
This is already implemented, isn't it?

[2017-12-02 15:40] pedrobaeza commented on #18
Everything migrated. Closing.

[2017-12-02 15:40] #18 closed, assigned to nobody

[2017-12-02 19:53] lasley commented on #45
Indeed it is, I guess we just forgot to link to and close the RFC!

https://github.com/OCA/contract/tree/10.0/website_portal_contract

[2017-12-02 19:53] #45 closed, assigned to nobody

[2017-12-02 19:57] lasley commented on #64
Nope. We haven't actually had this happen in production yet, so I guess it's not as big of an issue as I was expecting - at least for my uses - guess people don't want their websites shut off.

Admittedly I can't find an internal ticket for this, so it seems I completely spaced actually throwing it on the roadmap 😆 . I went ahead and did that now - it's probably worth keeping the RFC open.

[2017-12-02 19:59] pedrobaeza commented on #64
OK, let's keep it

[2017-12-11 11:11] NL66278 commented on #124
Issue can be solved, or should I say worked around, with this PR: https://github.com/OCA/contract/pull/129

[2017-12-11 11:12] NL66278 commented on #124
@pedrobaeza What did you mean with depending on contract? My code was depending on contract, that is how I ran into the issue described.

[2017-12-14 19:15] lasley opened #131 "[RFC] contract_company_users: Bill for companies & users"
This module will provide the ability to create a contract that provides access into the current Odoo system. A user would purchase this contract for $X/user/$Interval, which would subsequently:
* Create a company in Odoo related to the contract
* Add the user to the new company
* Give the user the ability manage permissions for their company
* Provide different pricing for users dependent on their

[2017-12-29 11:25] datheng opened #134 "cannot find the menu after installed success"
After installed success on odoo11, I cannot find the menu to the contract funcitons. Where it goes to? Thanks.

[2018-01-03 14:28] xabispacebiker opened #136 "Problem installing the module in Odoo 11"
Hi, I am new to Oddo and I get the following error when trying to install the module:

[code]

[2018-01-03 16:27] pedrobaeza commented on #136
You don't have latest version.

[2018-01-03 16:27] #136 closed, assigned to nobody

[2018-01-08 06:14] angelmoya opened #137 "[Functional Improvement] Recurring Next Date Scoope"
The cron function witch create recurring invoices is:

[code]

That create invoices only if ('recurring_next_date', '<=', today)

what do you think about create invoices X days before, for example:
[code]

[2018-01-08 09:32] pedrobaeza commented on #137
Well, it can be good if it's set as a parameter. Can be done at journal level, company level or system parameter. The second one can be the best balanced maybe.

[2018-01-08 09:37] angelmoya commented on #137
Yes, I was thinking about create X as a system parameter.

[2018-01-08 09:37] angelmoya commented on #137
Yes, I was thinking about create X as a system parameter.

El 8 ene. 2018 10:32 a. m., "Pedro M. Baeza" <notifications@github.com>
escribió:

[2018-01-08 09:38] pedrobaeza commented on #137
Better by company...

[2018-01-08 18:07] w-mohsen commented on #134
Its under Invoicing -> configuration -> Contracts  and
under Invoicing -> Sales-> Document ->contract

[2018-01-08 18:11] pedrobaeza commented on #134
If not, there has been an error when installing it.

[2018-01-08 18:11] #134 closed, assigned to nobody

[2018-01-09 14:58] ygol opened #138 "[BUG][10.0][product_contract] Product_contract: unable to confirm SO"
Testing product_contract.
expecting to have a contract automatically created when added to a SO

problem: cannot validate SO

repoduce:
-Added a product with "is contract"
-created a SO and added the above product
- a quotation is created (not a SO).
-when clicking on button "confirm sale" I get a warning message:
"
Odoo Warning - Warning
Please create some invoice lines.
"

link to quotation:
htt

[2018-01-17 16:28] lasley commented on #138
From @rafaelbn in https://github.com/OCA/contract/pull/49#issuecomment-358180006

[2018-01-25 00:24] rafaelbn commented on #138
Thanks @lasley !

[2018-02-01 12:52] rafaelbn commented on #138
Hi @lasley is anyone assigned to this BUG? Let me know please. Thanks!

[2018-02-11 13:55] cesarsc79 commented on #137
[contract_days_before.zip](https://github.com/OCA/contract/files/1714409/contract_days_before.zip)

Sorry:

I am development a new module (not finished yet... NO TIME )
it create 2 field

1º Days before
2º Virtual date

Virtual date is the today.date + Days before

So, you can custom every contract separately

 antelacion = fields.Integer(
        string='Dias de antelacion',
        default=5,

[2018-03-30 10:04] levkar opened #157 "[V11] contract invoicing user"
Invoicing user can see contracts menu, see contracts list but getting access error to account.analytic.invoice.line.

A user needs "Full accounting features" to use contracts, so it's better invoicing users not to see the contracts menu.

[2018-03-30 10:14] pedrobaeza commented on #157
Or give read permission to that model...

Can you please make the proper PR?

[2018-03-30 10:31] pedrobaeza commented on #138
This should be solved with latest commits.

[2018-03-30 12:14] levkar commented on #157
Here's the PR.
https://github.com/OCA/contract/pull/159

I think having seperate access groups would be better in the long run. (i.e. contract manager, contract user) which would also make contract_sale module obselete.

[2018-03-30 12:14] #157 closed, assigned to nobody

[2018-04-07 08:44] babatoko opened #161 "Last day of month"
How can generate invoice with always the last day of the month.

Actually, if the previous month was a 30 days-month, the next month will be regenerate on 30 of the month instead of 31 of the month.

Maybe I do miss somethings

[2018-04-07 08:47] babatoko commented on #137
This feature will be highly appreciate.

[2018-04-07 11:18] pedrobaeza commented on #161
Yeah, this is a not yet covered option in the module I'm afraid.

[2018-04-07 11:18] #161 closed, assigned to nobody

[2018-04-09 22:30] carlosdauden commented on #161
v9.0:
https://github.com/OCA/contract/blob/cb8d77a25172c8bd306c005cbfbaee9d5ec2e983/contract/models/contract.py#L120

v10.0:
https://github.com/OCA/contract/blob/739330182c708bb4ad0fa39ae910501110ee5ed6/contract/models/account_analytic_contract.py#L43

v11.0:
https://github.com/OCA/contract/blob/2a8d2bad2f278934fca3e4f11692d11d712e2b08/contract/models/account_analytic_contract.py#L43

[2018-04-09 22:48] pedrobaeza commented on #161
Right, I didn't remember that the feature was added!

[2018-04-14 12:55] babatoko commented on #161
Yes I've se en that point but it doesn't do the trick. It doesn't influence
the next invoice date field as shows my test.

Regards

On Tue, 10 Apr 2018, 00:30 Carlos Dauden, <notifications@github.com> wrote:

[2018-04-14 12:56] pedrobaeza commented on #161
Try on runbot and give detailed steps to reproduce the error.

[2018-04-16 11:51] rafaelbn commented on #138
This is not solved, tested again in runbot same problem

No news about it @lasley @tedsalmon ?

https://github.com/OCA/contract/pull/49#issuecomment-358360403

[2018-04-20 02:53] littlebunyip opened #162 "[v10] Sales order creation not working"
Hi, recently (this week) my contracts have stopped creating sales orders using both the automated actions and when I click "Create sales". I have set the server log level to debug and haven't seen anything obvious. See the following.
[code]
The "Date of next Invoice:" field advances to the correct next invoice date (1 week intervals) but an actual SO or even Quote is not created. Clicking the "Sho

[2018-04-20 05:10] pedrobaeza commented on #162
Are you able to reproduce it on runbot (https://runbot.odoo-community.org/runbot/110/10.0)?

[2018-04-20 11:35] littlebunyip commented on #162
Hi, It is working on runbot but things look quite different to my installed version of odoo 10. Not sure why but could be due to some different apps installed, like web site etc.

Is there any other ways I can debug this to see what is happening? I am not very savvy with python but am able to follow instructions generally.

[2018-04-23 10:11] littlebunyip commented on #162
It seems that when I am in developer mode with debugging enabled pressing the "Create sales" button doesn't do anything. The same goes for pressing the associated "Run Manually" in the scheduled actions of the Settings page. I logged out of developer mode and the contracts are now working. Not sure if this is a bug or a feature?

[2018-04-23 11:45] pedrobaeza commented on #162
This is something related to your deployment, as normally that doesn't happened. Any way, please make sure you have your code totally updated and a general module update is done. Closing as no real issue.

[2018-04-23 11:45] #162 closed, assigned to nobody

[2018-05-22 20:01] fcayre opened #165 "[10.0] [contract_payment_auto] IntegrityError raised when token is related to the partner and not the contract"
Traceback looks like:

[code]
A pull request is coming soon. The bug is due to an inconsistency between the payment token existence tests in `_pay_invoice` and in `_get_tx_vals`.

[2018-05-23 04:05] fcayre opened #166 "[contract_payment_auto] Lack of robustness - missing commits after each payment (?)"
Hi folks,

I recently faced an important issue (see https://github.com/OCA/contract/issues/165) which rolled back the creation of a bunch of payment transactions in odoo, while their acquirer counterpart operations were sent to the bank. At next cron execution time, all these operations were then re-executed, resulting in a double bank payment.

The consequences would have been mitigated if a comm

[2018-05-23 07:29] pedrobaeza commented on #166
No, that's not a good technique. You should never commit inside a transaction, or you can have an inconsistent situation.

[2018-05-23 20:01] fcayre commented on #166
Hello @pedrobaeza thanks for your answer. However, present issue describes a problem (global rollback of operations that are independent by nature) which is not solved, so I don't think it should be closed so fast as there is room for improvement here.

The `AccountAnalyticAccount.cron_recurring_create_invoice` method from contract/models/account_analytic_account.py might be the right place to use

[2018-05-26 15:01] pedrobaeza commented on #165
Closing this as there's now a PR.

[2018-05-26 15:01] #165 closed, assigned to nobody

[2018-07-11 19:52] katyukha commented on #124
May be related: #169

[2018-07-28 22:28] ghost opened #176 "[11.0] Help pls: Contract Variable Qty Timesheet"
Hello,

how is to use this module?

Which project (or task) timesheet is to use for the hours. I dont understood the relation between project <-> contract.

Thx!

[2018-07-30 07:51] pedrobaeza commented on #176
This issue tracker is not for solving dudes. Please ask on lists or forums. But here is a quick tip: project has an analytic account, and this analytic account can be a contract if you mark the recurring invoicing flag.

[2018-07-30 07:51] #176 closed, assigned to nobody

[2018-08-22 15:41] #64 closed, assigned to nobody

[2018-08-23 09:51] ghost opened #179 "[11.0] error message by settings"
On menupoint "settings" i get this error-message:

[code]
                                                             ^

[2018-08-23 09:51] pedrobaeza commented on #179
You have to update your module, as always.

[2018-08-23 09:51] #179 closed, assigned to nobody

[2018-08-23 09:53] ghost commented on #179
sure, i have done it. on webinterface and command-line, too.

[2018-08-23 09:57] pedrobaeza commented on #179
Then you should restart your Odoo service. It's the usual stuff.

[2018-08-23 10:09] ghost commented on #179
All you offer i have done.
[code]
This is what i have done.
Odoo says: "Well done! All your Apps are up-to-date! "

[2018-08-23 10:12] pedrobaeza commented on #179
No, that's a total nonsense! This is only Online apps Odoo market saying you there's not any updated app to download, but this is totally out of online flows. You should install `disable_odoo_online` module for not getting confused with that thing, and get used of the integrator flows, updating for example via command line.

[2018-08-23 10:29] ghost commented on #179
Ok, i understood.

After rebuild my docker-image with new github-download i make a upgrade for all modules and restart docker instance ... i get the error. with the old container it runs.
Pedro, thx for your advice.

[2018-08-25 00:26] thiago95macedo opened #180 "Error installing module  ¨contract_payment_mode¨"
v11.0 - Error installing module
 ¨contract_payment_mode¨
_________________________
The operation can not be completed, probably due to the following factors:
- deletion: you may be trying to delete a record while other records still refer to it
- creation / update: a required field is not configured correctly

[object with reference: Payment methods - account.payment.mode]
________________________

[2018-08-25 11:00] pedrobaeza commented on #180
The module is working correctly on runbot (https://runbot.odoo-community.org/runbot/repo/github-com-oca-contract-110), so something bad should be in your DB. Can you put the server stack trace?

[2018-08-28 23:01] thiago95macedo commented on #180
I persisted that in a clean installation the module installs perfectly, however, when I install on a base that already has some mode of payment configured it presents this error.

[2018-08-30 11:18] pedrobaeza commented on #180
Do you have multi-company? You haven't still put the stack trace I asked you.

[2018-08-30 13:22] thiago95macedo commented on #180
I do not use multi-companies.
Regarding the stack trace, I'll do it, I apologize. I'll see how it's done because I've never done the procedure before.

[2018-09-04 16:08] angelmoya opened #182 "Issue: Partner warning (block message) on invoice"
On partner form you can set "Warning on invoices" as "Blocking message".

If this partner has contract with "Generate recurring invoices automatically" then the Scheduled Action "Generate Recurring Invoices from Contracts" will fails because is not able to create invoice without partner.

There is right to don't create this invoice, invoice could not be created, but all process fails and no one in

[2018-09-04 23:57] pedrobaeza commented on #182
We can mask each invoice creation for not stopping full loop and post a message on contract chatter (do we have one on analytic account?) if fails.

[2018-09-21 14:08] alexhuijser opened #187 "When is version 11 of Auto payment expected?"
When is version 11 of Auto payment expected?
Thx.
Alex

[2018-09-21 14:16] pedrobaeza commented on #187
No date if nobody migrates it.

[2018-09-21 14:16] #187 closed, assigned to nobody

[2018-09-26 17:41] Vtejero opened #188 "Error al Instalar el modulo contract_sale 11.0"
tengo el sigueinte error al intentar instalar el modulo contract_sale en odoo 11.

Me podeis orientar por que está provocado el error?
Muchas gracias

[2018-09-26 19:23] pedrobaeza commented on #188
Hi, I'm not able to reproduce this problem in latest runbot version, so I consider that it has been solved meanwhile, and I'm going to close this issue.

If you are still experimenting the same problem in your side, try first to update your source code to latest version, restart your server, and make a general module update for being sure that the problem is not there.

If the problem continues, t

[2018-09-26 19:23] #188 closed, assigned to nobody

[2018-09-27 00:05] OCA-git-bot opened #189 "Migration to version 12.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-12.0

# Modules to migrate

- [x] agreement from v10 --> agreement - By @ygol - #287
- [x] agreement from v11 --> agreement_legal (depends on agreement) - By @ygol - #301
- [x] agreement_maintenance - by @murtuzasaleh -
- [x] agreement_mrp - by @murtuzasaleh -
- [x] agreement_project - by @ygol -
- [x] agreement_repair - by

[2018-10-01 12:13] pedrobaeza commented on #166
@nhomar why do you reopen? You know that there should never be a commit in the middle of the operation.

[2018-10-04 13:56] xabispacebiker opened #191 "Partner delivery address in contracts"
When creating invoices from contracts, the delivery address is not filled in the generated invoices. I am trying to modify this behaviour by adding the following code in contract/models/account_analytic_account.py without success:

[code]
What should be modified in order for the invoice to catch the partner_id's partner_shipping_id?

Thanks in advance

[2018-10-08 23:17] xabispacebiker commented on #191
I am not looking for someone to write me the code, just some advice. Anyone ?

[2018-10-08 23:18] pedrobaeza commented on #191
Try `self.partner_id.commercial_partner_id.address_get...`

[2018-10-08 23:22] xabispacebiker commented on #191
Hi Pedro, thanks for your answer. I am not really sure that will work, as for testing purposes I added a fixed value, which was a valid partner_shipping_id, and nothing happened. So even if `self.partner_id.commercial_partner_id.address_get` returns a valid value I think there is something else to be done.

[2018-10-11 16:16] pedrobaeza commented on #191
Then it's changed in other place. Check calls to onchange methods.

[2018-10-11 22:04] max3903 opened #192 "Agreement"
We would like to publish a module to manage content for agreements and contracts. The module is meant to be used by the legal team of a company and to allow them to define sections, clauses and template with their respective content that can be dynamic. Based on the template, an agreement can be created and the pdf document generated. The agreement would go through a workflow to finally become a c

[2018-10-11 22:09] pedrobaeza commented on #192
I think this one is correct. For the signing, we already have the module contract_digitized_signature.

[2018-10-12 09:03] Bilbonet opened #193 "[10.0][BUG] contract_sale_generation - cron tasks always change 'recurring_next_date'"
This module create a new cron task for contracts configured for "sale orders".

The problem is that this cron task change 'recurring_next_date' of the contracts configured for "sale invoices".

And the cron task for invoices change 'recurring_next_date' of the contracts configured for 'sale orders.'

[2018-10-12 15:36] pedrobaeza commented on #193
@angelmoya can you check?

[2018-10-24 21:29] sbidoul commented on #138
@gva-acsone I think this is the issue you have. cc/ @sbejaoui

[2018-10-25 08:48] gva-acsone commented on #138
Yes, exactly, I'm encountering the same problem.

[2018-10-25 09:35] gva-acsone opened #197 "Prorated invoicing of contracts"
Hi,

I am currently encountering the following use case that I can't (or don't know how to) solve with the current modules. Any ideas on how to deal with this use case or any opinion on the proposed new feature?

First, I would like to invoice my contracts on the last day of each month (recurring_interval set to 'Month(s) last day').
But, I would like to invoice my contract based on a pro rata per

[2018-10-25 09:35] gva-acsone commented on #197
@sbidoul @sbejaoui

[2018-10-25 09:58] gva-acsone opened #198 "Update of 'Date of next invoice' when the recurring_interval is set to 'Month(s) last day'"
Hi,

I observe that the 'date of next invoice (recurring_next_date) is not automatically updated when the 'Recurring_interval' (='Repeat every' field) is set to 'Month(s) last day'. For example, we have a 'start date' on the 25th of October and I decide to apply a 'Recurring _interval' of ' 1 Month(s) last day'. My 'date of next invoice' will not be changed by Odoo, so it will still be set on the

[2018-10-25 10:33] matteotrubini opened #199 "[10.0] date_format should be defaulted to company's locale"
https://github.com/OCA/contract/blob/99b130023154e6e8fb0ff0bb403282c33bffbeca/contract/models/account_analytic_account.py#L203

In this way if the company has '%d/%m/%Y' format, but the parnter has no language, dated are formatted '%m/%d/%Y'

[2018-10-25 10:49] pedrobaeza commented on #199
OK, it's something acceptable. Please make the PR changing that.

[2018-10-25 10:55] matteotrubini commented on #199
I'm sorry, I'm not a python developer, I only checked the code to understand a "strange" behavior :(

[2018-10-25 11:07] pedrobaeza commented on #199
Then we let this opened to be aware of this and for anyone who wants to change it.

[2018-10-25 11:37] gva-acsone opened #200 "Implementation of a 'Contract group' notion"
Hello,

### Problem with periodical contract changes

I find it currently really difficult to deal with **periodical** upsells / downsells / suspensions / contract product changes, i.e when a contract is modified, but only for a fixed duration of time.
Currently, if I want to apply a periodical upsell for instance, I need to add a new contract line and once the 'periodical upsell period' is reache

[2018-10-25 11:45] gva-acsone commented on #200
cc @sbidoul @sbejaoui

[2018-10-25 12:11] gva-acsone opened #201 "Invoicing 'one-shot costs' on contracts"
Hello,

**Problem:**
Besides 'activation costs' related to a contract (invoiced at the end of the order month), users should also be able to charge 'one-shot costs'. These costs are invoiced at the end of the month where the contract officially starts (contract start date), which doesn't necessarily correspond to the month during which the order takes place. These one-shot costs are of course only

[2018-10-25 12:12] gva-acsone commented on #201
@sbidoul @sbejaoui

[2018-10-25 13:53] sbejaoui commented on #189
I take this:
- [x] contract #202
- [x] contract_sale #203
- [x] contract_sale_invoicing #204

[2018-10-25 22:00] rafaelbn commented on #201
Hi @gva-acsone ,

You can do it with https://github.com/OCA/contract/tree/11.0/contract_sale_invoicing
+
You have to make a sale order and set the AA of the SO which must be the same as the contact

By the way take a look in:

- https://github.com/OCA/contract/tree/11.0/contract_variable_quantity
- https://github.com/OCA/contract/tree/11.0/contract_variable_qty_timesheet

The only flow I miss in c

[2018-10-25 22:16] rafaelbn commented on #200
Hello @gva-acsone ,

A contract in fact is an Analytic Account (account.analytic.account) so you are looking for:

- https://github.com/OCA/account-analytic/tree/11.0/account_analytic_parent

Plus (+) some king of nice UX for creating them.

I really recommend to think in https://github.com/OCA/contract/tree/11.0/contract_variable_quantity because you can `Define any formula based on Python code t

[2018-10-25 22:19] pedrobaeza commented on #200
I would go for this with a more simply approach: adding starting/ending date at contract line level, and being evaluated when generating invoices.

[2018-10-25 22:23] pedrobaeza commented on #201
There are 2 possible paths:

- The same as #200, using starting/ending dates.
- As my colleague says, using an SO with that one-shot costs, that can be invoiced with contract_sale_invoicing. In fact, this can be the usual flow: you first quote the contract with a product that will be the recurring one (with module `product_contract`, which is currently broken in v10 and not migrated to v11), and o

[2018-10-25 22:24] rafaelbn commented on #198
Hi @gva-acsone IMHO,

` Date of Next Invoice ` should be set manually when you create de contract so the problem disappears. But you proposal in not bad in fact in an improvement

[2018-10-25 22:25] pedrobaeza commented on #198
Yeah, it would be a good improvement, but only applies to that specific option. The rest of possible recurrences shouldn't modify it.

[2018-10-25 22:29] pedrobaeza commented on #197
You can and should do this with `contract_variable_qty` + a formula that you can call it "Prorated quantity" that computes the part of the quantity to invoice. Ask your technical colleagues for programming that formula, which is not very difficult.

[2018-10-25 22:33] rafaelbn commented on #197
Hi @gva-acsone ,

You can use also ` Invoicing type ` = `post-paid`

We solved this situation in the case of associations with:
- https://github.com/OCA/vertical-association/tree/11.0/membership_prorate

It is not you case of course, just to note that we create recurring contracts with the **product** which is a membership product and the product has this prorrated checkt

What I mean is that don'

[2018-10-26 12:20] gva-acsone commented on #198
Thanks for the feedback !
@rafaelbn, could you please change the label to 'Enhancement' ?
@sbejaoui will implement this in the following weeks.

Thanks

[2018-10-26 12:22] gva-acsone commented on #197
Working with the contract_variable_quantity to deal with this case looks like an easy solution!
We will work on this formula and add it in the OCA module.

Thanks!

[2018-10-26 12:25] pedrobaeza commented on #197
Yes, the formula should read contract start date and invoicing start and end period for computing the proportional (or full) part. Closing this issue then.

[2018-10-26 12:27] gva-acsone commented on #197
Can you re-open the issue and set it as 'enhancement' as we plan to implement it as an OCA-module?

[2018-10-26 12:29] sbidoul commented on #200
Our idea with the contract groups was to leave the contract module mostly unchanged.

@pedrobaeza do you mean adding *optional* start/end date on contract lines, and using the contract dates if they are not set? So that means moving all fields of the recurrence algorithm down to the line (eg recurring_next_date)? We would probably also need to move the recurrence rule to the line too, using the co

[2018-10-26 12:34] pedrobaeza commented on #197
OK, reopening then. I suppose you will do something similar to https://github.com/OCA/contract/tree/11.0/contract_variable_qty_timesheet, but for prorated.

[2018-10-26 15:59] gva-acsone opened #205 "Improve the contract creation from a Sales Order"
Hello,

When validating a SO that contains a 'Contract product', a new contract is created in Odoo. This new contract is related to the contract template mentioned on the 'contract product form' and contains all the invoice lines (quantity + product + price + discount) mentioned on this contract template. The 'contract product', quantity, discount and price mentioned on the SO lines are not copied

[2018-10-27 16:05] pedrobaeza commented on #200
Well, I was talking more about validity dates at contract line. Something similar to pricelist validity dates.

We have here several concepts:

1. Different prices/lines through time for the same contract. For example, first 3 months of a contract, there's a discount of the fee, and after that, you have full price.

   This is the concept I was talking about, and I think it can be easily covered t

[2018-10-27 16:06] pedrobaeza commented on #205
@rafaelbn you know `product_contract` more than me. Can you answer?

[2018-10-29 08:34] gva-acsone commented on #201
Thanks for the solution !

[2018-10-29 08:34] #201 closed, assigned to nobody

[2018-10-29 10:42] sbejaoui commented on #200
I will propose a PR that:

1. Add recurrence mechanism to contract lines

2.  Adapt the invoice generation and next invoice date calculation with the new changes

[2018-11-08 12:14] bealdav commented on #192
Hi @max3903,

I've just seen this issue now, and also I see a module named agreement in v11.

I'm very surprised, that you haven't contacted Akretion (@alexis-via or me) about agreement_account and agreement_sale module done in v10.

These modules are really small and easy to override. It could have been a good way to complete them instead of define other implementation or at least ping us to see

[2018-11-08 14:24] max3903 commented on #192
Hi @bealdav,

I understand your frustration. The module we shared was done by our customer as a prototype. The project is not over yet so we still have the opportunity to converge.

[2018-11-11 11:18] bealdav commented on #192
Happy to hear that. Maybe we can open an RFC to define changes in v12 branch ? V11 can stay as it.

Thanks

[2018-11-12 09:19] max3903 commented on #192
Sure!

El dom., 11 de nov. de 2018 05:18, David Beal <notifications@github.com>
escribió:

[2018-11-12 11:23] cesarsc79 opened #213 "11 contract"
After update, i have 2 menuitem in sale menu
contracts  and customer contracts

and

1 menuitem supplier contract

the issue is that dont work  Scheduled ActionsGenerate/ Recurring Invoices from Contracts

i have to run it manually

[2018-11-12 12:30] pedrobaeza commented on #213
Remove the cron and update the module.

[2018-11-12 12:30] #213 closed, assigned to nobody

[2018-11-14 12:39] ntodorova opened #214 "Add relation to cost in the reoccurring invoice"
Hi all,
I just wanted to ask if there are some ideas for implementing relation to Purchases in the reoccurring invoice.
Here is the background:
We have a contract and reoccurring invoice. There is already a functionality that connects not invoiced sale orders from the same account. But what about goods purchased from the company, but related to the contract i.e
we have a customer x, we have a cont

[2018-11-14 16:50] pedrobaeza commented on #214
Not by my part. You can do something similar to `contract_sale_invoicing` I guess, but for purchase part.

[2018-11-15 07:44] ntodorova commented on #214
Thank you @pedrobaeza! Lets see if someone else have some ideas here : )))
I was thinking just to add m2m field relation btw. contract and  PO just to be able to filter afterwards for related documents. But this is just a basic solution and does not give the opportunity for an overview of the costs and revenue

[2018-11-15 17:08] pedrobaeza commented on #205
We can close this I think, isn't it?

[2018-11-16 09:15] gva-acsone commented on #205
Yes, the functionality has already been developed by @sbejaoui in Pull Request  https://github.com/OCA/contract/pull/207

[2018-11-16 09:15] #205 closed, assigned to nobody

[2018-11-18 19:34] cesarsc79 commented on #213
thank you Pedro.

I´ve done ( Remove the cron and update the module. ) but dont work yet

i have to do it manually

????

[2018-11-18 22:08] pedrobaeza commented on #213
Check log for possible errors.

[2018-11-20 15:26] pedrobaeza commented on #200
Can this be closed and followed on PRs?

[2018-11-20 16:26] #200 closed, assigned to nobody

[2018-11-23 19:51] max3903 opened #216 "agreement 11.0.0.1.0"
# agreement.recital
- [x] Add a agreement.recital object
- [x] Add a required char field "Name" (name)
- [x] Add a char field "Title" (title)
- [x] Add a integer field "Sequence" (sequence)
- [x] Add a html field "Content" (content)
- [x] Allow the content to include values from the agreement
- [x] Add a many2one field "Agreement" (agreement_id)
- [x] Add a menu item "Recitals" in Master Data > Co

[2018-12-04 22:55] max3903 opened #221 "agreement_mrp"
Dependencies: mrp, agreement
License: AGPL-3

# Module description

Odoo Agreement App does not provide an easy way to access manufacturing orders related to an agreement. Some organizations needs to have a quick access to the production orders to track the performance of an agreement.

This module allows you to link a manufacturing order to an agreement and adds a smart button on the agreement to

[2018-12-04 23:00] max3903 opened #222 "agreement_stock"
Dependencies: stock, agreement
License: AGPL-3

# Module description

Odoo Agreement App does not provide an easy way to access stock transfers related to an agreement. Some organizations needs to have a quick access to stock transfers to track the performance of an agreement.

This module allows you to link a transfer to an agreement and adds a smart button on the agreement to look at the list of

[2018-12-04 23:04] max3903 opened #223 "agreement_repair"
Dependencies: repair, agreement
License: AGPL-3

# Module description

Odoo Agreement App does not provide an easy way to access repair orders related to an agreement. Some organizations needs to have a quick access to repair orders to track the performance of an agreement.

This module allows you to link a repair order to an agreement and adds a smart button on the agreement to look at the list o

[2018-12-04 23:07] max3903 opened #224 "agreement_fsm"
Dependencies: fieldservice, agreement
License: AGPL-3

# Module description

Odoo Agreement App does not provide an easy way to access field service orders related to an agreement. Some organizations needs to have a quick access to field service orders to track the performance of an agreement.

This module allows you to link a field service order to an agreement and adds a smart button on the agre

[2018-12-04 23:11] max3903 opened #225 "agreement_project"
Dependencies: project, agreement
License: AGPL-3

# Module description

Odoo Agreement App does not provide an easy way to access project tasks related to an agreement. Some organizations needs to have a quick access to project tasks to track the performance of an agreement.

This module allows you to link a project task to an agreement and adds a smart button on the agreement to look at the list

[2018-12-04 23:13] max3903 opened #226 "agreement_rma"
Dependencies: rma, agreement
License: AGPL-3

# Module description

Odoo Agreement App does not provide an easy way to access RMAs related to an agreement. Some organizations needs to have a quick access to RMAs to track the performance of an agreement.

This module allows you to link a RMA to an agreement and adds a smart button on the agreement to look at the list of related RMAs.

# Usage

* Go

[2018-12-04 23:15] #192 closed, assigned to bodedra

[2018-12-04 23:19] max3903 opened #227 "agreement_fsm_equipment"
Dependencies: fieldservice_equipment, agreement_fsm
License: AGPL-3

# Module description

Odoo Agreement App does not provide an easy way to access field service equipments related to an agreement. Some organizations needs to have a quick access to field service equipments to track the performance of an agreement.

This module allows you to link a field service equipment to an agreement and adds

[2018-12-05 16:48] bodedra opened #228 "[11.0] No smart button section in Agreement form view"
Agreement form view should be provide empty smart button place holder for easy inheritance.

[2018-12-05 16:51] bodedra commented on #228
@max3903 @pedrobaeza

[2018-12-05 18:07] bodedra commented on #224
@max3903 I am working on these.

[2018-12-06 04:14] #228 closed, assigned to nobody

[2018-12-06 16:54] #224 closed, assigned to max3903

[2018-12-07 06:36] etobella opened #231 "Raising errors for missing modules by agreement_fsm (and it is not really installed)"
With agreement_fsm, you must have the repository  https://github.com/asaunier/geospatial.git installed in order to not raise errors. Can you remove somehow this lines of code:

https://github.com/OCA/contract/blob/11.0/agreement_fsm/models/fsm_order.py#L6

[2018-12-07 06:38] etobella commented on #231
Also, the dependency that is giving problems is not even in OCA:
https://github.com/OCA/field-service/blob/11.0/oca_dependencies.txt#L17

[2018-12-07 14:03] etobella commented on #231
@max3903 @bodedra this is related to your PR

[2018-12-07 14:05] pedrobaeza commented on #231
Please never introduce things outside OCA. @max3903 you should double check everything before merging.

[2018-12-09 15:55] etobella commented on #231
Also, the added module is specific to field-service, so I think it could be better to add it to field-service.
Right now, we cannot refresh the modules we use from this repo because it is giving warnings because it is not using the standard inheritance system.
As I am not used to the field-service system, so I don't know the implications of the change.

[2018-12-10 15:00] max3903 commented on #231
@etobella We will move it to OCA/field-service. Sorry for the inconvenience.

[2018-12-10 15:00] #231 closed, assigned to nobody

[2018-12-11 20:02] max3903 opened #234 "agreement_sale"
Dependencies: sale, agreement
License: AGPL-3

# Module description
Odoo Sales App does not support the management of legal content for agreements and contracts. It's also not integrated with the Agreement App.

This module is for companies that needs their customer to sign an agreement with all the legal information based on the selected agreement template.

# Configuration
* Go to Agreements > C

[2018-12-11 21:11] bealdav commented on #234
This module already exist in v10

[2018-12-11 21:12] bealdav commented on #234
I'll port it to v12

[2018-12-11 21:32] max3903 commented on #234
We will do to v11 ;)

[2018-12-26 14:23] #216 closed, assigned to max3903

[2018-12-26 19:02] peter2018abc opened #244 "upgrade from odoo8"
Hi,
I am using account_analytic_analysis in odoo8.

Now I was playing around with openupgrade and I managed to upgrade to odoo11, but I had to uninstall account_analytic_analysis before (as well as all other non-odoo-standard modules).

Is there any (easy) way to upgrade odoo without loosing my contract data? From what I understand the oca contract module has the same table structure, so upgrading

[2018-12-26 21:12] pedrobaeza commented on #244
You don't need to uninstall it. Just put contract module in v9 migration step and there are the migration scripts there for adapting data from one module to the other.

[2018-12-26 21:12] #244 closed, assigned to nobody

[2018-12-26 21:20] peter2018abc commented on #244
thank you for your input.
Can you point me to a how-to? I am looking through https://doc.therp.nl/openupgrade/ but I am not sure where to look. I've been using the automated migration script before. I guess I'll have to do a manual migration now....?

Thank you.

[2018-12-26 22:21] #221 closed, assigned to max3903

[2018-12-26 23:53] pedrobaeza commented on #244
Use the manual procedure from the guide having the contract addon available when migrating to v9.

[2018-12-27 14:12] max3903 commented on #226
Moving to https://github.com/ursais/osi-addons/issues/32 and closing.

[2018-12-27 14:12] #226 closed, assigned to max3903

[2018-12-27 15:09] #222 closed, assigned to max3903

[2018-12-27 17:15] #223 closed, assigned to max3903

[2018-12-27 18:41] #225 closed, assigned to max3903

[2018-12-27 23:11] peter2018abc commented on #244
Thank you. I simply added the contract module to the odoo-9 addon folders of openupgrade and restarted the automated migration script. Worked perfectly!

[2018-12-28 02:26] emagdalenaC2i commented on #189
Please add to the list agreement -  By @ygol - #220
There is a PR for the migration of contract_variable_quantity - By @sbejaoui - #211

[2019-01-04 08:23] frg004 opened #252 "Quarterly invoice - how to set it up?"
Hi,

First of all, thank you for this great plugin!
=> Is there a way to create a quarterly invoice? If so, how?

Thank you for you help!
François

[2019-01-04 08:26] pedrobaeza commented on #252
Put repeat each 3 months.

[2019-01-04 08:26] #252 closed, assigned to nobody

[2019-01-04 08:28] frg004 commented on #252
Hi Pedro,
Sorry, didn't see that option. My bad!
Thank you :-)

[2019-01-10 15:44] #234 closed, assigned to max3903

[2019-01-15 09:18] #199 closed, assigned to nobody

[2019-01-18 10:11] peter2018abc commented on #126
I tried to add an action in order for my users to be able to manually create the next invoice, but it's not working (nothing happens).

What I did:
In gui I created a new server action like this:
![grafik](https://user-images.githubusercontent.com/46168043/51380412-02b09900-1b12-11e9-9698-10e047b1a71a.png)

Unfortunately it's not working...

[2019-01-21 12:59] matteotrubini opened #262 "Unable to duplicate contract with future date_start"
https://github.com/OCA/contract/blob/2fc9eb5fc7053031cd1c0b95eb7b055651d33d3e/contract/models/account_analytic_account.py#L43-L47

On duplicate, `context_today` as default value cause error if you are duplicating a contract that have a future date_start.
Can it defaulted to `date_start`?

[2019-01-21 13:35] sbidoul commented on #262
@sbejaoui

[2019-01-21 13:53] sbejaoui commented on #262
Hi @matteotrubini ,
We are refactoring the contract module to bring recurrence information to contract line level  #207. It's quite stable and we are using it for 12.0 version.

Otherwise you can port this fix
https://github.com/OCA/contract/blob/220c28b511544c8a49438741aef0b42044c23342/contract/models/contract_line.py#L32

https://github.com/OCA/contract/blob/220c28b511544c8a49438741aef0b42044c23

[2019-01-23 18:02] Nikul-Chaudhary commented on #189
@OCA-git-bot contract_variable_qty_timesheet #263

[2019-01-23 18:18] Nikul-Chaudhary commented on #189
@OCA-git-bot contract_section #264

[2019-01-25 11:13] aitorbouzas opened #269 "[11.0] contract: Button "Create invoices" throws error"
When in debug mode, the button "Create invoices" appears and you can call through it the `recurring_create_invoice` method. The problem is this method gets the optional parameter `limit`. This `limit` gets the context values when calling it through the button so it throws an error here:
https://github.com/OCA/contract/blob/d31ee5757cdae5020b689fb778141e1f99810dba/contract/models/account_analytic_a

[2019-01-25 12:01] pedrobaeza commented on #269
It's a keyword argument, so optional, and this is why it is checked first if it contains any value. I don't see here any error.

[2019-01-25 12:13] aitorbouzas commented on #269
The thing is it contains values when launching it from the UI because it gets the `context` values. When making the comparison it throws an error because you are comparing a number (`len(invoices)`) with a dict (`limit` containing `context` values) At least that's what's happening in my system, let me check runbot.

[2019-01-25 12:32] aitorbouzas commented on #269
@pedrobaeza reproduced on runbot. We need a parser method for the UI button.

[2019-01-25 12:34] pedrobaeza commented on #269
Or just explicitly pass a False limit in the method called by the button.

[2019-01-25 12:36] aitorbouzas commented on #269
I'll PR.

[2019-01-25 12:36] #269 closed, assigned to nobody

[2019-01-28 16:48] karlggest opened #271 "agreement_sale error creating sale order"
Hi!
I'm testing odoo v11.0 and agreements module. I try install sales, agreements and agreements sale from this repository and I get the following error:

What I need to make this module works?

Thanks for your help

EDIT: seems my agreement modules stills was which i've download form odoo.com/apps. Ty

[2019-01-28 19:16] max3903 commented on #271
@karlggest Can you try upgrading the `agreement` module before installing `agreement_sale`?

[2019-02-03 22:47] victorkob opened #272 "[10.0.4.2.0] Error after update: failed to generate requrring invoices"
Hi,
I've updated module from git and now have an error with requrring invoice generating both automatic and manual:

Log:

    return super(JsonRequest, self)._handle_exception(exception)

    result = self._call_function(**self.params)

    return checked_call(self.db, *args, **kwargs)

    return f(dbname, *args, **kwargs)

    result = self.endpoint(*a, **kw)

    return self.method(*args, **kw

[2019-02-03 23:45] pedrobaeza commented on #272
Have you updated the module clicking on the "Upgrade" button or using -u contract on the command line?

[2019-02-04 10:49] victorkob commented on #272
I'm sorry, this is my childish mistake. Checked in debug mode: Apps > Updates, I haven't update module in all databases.

Thanks

[2019-02-04 10:49] #272 closed, assigned to nobody

[2019-02-07 10:13] ghost opened #274 "Validate invoice permissions"
Hi, we have succesfully installed the module and created some contracts. Cron is working ok and creating the invoices, but the problem is that only the admin can "validate" them.

Financial user have max permissions on Accounting module. Could someone help?. Thanks.

[2019-02-07 10:17] pedrobaeza commented on #274
This is because you have a mix of companies in your data (journals, accounts or so on). Try in a single company environment or fix that mix.

[2019-02-07 10:17] #274 closed, assigned to nobody

[2019-02-07 10:24] ghost commented on #274
Does this means that the contracts module does not work on multicompany?.

The error received in spanish is "No se ha podido completar la operación por restricciones de seguridad. Contacte con su administrador del sistema. (Tipo de documento: Analytic Line, Operación: write)"

[2019-02-07 10:27] pedrobaeza commented on #274
Yes, it works, but you have to adjust properly the values. The specific error you are mentioning now is about analytic lines, and in this case it can happen in a single-company environment also if you haven't properly adjust the permissions on the user that is creating the invoice (it has to be invoicing manager).

[2019-02-07 11:24] ghost commented on #274
Thanks for your response but it seems is not that permission. User is invoicing manager and I have also gave her several checks permissions related to analytic accounting but doesn't work.

I attach specific permissions to try to clarify the issue.

![captura](https://user-images.githubusercontent.com/34126403/52408443-32304100-2ad3-11e9-8f62-959f90fed8d2.JPG)

[2019-02-07 12:04] ghost opened #275 "Web responsive OCA module incompatibility"
Hi, installing Web responsive OCA module (https://www.odoo.com/apps/modules/11.0/web_responsive/)
and error trigger when clicking on contracts.

We use Odoo 11 and started with this version, is not a migration. I took a look on web_responsive issues but no one is posted and I'm not sure if that's a contract issue or a web_responsive issue.

Thanks in advance.
Error:
Uncaught Error: QWeb2: Template

[2019-02-07 12:13] pedrobaeza commented on #275
I don't think it's something of web_responsive, as we have it working since a lot with both modules together. Please put the steps to have the error.

[2019-02-07 18:01] pedrobaeza commented on #274
Check which record rules are applying to that model. Any way, this is not related to the module itself.

[2019-02-20 16:36] ljsalvatierra-binovo opened #278 "[11.0] contract: Project manager unable to create a project"
A user with only project manager (and employee) permission group established is not able to create a project.
[code]

Update (04/05/2020):

 * When installing addon contract and trying to create a new project with a Project Manager user:

![image](https://user-images.githubusercontent.com/23120306/80956437-88d51980-8e01-11ea-9670-932d7097b97b.png)

Kind regards,
Luis

[2019-03-05 09:22] NL66278 commented on #137
@angelmoya @babatoko If you could test/review my PR it would be appreciated. If PR is accepted, i will also forward port it to 11.0 and 12.0.

[2019-03-14 14:32] max3903 commented on #189
@ygol @alexis-via I have updated the description with the links to the PR. Let me know if my understanding is correct.

@ygol Are you planning to migrate other agreement_* modules? We have resources that may help and I would like to plan according to your effort.

[2019-03-14 14:39] ygol commented on #189
@max3903 I will also migrate "agreement_project".
I should start working on agreement in v12 in 1-2 weeks but it would be nice to have the new agreement (from v10) merged in v12 as it will depend on it.

[2019-03-15 18:34] Boca13 opened #285 "Portal module for v11"
Hello,

I was wondering if there is a module for v11 similar to website_portal_contract, available for v10. I'm seeking to show customers contract information.

https://apps.odoo.com/apps/modules/10.0/website_portal_contract/

I haven't seen anything or any initiative to port it.

Thank you.

[2019-03-15 18:36] pedrobaeza commented on #285
No, there isn't any for now. You can contribute developing it or fund someone for doing it.

[2019-03-15 18:36] #285 closed, assigned to nobody

[2019-03-22 14:17] ygol commented on #189
@max3903 @murtuzasaleh
if you remember, we discussed that the v11 agreement roadmap would be dealt with when migrating to 12.

In the roadmap file (readme) there is mention of moving the account & sale dependencies to external modules. agreement_account doesn't exist and I propose to create it and refactor agreement_legal accordingly.

Regarding "sale", there is already a v11 module agreement_sale

[2019-03-25 07:29] murtuzasaleh commented on #189
@ygol Already @max3903 mentioned in this PR [https://github.com/OCA/contract/pull/220#issuecomment-474382141](https://github.com/OCA/contract/pull/220#issuecomment-474382141)
Please Follow based on that for agreement_legal module.

[2019-03-26 13:09] ygol opened #289 "[10.0][BUG] agreement_account duplicate agreement"
when trying to duplicate (menu action / duplicate) an agreement. There is an error message:

[2019-03-27 10:41] ygol opened #290 "[11.0][BUG] agreement: error on model's field selection in "filed_id""
In "agreement", "agreement.recital", "agreement.section", "agreement.clause", "agreement.appendix";
when selecting a field from the current model in "filed_id" (there is no problem when selecting a relational field).

LOG:

[2019-03-27 16:31] max3903 commented on #290
@ygol Can you update your code?
Line 75 of the current code is not in the method mentioned in your error:
https://github.com/OCA/contract/blob/11.0/agreement/models/agreement_section.py#L75

[2019-03-27 17:11] ygol commented on #290
@max3903 I've checked the problem is also on the oca runbot
http://3363499-11-0-61759d.runbot1.odoo-community.org/web?debug=1#id=1&view_type=form&model=agreement&menu_id=321&action=441

[2019-03-27 18:26] max3903 commented on #290
OK, I was able to reproduce:
[code]

[2019-03-27 18:40] max3903 commented on #290
@ygol Can you try replacing line 55 with:

[code]

[2019-03-27 18:53] ygol commented on #290
hmm. I don't think it works :(
it remove the error but there still the need to populate the variable for the case it is not a related field.

[2019-03-28 13:56] murtuzasaleh commented on #189
@OCA-git-bot agreement_repair #297
agreement_stock #296
agreement_mrp #295
agreement_sale in v12 agreement_legal_sale #294
agreement_maintenance #291

[2019-03-29 22:06] mamojdick opened #302 "[IMP][10.0] different address for invoce and delivery"
Hi,
i tried this [IMP] in  contract/models/account_analytic_account.py , what do you think about?

![immagine](https://user-images.githubusercontent.com/48570656/55265119-24976c00-5277-11e9-8b4c-d439a6f3f0cd.png)

        shipping_id = (
            self.partner_id.address_get(['delivery'])['delivery'] or
            self.partner_id.address_get(['invoice'])['invoice']
        )
        invoice = s

[2019-03-30 02:18] #180 closed, assigned to nobody

[2019-03-30 21:54] pedrobaeza commented on #302
The onchange performed for partner_id in the invoice should be enough for getting the delivery address. Why do you need this?

[2019-03-31 08:37] mamojdick commented on #302
When the invoice is generated by recurrence, the delivery address is blank. The onchange is activated manually. I need to validate the invoice by one click with all addresses populated.
I think that's it or isn't it?

[2019-04-05 09:02] ygol opened #306 "[IMP][12.0] agreement_legal: Amend demo data with new fields"
The "demo" data loaded by the "agreement" module, should be amended with values for the new fields in agreement_legal. Especially "description" and "type" which are mandatory fields.

[2019-04-11 09:45] ygol opened #311 "[IMP][12.0] agreement_legal: include o2m field in dynamic fields"
How would we allow a user to add a o2m fields (and chose subsequent fields.) in a dynamic entry?
for example:
the user would like to add in a section; a table with all records from the o2m lines_ids and list the some fields from this related table: product_id, qty, uom.

TIA

[2019-04-11 13:34] max3903 commented on #311
This start to look like a report designer or studio.

Quick answer is to enter Jinja2 or QWeb code directly in the dynamic entry and make sure it is interpreted when printing.

[2019-04-11 13:35] max3903 commented on #306
:+1:

[2019-04-11 14:33] ygol commented on #311
so we need a way to escape the jinja2/QWeb code in the dynamic entry. Right? How would I get it interpreted?

[2019-04-11 17:03] #290 closed, assigned to max3903

[2019-04-16 18:41] max3903 commented on #311
@ygol The user would need to enter something like (QWeb example):

[code]

[2019-04-17 07:18] ygol commented on #311
yes I get this part but how do I escape it in the html field to get it interpreted by the render function?

[2019-04-23 14:01] pedrobaeza commented on #275
Closing as no answer.

[2019-04-23 14:01] #275 closed, assigned to nobody

[2019-04-30 10:35] ygol commented on #311
@max3903 can you help?

[2019-04-30 13:22] max3903 commented on #311
@ygol

Same as the other fields: you compute the dynamic field from the user entry:
https://github.com/OCA/contract/blob/12.0/agreement_legal/models/agreement_appendix.py#L22
https://github.com/OCA/contract/blob/12.0/agreement_legal/models/agreement_appendix.py#L90

and include it in the view:
https://github.com/OCA/contract/blob/12.0/agreement_legal/report/agreement.xml#L65

[2019-05-05 09:43] NL66278 commented on #124
Solved here: https://github.com/OCA/contract/commit/3c0c73c0f5aa63ae49a466c724722f938ca5eb87

[2019-05-05 09:43] #124 closed, assigned to nobody

[2019-05-05 18:13] #271 closed, assigned to max3903

[2019-05-06 17:57] msassmann opened #322 "Dynamically add contract lines"
Hi!

Is it possible to dynamically add a contract line depending on another 'manually' added contract line? Which method should I override to achieve this?

Thanks!

[2019-05-06 18:34] pedrobaeza commented on #322
You can overwrite `create` or `write` methods.

Closing as no real issue.

[2019-05-06 18:34] #322 closed, assigned to nobody

[2019-05-07 14:27] Ilyasse-ouza8 opened #323 "Templates section/ new agreement dont copy section clauses"
when i try to make a new agreement from a template , the created agreement dont have it section clauses , and the clauses will be just duplicated and related to the template.

[2019-05-07 14:33] pedrobaeza commented on #323
Version? Module? Screenshots?

[2019-05-07 17:30] Ilyasse-ouza8 commented on #323
v12,  i think it got fixed , i just added  copy =true in  clauses_ids field  that belongs to  agreement.section  model .

the problem was that the copy in the method

  couldn't duplicates the clauses of a section

![image](https://user-images.githubusercontent.com/45516560/57320154-c3707d00-70ed-11e9-951d-bf7b8acee43c.png)

[2019-05-08 07:26] ygol commented on #311
@max3903 I am almost there. Here's the syntax that works when added to the html field to insert a table referencing a o2m:

[code]
I still need to figure:
1. how to use/include a control structure:
[code]
2. how to use a 2nd loop inside the first one to be able to add the values of a O2M inside the first O2M.

[2019-05-08 07:31] ygol opened #325 "How to define a prefix to the section's numbering"
It will be useful to be able to replace the simple numbering for the sections with a provided prefix in the type of:
"Section 1", "Section 2", ...
or
"Article 1", Article 2: ...

[2019-05-08 07:39] ygol opened #326 "[12.0] agreement_legal: how to reference a certain specific section?"
Let say I have 5 sections. When the report is generated the templating will number them 1 to 5.
**Is there a way to reference the 3rd section?**

for example:

I would like to have a text in the 4th section that goes:

now in the case I delete the 2nd section the text would automatically read:

TIA

[2019-05-08 10:31] Ilyasse-ouza8 commented on #323
this morning i got this exception from the modification `copy=True`  saying that object is not subscriptable , anyone knows the problem ?

[code]

[2019-05-08 10:54] Ilyasse-ouza8 commented on #323
the problem only happens when i assigne an agreement to the clauses of a section , in the `agreement` field below.
![image](https://user-images.githubusercontent.com/45516560/57370250-36760400-717f-11e9-93a2-22f362e8be64.png)

[2019-05-08 13:32] max3903 commented on #311
[code]

https://stackoverflow.com/questions/40620823/if-statement-in-jinja2-template/40620902

[2019-05-08 13:33] max3903 commented on #325
Why not use the title?

[2019-05-08 13:36] ygol commented on #325
because then you would have to modify all the titles when you remove a section.

[2019-05-08 13:40] max3903 commented on #326
I believe you can achieve this with anchor and a meaningful name for the id.

something like
[code]

[2019-05-08 13:51] max3903 commented on #325
You can do it with CSS:
https://stackoverflow.com/questions/5568229/how-can-i-prefix-ordered-list-item-numbers-with-a-static-string-using-css

[2019-05-09 05:29] ygol commented on #326
thank you @max3903 but I need it in a pdf. It is the number I would like to target/use

[2019-05-09 06:49] ygol commented on #325
thanks @max3903
It works nicely by adding:

[2019-05-09 06:49] #325 closed, assigned to max3903

[2019-05-09 13:13] max3903 commented on #326
Webkit is converting from html + css to pdf...

[2019-05-10 08:16] #326 closed, assigned to max3903

[2019-05-10 08:18] #311 closed, assigned to nobody

[2019-05-12 11:51] kittiu opened #327 "[12.0][BUG] Agreement is showing the wrong view"
I installed both agreement and agreement_legal modules. I saw in code that agreement_legal has much bigger view than the view from agreement module.
But when I play with it, Agreement still show the view from agreement module, which has only few field.
![image](https://user-images.githubusercontent.com/1973598/57581775-8be74380-74e6-11e9-97af-4fd8c4cd1abf.png)

Only when I go to view menu and dele

[2019-05-12 11:57] kittiu opened #328 "[12.0] Question on Agreement vs Contract."
Hi, I am playing around with the agreement and contract module. On v11, I saw some attempt to link analytic (the contract) with agreement. There was even "agreement_id" in account.analytic.line which seem to get the financial performance of the agreement (in Agreement's Performance tab). However, from the source code that I dig, I can't find anywhere that assign agreement_id to analytic line.

So,

[2019-05-12 12:40] sbidoul commented on #328
In my understanding, the `contract` module is specifically for managing recurring invoicing.

In the future, contracts will be decoupled from analytic accounts. Preliminary work for this is split has been done in https://github.com/OCA/contract/pull/207.

It makes sense to provide links between contract and agreement as a glue module.

[2019-05-12 21:35] bealdav commented on #327
Have you tested agreement_sale ?

[2019-05-13 01:07] kittiu commented on #327
Yes, and the result of the agreement form view is the same (show only 6 fields)

![image](https://user-images.githubusercontent.com/1973598/57590422-d227bb80-7555-11e9-9779-8b8ad34a54db.png)

And when I click to install agreement_sale, the Agreement menu moved to Sales/Config
But when I upgrade the "agreement" again, the menu Agreement move back to its own parent menu too.

May be because the sort

[2019-05-13 01:14] kittiu commented on #328
@sbidoul thank you for the answer. May I summarize my understanding, please correct if I am wrong.

- **Contracts will be decoupled from analytic accounts** --> contracts will not inherit account.analytic.account like project anymore. It will of of its own object.
- **It makes sense to provide links between contract and agreement as a glue module** --> It should have linkage in the future, but it

[2019-05-13 06:55] bealdav commented on #327
cc @max3903

[2019-05-13 10:07] sbidoul commented on #328
Correct, that is the plan. When it will happen is not clear, as I would prefer to merge #207 first, and then work further on the split, with a proper migration.

That is my understanding yes. Disclaimer: I'm not familiar with the agreement module.

If you are interested in recurring invoicing, #207 is the best place to start.

[2019-05-13 10:57] kittiu commented on #328
@sbidoul thank you very much for clarification :) Make more sense to me now.

[2019-05-13 10:57] #328 closed, assigned to nobody

[2019-05-13 13:57] max3903 commented on #327
Hello @kittiu,

I installed agreement_legal and when I create an agreement in Agreement, I get what you called the bigger view.

What are the steps you used to see the view from the agreement module?

[2019-05-13 13:59] max3903 commented on #323
@Ilyasse-ouza8 Can you test the fix at #324 and confirm the bug is solved?

[2019-05-13 14:07] max3903 commented on #328
@kittiu

`agreement_legal` module aims to support the activities of a legal team in a company and allow them to manage the content of legal documents like agreements, contracts, letter of intention.

In `agreement_legal_sale`, we have the relationship between agreement and analytic account to track the financial performance of the agreement. The performance tab should be removed and a smart button

[2019-05-13 14:51] Ilyasse-ouza8 commented on #323
the copy works perfectly , all it needs now is just to assign the clauses to the new agreement and detache them from the template(because in the new agreement clauses are assigned to the template )

[2019-05-13 16:02] max3903 commented on #323
@Ilyasse-ouza8 Fixed.

[2019-05-13 17:51] Ilyasse-ouza8 commented on #323
@max3903  perfect.

[2019-05-14 02:36] kittiu commented on #327
@max3903 I do the exact following step
1. Create new database = odoo12_contract (country = Thailand)
2. Install module "agreement_legal"

Open an Agreement and I get the small view. So my guess that your instance do not have problem is because of locale when you installed postgres. I experienced the sorting of database record can be different for different installation.

In that case, we can fix b

[2019-05-15 01:05] max3903 commented on #327
@kittiu Like this https://github.com/OCA/contract/pull/330/files?

[2019-05-15 01:35] kittiu commented on #327
Yes!

[2019-05-15 13:19] #323 closed, assigned to max3903

[2019-05-16 08:12] katyukha opened #331 "[12.0][BUG] agreement_legal not installable"
Hello,

I have just spotted that module `agreement_legal` is not installable: [Travis Log](https://travis-ci.org/OCA/contract/jobs/532814199#L1573)

[2019-05-16 21:45] littlebunyip opened #332 "[12.0] Create sale as Sales Order or Invoice option as per version 10"
In version 10 the contract has the option to create a sales order or an invoice. In version 12 I cannot find this. Wondering if this is being worked on as it is  part of my business workflow to have the contract generate a SO not an invoice?

[2019-05-17 07:54] pedrobaeza commented on #332
That's the module `contract_sale_generation` and it's not yet migrated.

[2019-05-17 07:54] #332 closed, assigned to nobody

[2019-05-17 10:09] littlebunyip commented on #332
Thanks pedro.

Where is the contract_sale_generation module? Was just wondering what is needed for the migration.

[2019-05-17 10:10] pedrobaeza commented on #332
https://github.com/OCA/contract/tree/10.0/contract_sale_generation

Migrate it requires technical knowledge. Migration for 11.0 in on #329

[2019-05-17 10:15] littlebunyip commented on #332
Thanks.

[2019-05-17 15:22] max3903 commented on #331
I can't reproduce locally with a new database.

[2019-05-17 15:24] pedrobaeza commented on #331
@max3903 Travis has gone red in your last merge: https://github.com/OCA/contract/commit/ceb2133ae570775385affd9fc00bcf4bef81ca3a

In local you can have a dirty environment.

See Travis log for latest 12.0 branch:

https://travis-ci.org/OCA/contract/builds/532814197

[2019-05-17 15:38] max3903 commented on #331
@pedrobaeza It only happens with demo data. My environment is clean ;)

[2019-05-17 15:41] pedrobaeza commented on #331
Uhm, the error is about a view, but I haven't dug more. Any way, please fix it.

[2019-05-17 19:57] max3903 commented on #331
@katyukha Please review #333

[2019-05-17 20:49] #327 closed, assigned to max3903

[2019-05-18 22:36] celm1990 opened #334 "product contract migration to V12 and adapt to point of sale"
Hi comunity,

I was  intereste for migrate module product_contract to Version 12, but I need product_contract for point of sale, current module worked with sales order.
Think is need moved [this fields](https://github.com/OCA/contract/blob/10.0/product_contract/models/product_template.py#L11-L15) to common module([module contract](https://github.com/OCA/contract/tree/12.0/contract) if I can do cha

[2019-05-19 09:35] sbidoul commented on #334
@sbejaoui can you provide pointers to the current PRs here?

[2019-05-19 14:07] pedrobaeza commented on #334
For me, you should keep `product_contract` as is and then put on top of it the new module `product_contract_pos`.

[2019-05-19 14:47] celm1990 commented on #334
but if only you need `point of sale`(not need `sale `module)?, at inherit of `product contract `add dependency of `sale `module, is unnecessary to me.

[2019-05-19 14:51] pedrobaeza commented on #334
Yeah, but it's not the normal flow, and changing current base only for that abnormal flow will cause a lot of migration problems.

[2019-05-19 14:51] pedrobaeza commented on #334
(sorry, closed by accident)

[2019-05-19 14:59] celm1990 commented on #334
Ok, but if not add dependencies to `product_contract`, and add [this fields ](https://github.com/OCA/contract/blob/10.0/product_contract/models/product_template.py#L11-L15) on product, can repeat fields definition, but not add dependency is other option.

module `product_contract`:

- Add fields on product template
- add logic for create contract from sales order lines with products with contract

[2019-05-19 15:14] pedrobaeza commented on #334
As said, I prefer that `product_contract_pos` depends on current `product_contract`.

[2019-05-20 08:57] sbejaoui commented on #334
The migration for product_contract to v12 is in PR #208 with many improvement and new features.

[2019-05-20 16:34] max3903 opened #335 "[IMP] agreement_legal: multi-level field for dynamic content"
The dynamic fields work with 2 levels. It is fine for the description, however for the recitals, sections, clauses and appendices, we are limited to the fields of the agreement. The user cannot select the customer name of the agreement from the recitals.

The idea is to use part of the domain widget to have a popup window like this:
![Screenshot from 2019-05-20 11-32-43](https://user-images.github

[2019-05-20 20:30] max3903 commented on #335
@patrickrwilson

[2019-05-20 23:37] #331 closed, assigned to max3903

[2019-05-22 16:18] max3903 commented on #335
Ping @smangukiya

[2019-05-27 14:55] rafaelbn commented on #138
This is solved in https://github.com/OCA/contract/pull/321 thanks to @NL66278

[2019-05-27 14:55] #138 closed, assigned to nobody

[2019-05-27 16:24] rafaelbn opened #338 "docker: Error response from daemon: repository oca-contract not found: does not exist or no pull access."
Hello @gurneyalex , all branchs in contract are ared this is the messages. Could you please help us?

https://runbot.odoo-community.org/runbot/repo/github-com-oca-contract-110

![2019-05-27_18-18-10](https://user-images.githubusercontent.com/8736623/58431048-617fb380-80ac-11e9-83da-bf812b52e233.png)

[code]
https://runbot2.odoo-community.org/runbot/static/build/3371268-12-0-dd27e9/logs/job_20_test

[2019-05-30 18:21] #335 closed, assigned to max3903

[2019-06-01 21:23] amnyqb opened #341 "[IMP] agreement: Add products on PDF, email to customer and access on the portal"
- [ ] Showing ordered products in the PDF
Under the agreement tabs, there is a tab for products, filling the products doesn't show when printing the agreement document. Filling the products tabs should make it easy to instantiate the order and invoice.

- [ ] Add a button to send the contract PDF to the customer and keep email discussion in the chatter
It would be better to allow sending the agree

[2019-06-02 20:51] pedrobaeza commented on #341
These are no bugs, but improvements, isn't it?

[2019-06-03 12:18] amnyqb commented on #341
point no.1 seems like a problem.

for 2 and 3, yes, you can consider them as improvements.

[2019-06-03 18:55] #306 closed, assigned to nobody

[2019-06-03 19:02] max3903 commented on #341
@amnyqb This is the current state of the module and the expected features set. I understand it doesn't meet your requirements. If you want to work on this together, please contact us by email at contact@opensourceintegrators.com.

CC: @gmader, @richosi

[2019-06-05 14:15] ygol opened #342 "[12.0][BUG] agreement_legal: new agreement button (template form)"
1. Create a template
2. add at least 2 sections
3. click on button "new agreement" generate the following error:

[code]

[2019-06-05 14:35] ygol opened #343 "[12.0][BUG] agreement_legal: company's primary contact selection"
1. edit an agreement.
2. select a primary contact for the company
[code]

[2019-06-05 16:43] ygol commented on #343
same problem for field **"notification_address_id"**

[2019-06-05 17:32] ygol opened #345 "[12.0][BUG] agreement_legal: new clause doesn't get agreement_id"
1. create a new section
2. select "clauses" tab
3. create clause(s)
4. save clause
5. save section

the created clause doesn't have "agreement_id" value updated

[2019-06-05 23:26] rafaelbn commented on #137
I close this issue as it has been done in https://github.com/OCA/contract/pull/282

[2019-06-05 23:26] #137 closed, assigned to nobody

[2019-06-10 11:02] bylli79 opened #347 "Add Pro-forma option"
Is it possible to insert pro-forma creation as an option?
Thank you

[2019-06-10 11:04] pedrobaeza commented on #347
Which version?

[2019-06-10 12:01] bylli79 commented on #347
The version is this: 12.0.1.0.0

[2019-06-10 12:02] pedrobaeza commented on #347
There is no pro-forma invoice, but sales order. Use `contract_sale_generation`, which is in pull requests right now.

[2019-06-10 12:02] #347 closed, assigned to nobody

[2019-06-10 12:08] bylli79 commented on #347
Thanks for your help

[2019-06-14 17:45] max3903 opened #349 "[IMP] agreement_serviceprofile: Add a state field"
# agreement.serviceprofile

- [x] Add a selection field State (state) with Draft, In Progress, Suspended, To Renew, Terminated, Cancelled
- [x] Add a many2one field "Service" (product_id) to product.template. The list of products is filtered with a domain: type = service.
- [x] Add the clickable workflow on the form view to move from one state to another
- [x] Add a Kanban view in the Dashboard me

[2019-06-14 18:23] max3903 commented on #349
FYI @patrickrwilson @ygol

[2019-06-14 20:42] max3903 opened #350 "[IMP] agreement_legal_sale: Service tab on product.template"
# product.template

- [x] Rename the "Agreement" tab "Service" on the form view

[2019-06-17 16:22] marcos-mendez opened #351 "Error ading product to Contract"
Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/odoo/http.py", line 653, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/usr/lib/python3/dist-packages/odoo/http.py", line 312, in _handle_exception
    raise pycompat.reraise(type(exception), exception, sys.exc_info()[2])
  File "/usr/lib/python3/dist-packages/odoo/tools/pycomp

[2019-06-17 16:25] pedrobaeza commented on #351
Version? Steps to reproduce?

[2019-06-17 16:25] marcos-mendez commented on #351
Just adding a new product to the contract

Odoo V11.0

[2019-06-17 16:27] pedrobaeza commented on #351
Uhm, I don't think so... I'm using it since a long. It seems an interaction with other third-party module you have. Check that is working properly in https://runbot.odoo-community.org/runbot/110/11.0

[2019-06-17 16:27] #351 closed, assigned to nobody

[2019-06-17 16:32] marcos-mendez commented on #351
Whell How can it be if i just git cloned the OCA/contract repository?

[2019-06-17 16:32] pedrobaeza commented on #351
Please try to reproduce it in the runbot link that I have put you.

[2019-06-17 16:55] jguenat opened #352 "Why analytic account?"
Hello,

First thanks for this module, it's very useful :)

I have a question regarding the base business logic design of this contract module.
Why is each contract an analytical account? Could it work without inheriting account.analytic.account model?
Because if I want to use odoo analytic accounts to do other things, the contracts generates a lot of "polluting" analytic accounts.
I'm new to busin

[2019-06-17 17:42] sbidoul commented on #352
This is for historical reasons (inherited from Odoo 8 and before).

#207 splits contracts from analytic accounts, among other changes.

[2019-06-17 17:42] #352 closed, assigned to nobody

[2019-07-18 00:58] brian10048 commented on #349
@max3903 should the state be configurable and create a new object for it with the states you mentioned as data?

[2019-07-18 01:06] max3903 commented on #349
@brian10048 I guess you are asking because you have a different workflow... so yes!

[2019-07-19 08:23] 0xA537FD opened #356 "[10.0][BUG] contract: 'cron_recurring_create_invoice' doesn't consider a multi company setup correctly"
We are running a multi company setup of odoo and a couple times we've experienced an issue where the recurring invoices were not created even though they should be (according to the``recurring_next_date``).

So I had a little peek at the contract module and it looks like the ``cron_recurring_create_invoice`` method in the **account.analytic.account** model doesn't consider a multi company setup co

[2019-08-02 18:58] carlo-github opened #359 "Agreement report from sale order"
1- installed the modules agreement_legal_sale
2- created a sale order with 2 product and the agreement template "[BUY-VOIP013] SIP-ISDN gateways"
3- in the agreement I added a line in Section where I put in Content
${object.agreement_id.sale_id.order_line.name or ''}
4- print with Contract Document obtain the error:
[code]

os: ubuntu 18.04
Odoo 12.0-20190705
odoo db new clean with demo data
agrem

[2019-08-02 19:26] max3903 commented on #359
@carlo-github 2 things here:

1. The correct process is to validate the sales order first. That will create the agreement with the content from the template and the customer information from the sales order. It will also copy the sales order lines to the agreement lines.
2. If you want to show agreement lines information in the content (of a section, clause, appendix or recital), you need to loop

[2019-08-02 19:28] max3903 commented on #359
@osi-scampbell Can you fix this to avoid the stacktrace? Let's show the first record if we get multiple ones.

[2019-08-04 09:06] carlo-github commented on #359
Thank you for the answer.. but as I'm not so skilled in this issue.. if you are so kind to give me more information or example.. willl be very appreciate.. Yes, I tried with an order with a single line and I was able to print it in the agreement, but with more then 1 line I had some trouble. My goal is to print in the agreement obtained from the SO the lines in it..

[2019-08-05 19:04] osi-scampbell commented on #359
@carlo-github For your problem, the best way to implement @max3903 solution is to open the Section and add the following code. Make sure you are in the 'Code View' of the content field.
![image](https://user-images.githubusercontent.com/39602586/62488401-143d5380-b779-11e9-83a8-cb01c0b67060.png)

You should get the following output:
![image](https://user-images.githubusercontent.com/39602586/62488

[2019-08-06 17:33] carlo-github commented on #359
@osi-scampbell
Thank you very much for the suggest.. I was able to print what I searched.
With this code I print the values..
[code]

**Question 1**
I would like to print only some products from the SO depending on the product category.. for instance the product with category 1/2/5/.. I suppose need one if statement but I'm a beginner and I tried to search on the web for a solution.. every time th

[2019-08-13 20:00] marcos-mendez opened #362 "Error on Agreement Object"
The error is generated when any user assigned to Agreement User or Manager tryes to edit a contact or access the agreement module
[code]

[2019-08-31 19:42] #349 closed, assigned to max3903

[2019-09-03 05:47] jgrandguillaume opened #369 "[RFC][WMS] Service definition policies"
Source : https://docs.google.com/document/d/1mct6bFFWJqW01wGFcjc-uQNEjyCxvh6Y9TuFdRhe-b0/edit#
Part of: https://github.com/OCA/wms/issues/1

**This RCF to propose a POC implementation for the following**

- Be able to manage the piloting of several parameters related to the fulfillment of a sale order in terms of delays, packing, delivery, invoicing, etc.
- The configuration of the parameters must

[2019-09-04 23:00] #338 closed, assigned to nobody

[2019-09-05 07:58] bealdav commented on #369
Hi all,

As indicated on mailing list, I propose here to reuse for this purpose

https://github.com/OCA/contract/tree/12.0/agreement
https://github.com/OCA/contract/tree/12.0/agreement_sale

Agreement object is completely versatile

You may move these 2 modules in a new repo if you want.

[2019-09-05 13:08] max3903 commented on #369
@jgrandguillaume

I haven't taken the time to review all your documentation but just as an FYI, we use product.template to host service definition information: i.e we defined a product "Internet service (Fixed IP)" with a download and upload speed.

When this service is sold to a customer, usually through a contract/agreement (same object mentioned by David), the service generates a service profil

[2019-09-05 14:10] gurneyalex opened #370 "agreement_legal_sale: crash when confirming quotation"
Steps to reproduce:

* set a product as "Create a Service Profile"
* create a draft SO with that product, set an agreement template
* confirm the SO

Expected: not sure, but no crash :)

Actual:
Error:

[code]

Seems to be coming from https://github.com/OCA/contract/blob/725c660482dc909e7a13284a6d8e9627c8d83b02/agreement_legal_sale/models/sale_order.py#L41 which creates a agreement.serviceprofile

[2019-09-05 14:20] gurneyalex opened #371 "agreement_legal_sale: README mentions BOM"
The README says

[code]

I see nothing such in the source code. What I see is that lines with a product which is_serviceprofile = True trigger the creation of  as serviceprofile (which fails, see #370)

[2019-09-05 14:32] gurneyalex commented on #369
@bealdav @max3903 I find it not intuitive at all how to use the various modules. Was the convergence evoked in #192 done? I guess so...

@max3903 the agreement_serviceprofile could use some documentation... How it is meant to be used is totally unclear (and in it's current status it is broken when used with agreement_legal_sale, see #370). Same for agreement_legal and agreement_legal_sale

[2019-09-05 15:21] bealdav commented on #369
@gurneyalex you can call me if you want

[2019-09-05 15:31] bealdav commented on #369
As I can see things, it seems base module agreement and agreement_sale are not confusing because they are really simple.

But I join Alex to ask why is there a m2o towards `agreement.serviceprofile`
https://github.com/OCA/contract/blob/725c660482dc909e7a13284a6d8e9627c8d83b02/agreement_stock/models/stock.py#L26

in a module named agreement_stock.

In agreement_stock, purpose is clean: stock and ag

[2019-09-05 17:26] max3903 commented on #371
@gurneyalex Documentation has been updated. There is no dependency on MRP yet. That may come later in an additional module.

[2019-09-05 17:44] max3903 commented on #369
Let's not hijack @jgrandguillaume issue... :)

I have a talk at OCA Days in LLN regarding agreement_legal. You are all invited to come and shoot me...

[2019-09-06 06:58] #370 closed, assigned to max3903

[2019-09-06 06:58] #371 closed, assigned to max3903

[2019-09-06 13:27] #350 closed, assigned to max3903

[2019-09-11 23:20] fdesrosiers3 opened #377 ""Does not create the Delivery Order nor the Manufacturing Order"
module: contract
version: 12.0

**Steps to reproduce**
- ...Create Contract, Create Invoice.

**Current behavior**
   There is
      - no way to calculate the delivery price.
      -  for products that are to be manufactured, no work order is created.
      -  no delivery document created. So, I do not know the scheduled delivery

**Expected behavior**
         - delivery method button
          -

[2019-09-12 07:17] pedrobaeza commented on #377
`contract` are not for all that operations. You can try `contract_sale_generation` (at the moment, on v10, but with PR to 11.0) for generating sales orders, that triggers all you mention on confirmation.

[2019-09-12 07:17] #377 closed, assigned to nobody

[2019-09-12 10:16] fdesrosiers3 commented on #377
Hello Pedro, I am on V12, so the contract_sale_generation may not work.
Any chance of getting this on v12

[2019-09-12 10:17] pedrobaeza commented on #377
No if nobody works on it.

[2019-09-12 10:37] fdesrosiers3 commented on #377
There is a very complicated work around.
Which is install contract_sale_invoicing.
for each period of the recurring invoice, each time create a sales order with the same analytic account as the customer contract.  But that is way too hard for end users

[2019-09-13 09:44] pedrobaeza opened #378 "[12.0] contract: Without demo data"
We need some demo data to showcase the module.

[2019-09-13 09:45] pedrobaeza commented on #378
cc @sbejaoui

[2019-09-14 14:04] #198 closed, assigned to nobody

[2019-09-25 08:00] utillity opened #380 "Create invoices ahead of time for cashflow forecast"
Hi,

first of all thanks for this great module! I would like to be able to set the amount of days the invoice should be created ahead of the next billing period, so that it can be reflected in the cashflow forecast.

regards, Tilli

[2019-09-25 08:02] utillity opened #381 "Delete and recreate invoice"
Hi,

if a auto-generated invoice has been deleted by accident, is there a way to regenerate the last invoice date by checking the actual invoices? Currently, the field "Last Date Invoiced" is not editable and will cause incorrect #START# replacement on generating the replacement invoice.

regards, Tilli

[2019-09-25 08:02] pedrobaeza commented on #380
Which "cashflow forecast" are you talking about?

[2019-09-25 08:48] sbejaoui commented on #381
Hi,
For now, you have to duplicate an existing invoice generated by the contract and change the dates.

When we added this field, we mainly focused on data integrity, so we set it to readonly.
In the real world, the wrong manipulations happen, so we have to find a way to solve this kind of scenario.

I had thought of a security group that allows some users to change this field and take data integr

[2019-09-25 15:46] gurneyalex opened #382 "move some concepts out of agreement_legal"
For a development I'm working on, I need some concepts on agreements that are introduced by agreement_legal, but without all the bells and whistles that are provided by that module.

mainly:

* the agreement.type model (without necessary the subtypes)
* the is_template field on agreement

I propose making a PR which would move these definitions in the base agreement module on which agreement_legal

[2019-09-25 15:47] pedrobaeza commented on #382
For me seems reasonable

@max3903 ?

[2019-09-25 15:48] gurneyalex commented on #382
@max3903 @bealdav is this ok with you?

[2019-09-25 16:22] utillity commented on #380
the open invoices amount to be paid

[2019-09-25 16:22] utillity commented on #381
ok, thanks. either that or a button "recalculate last date invoiced"

[2019-09-25 16:57] bealdav commented on #382
@gurneyalex It sounds possible for me to be compatible with our use cases if these fields are not required.
Just a question. What is the impact (behavior) in other models like sales ?

[2019-09-25 17:19] pedrobaeza commented on #380
Yeah, but how do you check that? Only seeing invoices?

[2019-09-25 17:19] pedrobaeza commented on #334
Closing this for now.

[2019-09-25 17:19] #334 closed, assigned to nobody

[2019-09-25 17:20] pedrobaeza commented on #197
Any news about this?

[2019-09-25 17:20] pedrobaeza commented on #380
@sbidoul did you finally do something about this?

[2019-09-25 17:35] sbidoul commented on #380
We made https://github.com/OCA/contract/pull/283 for this purpose.

[2019-09-25 19:12] utillity commented on #380
I use the report in conjuntion with the analytics accounts which will also show invoices not yet paid.

[2019-09-25 19:13] utillity commented on #380
feel free to close this issue, then

[2019-09-25 21:39] sbejaoui commented on #381
you mean odoo should look for the last invoice linked to the contract line and define the last date invoiced accordingly?

[2019-09-26 19:24] utillity commented on #381
yes, only on request (if a corresponding button is pressed)

[2019-09-27 07:01] gurneyalex commented on #382
@bealdav I would like to keep the agreement module as neutral as possible. Currently there is no real business logic in there. AFAIU, you are using this module to trigger onchange methods on the SO (and possibly in other places), which is fine, but I could find a way to cover my customer's needs with just this: they call for a kind a dynamic agreement on the SO which is a combination of things whi

[2019-09-28 11:10] kitatek opened #384 "Payment Terms and Comment area missing"
Hello,

When invoices are created two fields are populated in an inconvenient manner:

1. the payment term is blank
2. the long description text area below the invoice is filled with the company default terms

The proper implementation would rather be:

1. the payment term is pulled from the contract payment term field (hence to be added in contract model and form)
2. the long description should b

[2019-09-28 11:12] pedrobaeza commented on #384
Odoo version? Steps to reproduce the problem?

[2019-09-28 11:22] kitatek commented on #384
Odoo 10 community

Steps:

1. In menu Sales - Configurations - Settings - Quotations & Sales - Default Terms and Conditions *  : add some default sales terms.
2. Create a contract
3. Generate an invoice
4. The invoice has a blank Payment Term, and the Comment area in the printed invoice includes the  Default Term and Conditions

[2019-09-28 11:24] pedrobaeza commented on #384
But has the partner a payment term set?

About the default term and conditions, what do you expect to appear there?

[2019-09-28 11:27] kitatek commented on #384
Invoice generation from a contract should have consistent behavior with invoice generated from a sales order :
payment term taken from the contract
comment area taken from the contract

I did not check the partner payment term, as actually I usually set it on the Sales Order. Will test and let you know.

[2019-09-28 11:40] kitatek commented on #384
OK, it works when setting a partner Payment Term, that is not perfect but a fair workaround.
Thank you Pedro for the hint !

For the invoice comment area, any thoughts ?

[2019-09-28 13:50] pedrobaeza commented on #384
Contract comments are internal comments that are not supposed to be passed to the invoice comment area. The field was not intended for that.

[2019-09-28 14:06] kitatek commented on #384
Actually I did not see any contract comment field in the form, I am referring to the Invoice comment field, that is in the form and printed in the PDF report for the customer.

Actually, to further think about it, even the default behavior from Sales order to Invoice is not perfect: T&C in the order do not conveniently pas as-is to the Invoice.
Ideally, there would be several fields:

1. T&C porti

[2019-09-28 14:07] pedrobaeza commented on #384
As said, that are missing features and nobody has needed for now, so that's why it's not implemented. You can develop that feature or fund someone to do it.

[2019-09-28 14:13] kitatek commented on #384
We have never developed on Odoo but that seems tempting.
I would see those things to add:

1. one text area for contract T&C and sign-off
2. printing of this text in the PDF report
3. one text area to be passed to Invoices
4. passing this text to the invoice when creating it

Does this really require development or can be done by configuration only (like changing the PDF report XML file, and addin

[2019-09-28 14:19] pedrobaeza commented on #384
It requires development, so yo need developer skills for that I'm afraid. Any way, you should go IMO to 12.0 first for taking advantage of lots of improvements in Odoo itself and in this module in particular

[2019-09-28 17:45] rafaelbn opened #385 "Request improvement in Contracts: Show contracts in Portal"
Hi,

I would be very nice that Customer can see their contracts in the Odoo Portal like quotations, sale orders, invoices and so on...

Now in v12 we don't need website :smile: In the past we had:

- https://github.com/OCA/contract/issues/45
- https://github.com/OCA/contract/tree/10.0/website_portal_contract

Something similar as we did with Business Requirements in https://github.com/OCA/business

[2019-09-29 08:38] pedrobaeza commented on #385
I wrote that as a track for OCA Days code sprint: https://docs.google.com/document/d/10e0nZKsSK2Fm-_Me-g3yoyVEVpKQK9uUqCmRZ8LIvjw/edit#heading=h.b0u15ky7wz0g

[2019-09-29 21:31] OCA-git-bot opened #386 "Migration to version 13.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-13.0

# Modules to migrate

- [ ] agreement --> base_contract - by @newtratip -
- [ ] agreement_legal_sale --> contract_legal_sale
- [x] agreement_maintenance - By @olgamarcocb - #762
- [ ] agreement_mrp --> contract_mrp
- [ ] agreement_project --> contract_project
- [ ] agreement_repair --> contract_repair
- [ ] agreement_s

[2019-09-30 10:12] newtratip commented on #386
I'm working on `agreement`

[2019-09-30 11:10] max3903 commented on #386
Hello @newtratip

Beware that we are discussing converging `contract` and `agreement` in version 13 to have a complete solution with recurring invoices, integration with operations and legal content management.

Please open a specific issue if the migration of `contract` and `contract_sale` is not clear and needs to be discussed further.

CC: @alexis-via @sbejaoui

[2019-09-30 12:13] newtratip commented on #386
ok

[2019-10-05 17:30] Evenecer opened #389 "Template fallback"
Hello

when I create a contract and I want to print it I get an error

500: Internal Server Error
Template fallback
An error occured while rendering the template 1944.

If this error is caused by a change of yours in the templates, you have the possibility to reset one or more templates to their factory settings.

 report_contract_document

I give the reset and the error is not fixed

rastreando u

[2019-10-06 11:46] pedrobaeza commented on #389
You are not indicating the version, but it seems you haven't updated the module in the DB.

[2019-10-15 12:39] sbejaoui opened #395 "[12.0] - product_contract module dependency to sale_start_end_dates"
In v12, we implemented a link between sale orders and contracts  in `product_contract` module.

We added several fields to sale order lines to be used at sale order confirmation in order to create a new contract.

From this fields there are `start_date` and `end_date` that @sbidoul and @hparfr proposed to depend on [`sale_start_end_dates`](https://github.com/OCA/sale-workflow/tree/12.0/sale_start_

[2019-10-15 12:43] sbidoul commented on #395
:+1:

[2019-10-15 12:52] pedrobaeza commented on #395
OK for me too, although I don't like the plural in the other module name, but that's another question.

[2019-10-15 19:33] #382 closed, assigned to gurneyalex

[2019-10-17 07:42] gurneyalex commented on #386
@max3903

Hello, can you point me to this discussion? I have some interest in this with the work about service level agreement / terms and conditions (and this is related to #397 and #398 and the work I initiated on #396 for 12.0 and for which I need a migration path to 13.0)

cc @alexis-via @sbejaoui @i-vyshnevska

[2019-10-17 13:26] max3903 commented on #386
@gurneyalex The discussion happened during the OCA Days in LLN. The result of the discussion is the description of this issue (renaming/merging modules).

[2019-10-21 13:30] flotho commented on #189
Hi,

Sorry if my question looks like weird, but I can't see any replacement for contract_sale_generation (in v10)?
Does the v12 contact already handle sale order generation? Is it planned ?

thanks for your feedback

[2019-10-21 13:32] pedrobaeza commented on #189
https://github.com/OCA/maintainer-tools/wiki/%5BFAQ%5D-Missing-modules-in-migration-issue-list

[2019-10-22 09:14] gurneyalex commented on #386
thanks

[2019-10-24 11:04] sbidoul commented on #386
I personally generally agree with the idea of converging contract and agreement, as briefly discussed in LLN. The details on how to do this are far from clear in my mind, though. Would it be worth fleshing out the plan a little bit?

A few notes:
- the `contract` name is inherited from Odoo <= 8, IIRC
- the contract module it is almost exclusively focusing on recurring invoicing.
- a recurring inv

[2019-10-24 13:10] max3903 commented on #386
My understanding of the different use cases and a proposal of module name:

@alexis-via needs an object with a name --> base_contract
Some people needs a little more info than just a name --> contract
@ygol and I needs the legal content management --> contract_legal
@sbidoul and @sbejaoui need the recurring invoicing --> contract_account
@gurneyalex and I need integrations with the other Odoo modu

[2019-10-24 14:21] ygol commented on #386
Another use case is the use of "framework contract" which is an extension of agreement_legal (possibly), where prices and/or cost are set depending on being within/outside of the contract

[2019-10-24 14:33] bealdav commented on #386
Since contract no more depends of analytic, I'm agreed with @sbidoul.
He has my agreement to go on with contract only ;-)

It seems than @alexis-via needs is just above than just the name https://github.com/OCA/contract/pull/144 ;-)

![rrrrrrrrrr](https://user-images.githubusercontent.com/1853434/67496179-50979600-f67c-11e9-9c16-1a0171d44c54.png)

[2019-10-24 14:46] max3903 commented on #386
@sbidoul

I proposed contract because the name is shorter than agreement and I am lazy :)

Yes

A pseudo copy of the sale order line that were sold: it only has product and quantity

There is no relationship yet. Agreement does NOT support recurring invoicing.

[2019-10-24 14:50] max3903 commented on #386
@sbidoul @bealdav @gurneyalex

What do you think of:

| Requirements | Module Name |
|---|---|
Name, Code, Partner, Date | base_contract
Contract lines | contract
Legal content management | contract_legal
Recurring invoicing from contract lines | contract_account
Integrations with other Odoo modules | contract_sale, contract_stock, contract_service, etc.

[2019-10-24 15:19] bealdav commented on #386
\+ 1

You may have `agreement.line` depending of a company setting activated by default in `agreement` module

[2019-10-24 15:27] max3903 commented on #386
@sbidoul @bealdav @gurneyalex @ygol

| Requirements | Module Name |
|---|---|
Name, Code, Partner, Date, Agreement Lines (only shown if you are in a specific group) | agreement
Legal content management | agreement_legal
Recurring invoicing from contract lines | agreement_account
Integrations with other Odoo modules | agreement_sale, agreement_stock, agreement_service, etc.

[2019-10-24 15:42] sbidoul commented on #386
Do agreement_account necessarily mean recurring invoicing? I kind of remember @alexis-via had other requirement wrt to the invoice / agreement relationship.

Regarding lines, I'm not sure at all it is possible to conflate generic agreement lines with lines used for the purpose of recurring invoicing. (note I don't know use cases for generic agreement lines).

Regarding agreement_sale, there is pro

[2019-10-24 15:48] max3903 commented on #386
| Requirements | Module Name |
|---|---|
Name, Code, Partner, Date, Agreement Lines (only shown if you are in a specific group) | agreement
Legal content management | agreement_legal
Integration with Accounting | agreement_account
Recurring invoicing from contract lines | agreement_account_recurring_invoice
Integrations with other Odoo modules | agreement_sale, agreement_stock, agreement_service,

[2019-10-24 16:00] bealdav commented on #386
not blocking but `agreement_recurring_invoice` is sufficient

Everybody know than invoice depends on account whatever accounting refactor ;-)

It's not ambiguous.

[2019-10-24 16:37] max3903 commented on #386
| Requirements | Module Name |
|---|---|
Name, Code, Partner, Date, Agreement Lines (only shown if you are in a specific group) | agreement
Legal content management | agreement_legal
Integration with Accounting | agreement_account
Recurring invoicing from agreement lines | agreement_recurring_invoice
Integrations with other Odoo modules | agreement_sale, agreement_stock, agreement_service, etc.

[2019-10-28 10:55] samnimri commented on #386
Agreement vs contract; the difference is agreement is informal whereas contract is formal and legal.

https://www.diffen.com/difference/Agreement_vs_Contract

Recurring billing is mostly a consequence of a legal contract, thus  "contract" sounds to be a better prefix to me.

[2019-11-02 08:25] rafaelbn opened #409 "[12.0][contract] I cannot select "Account Analytic Group" in "Group" field in Contract"
Hello @sbejaoui

In Contact -> Tab Other information -> Is the field Group

I guess is for model=account.analytic.group but now it's related to other Account analytic account.

So I cannot use Group in the Group field

See:
![2019-11-02_9-20-01](https://user-images.githubusercontent.com/8736623/68068155-827ebb80-fd52-11e9-955b-250448ad52c7.png)

I think we should fix that.

Maybe I'm missing somet

[2019-11-02 12:15] svalaeys opened #410 "Contract: Cron picks wrong company properties in multi-company environment"
Hello,

I have recently installed contract on a multi-company environment.

Everything runs perfectly fine when creating invoices manually. However, when running the cron, the results are not as expected.

The cron is run as Odoobot. The problem happens when we go through the following method of the product class, which is called when onchange_product_id is called.:
@api.multi
def _get_product_acc

[2019-11-02 13:09] sbidoul commented on #410
That is definitely a bug that needs fixing. Which version are you using?

At first glance it should be enough to add a `with_context(force_company=contract.company_id.id)` when generating invoices.

cc/ @sbejaoui

[2019-11-02 13:20] svalaeys commented on #410
I am using v12. Before submitting the issue I reproduced it on http://3394183-12-0-41d787.runbot1.odoo-community.org.

Thanks for the tip. I have never had the need to use force_company before, I am glad it exists. I will try this fix later today and submit a pull request if that does the job.

[2019-11-02 17:14] svalaeys commented on #410
That did the trick. Will submit a pull request shortly.

[2019-11-04 16:20] bealdav commented on #386
It's not a problem for me if the chosen word is `contract`.

Choose your according your preferences, thanks

[2019-11-07 14:43] max3903 opened #413 "Contract creation at sale order confimation"
Hello,

I am looking for a contract module that would:
* allow me to select a contract template on a sale order
* create the contract from the template when the sale order is confirmed

It's not clear the feature is available and in which module.

Thank you!

[2019-11-07 14:43] max3903 commented on #413
contract_sale only mentions providing access to salespersons...

[2019-11-07 14:45] pedrobaeza commented on #413
product_contract is the one!

[2019-11-07 14:49] sbejaoui commented on #413
maybe we need to have one module contract_sale.

[2019-11-07 15:03] max3903 commented on #413
@pedrobaeza Thank you!

[2019-11-07 15:03] #413 closed, assigned to nobody

[2019-11-13 15:41] max3903 opened #415 "[RFC] contract_sale_invoicing"
# Description

I have a scenario where the customer signs a contract to get assigned a pricelist. Later customer can order products and get invoiced based on the contract every month.

To achieve that, the contract will generate a draft invoice at the beginning of the month and all the sales orders of the month will update that invoice, until the month ends and the invoice is validated.

I would l

[2019-11-13 15:46] pedrobaeza commented on #415
I don't think pre-generating the invoice and add lines is the right approach as it will keep a lot of useless documents during the period, plus you will need specific code for doing that. OK for adding the contract (but isn't this an agreement?) on the sale, but if you simply want to group orders by that contract/agreement, do that creating a module for aggregating sales orders by that field. I'm

[2019-11-13 15:47] max3903 opened #416 "[RFC] contract_fieldservice"
Depends on contract_sale and fieldservice_sale

This module allows you to set a service location on each line of the contract.

# Usage

* Go to Accounting > Customers > Contracts
* Create or select a contract
* Edit it to set the "Service To" on the lines
* Go to Sales
* Create or select a quotation
* Select the customer and contract to filter the list of "Service Location"

# Technical Specifica

[2019-11-13 15:54] max3903 commented on #415
@pedrobaeza I don't want to group invoices. I want one invoice for all the sale orders of the month. That invoice will also allow me to track the consumption of the customer.

[2019-11-13 15:56] pedrobaeza commented on #415
That's what I'm saying: group sales orders in one invoice (I have edited my previous comment for better clarity). For consumption I would put that information at contract level, not at invoice level.

[2019-11-13 16:17] max3903 commented on #415
@pedrobaeza Ok, I get you now. Let me check with my customer if this option works for him (piling up sales order during the month and generating one invoice at the end).

CC: @rto-odoo

[2019-11-13 18:03] sbejaoui commented on #415
Take a look at [contract_sale_invoicing](https://github.com/OCA/contract/tree/12.0/contract_sale_invoicing), On each invoicing run, the system will check if there's any pending sales orders with same analyitic account and will append the lines to the invoice being generated (didn't test it but I think it's what you are looking for).

[2019-11-13 18:09] pedrobaeza commented on #415
@sbejaoui it's not exactly the same, as the link is through analytic accounts.

[2019-11-13 18:33] sbejaoui commented on #415
I believe that managing this use-case by a one analytic account (project) and many contracts and sale orders is better then a direct link between sale order and a contract.

[2019-11-13 20:12] max3903 commented on #415
@sbejaoui I will need to check if that solution is viable for my customer.

Great inputs here. Thank you both!

[2019-11-14 17:58] max3903 commented on #415
Looks like all the contracts will have the same analytic account (the warehouse).

[2019-11-14 17:59] pedrobaeza commented on #415
OK, then that module can serve.

[2019-11-15 19:28] max3903 opened #418 "[ADD] contract_line_invoice_by_average"
Depends on account_invoice_pricelist, contract_sale and #415

# Description

This module allows you to define products on a contract that needs to be invoiced by the average quantity instead of the sum.

For example, you may have a contract for 3 water dispensers and have 4 sales orders in a month for a total of 15 bottles of water. Your invoice would be:
- 3 water dispensers
- 5 bottles

# Config

[2019-11-16 14:22] pedrobaeza commented on #418
Do you know https://github.com/OCA/contract/tree/12.0/contract_variable_quantity? Maybe you can implement that average computation through it without the need of too much effort. See https://github.com/OCA/contract/tree/11.0/contract_variable_qty_timesheet as an example.

[2019-11-18 09:41] mohamedhagag opened #419 "Policy of changes for stable versions"
Dears,

I would like suggest a standard for changes in stable versions of odoo versions here.

Yesterday we lost our customer contracts due to a huge restructuring of contract module that rendered our working system unusable and caused our data corruption.

the change happened in the v12 branch which is stable and in production since at least a year.

So I suggest that these stable branches should

[2019-11-18 09:46] pedrobaeza commented on #419
The policy is set: structural changes must be joined with migration scripts that adapt that changes, and that's the case for `contract` module: https://github.com/OCA/contract/tree/12.0/contract/migrations. I have successfully migrated customers (and our own instance) with it, so you have to check what have failed in your case, and put a specific issue about that.

[2019-11-18 09:46] #419 closed, assigned to nobody

[2019-11-18 10:36] mohamedhagag opened #420 "[12.0] contract structural changes migration scripts issue"
when I try to upgrade contract module in v12 from 12.0.1.x to 12.0.2.4 which have structural changes in the contract object I get this error:

  File "/NVME/odoo/ov12/odoo/odoo/odoo/service/server.py", line 1127, in preload_registries
    registry = Registry.new(dbname, update_module=update_module)
  File "/NVME/odoo/ov12/odoo/odoo/odoo/modules/registry.py", line 86, in new
    odoo.modules.load_m

[2019-11-18 10:38] pedrobaeza commented on #420
The problem is that you have referenced an incorrect contract in that field. See if id 181 exists in your old BD. If not, you must set to null the invoices with that ID.

[2019-11-18 11:47] sbejaoui commented on #420
Check if contract (id 181) has contract lines. If it's not the case, the migration script will ignore it. [See](https://github.com/OCA/contract/blob/12.0/contract/migrations/12.0.4.0.0/pre-migration.py#L99)

[2019-11-18 12:12] mohamedhagag commented on #420
@pedrobaeza  it's failing on all invoices that's linked to contracts, and contract 181 exists
@sbejaoui contract 181 has below lines:

[code]

[2019-11-18 12:15] pedrobaeza commented on #420
Is the field `recurring_invoices` in account_analytic_account unmarked?

[2019-11-18 12:22] mohamedhagag commented on #420
[code]

[2019-11-18 12:24] mohamedhagag commented on #420
I think that this line https://github.com/OCA/contract/blob/12.0/contract/migrations/12.0.4.0.0/pre-migration.py#L99
should use the old name of the table instead of the new one `contract_line ` or we should ensure the rename of the table at this point.

[2019-11-18 12:24] sbejaoui commented on #420
In the migration script, what do you get [here](https://github.com/OCA/contract/blob/12.0/contract/migrations/12.0.4.0.0/pre-migration.py#L89)

[2019-11-18 12:29] mohamedhagag commented on #420
@sbejaoui it's the old name in current DB

[code]

[2019-11-18 12:29] pedrobaeza commented on #420
No, it's renamed previously.

[2019-11-18 12:33] sbejaoui commented on #420
try to run the migration without filtering on contract

replace this

https://github.com/OCA/contract/blob/00d71f96f5b47efb89e6f4a45394bd8202284c35/contract/migrations/12.0.4.0.0/pre-migration.py#L95-L103

by this

[code]

[2019-11-18 12:43] mohamedhagag commented on #420
OK, it went fine now

The problem solved by following this upgrade path:

1- upgrade base_comment_template
2- upgrade hr_timesheet_sheet
.... upgrade any module that depends on contract (this may go into loop of circular deps)
3- upgrade contract

and this shows how complex is the system if we need to restructure a business object like what happened here that's used by many other modules.

Please

[2019-11-18 12:44] mohamedhagag commented on #420
Thank you @sbejaoui @pedrobaeza for your great help

I will close this now.

[2019-11-18 12:44] #420 closed, assigned to nobody

[2019-11-18 12:50] mohamedhagag commented on #420
BTW the migration didn't create any contract_line although it didn't show any error.

only contract_contract s created

[2019-11-18 12:53] mohamedhagag commented on #420
@sbejaoui I will try your fix now

[2019-11-18 13:36] mohamedhagag commented on #420
it still does not fix the issue

I have to work with the DB manually to handle many issues

[2019-11-22 00:11] pedrobaeza opened #425 "[12.0] agreement_maintenance: Travis broken"
The problem is depicted here:

https://travis-ci.org/OCA/contract/jobs/615318278#L1420

[2019-11-22 13:38] sbejaoui opened #426 "[CONTRACT] The recurring rule type monthly-last-day"
Hi,

On a contract line there are two fields that define how to compute the next invoice date.
1.  `recurring_rule_type`: the invoicing period: week, month..
2.  `recurring_invoicing_type`: the invoicing policy: pre-paid or post-paid

But there is one `recurring_rule_type` option that cause a problem in this logic. it's the `monthlylastday` which mix in the same notion the invoicing period and pol

[2019-11-22 14:01] pedrobaeza commented on #426
@carlosdauden what do you think about this that you know post-paid cases?

[2019-11-22 14:53] max3903 commented on #425
Interesting, field is there in the view:
https://github.com/odoo/odoo/blob/12.0/addons/maintenance/views/maintenance_views.xml#L352
https://github.com/OCA/OCB/blob/12.0/addons/maintenance/views/maintenance_views.xml#L352

[2019-11-22 15:29] #425 closed, assigned to max3903

[2019-11-22 15:30] pedrobaeza commented on #425
Thanks!

[2019-11-25 11:09] sbejaoui opened #428 "[CONTRACT] - Pre-paid mode, invoice the first of each month except for the first period"
Hi,

We have a use case that the current version of the contract module can't handle.

For a contract line that starts at 07/11 in a pre-paid mode, the user would like to invoice his customer the first of each month except for the first period that it will be at the 07/11.

To resolve this use case, I propose to add a new field that will be shown to the user only if the last date invoiced is not s

[2019-11-26 14:58] pedrobaeza commented on #426
The idea behind `monthlylastday` was to set the invoicing day, but without altering the invoiced period. For example, you start the contract on 14/01. With this option, you invoice on 31/01, but taking the period 14/01 to 13/02. Maybe we should set a third field for setting the invoice date independently from the rest?

[2019-11-26 15:01] pedrobaeza commented on #428
What about the proposal of the third field I have done in the other issue? Having the invoicing date on the first of the month, you take the maximum of start date/invoicing date for setting that date.

[2019-11-26 16:58] sbejaoui commented on #426
I can't imagine the invoice date completely independent from the invoicing period.

When a user select an option from the field `recurring_invoicing_type` (pre-paid or post-paid), he select whether he will invoice his customer at the first day or the last day of the period.

There was a PR that proposed to have field to shift the invoice date from its original value. We can add it to this scoop if

[2019-11-28 14:41] pedrobaeza commented on #426
What do you think about this proposal, @carlosdauden? I agree in principle with shift option, but not sure if the disconnection of the invoicing period with the invoice date is a real need.

[2019-12-08 11:46] sbidoul commented on #428
#434 now has the concept of offset (to offset the invoice date from the beginning/end of the period).
The offset is currently hard-coded for backward-compatibility (0 for pre-paid and monthlylastday, 1 otherwise). The code is now simple enough that we can add a field so the user can adjust the offset. This could be part of an additional commit in #434.

[2019-12-10 11:50] sbidoul commented on #419
@mohamedhagag sorry to hear you have had issues with the update.

The update policy for OCA is not the same as Odoo. So feature and data model changes are expected on OCA branches. We try hard to have an upgrade path and migration scripts, however.

The version numbers of the addons should be a good indication of the importance of the changes.

As with any dependencies you include in your projects

[2019-12-12 07:41] rafaelbn opened #435 "[12.0][BUG][product_contract] Unit price of product is not propagated to the lines"
- Create a product and set a price

1.
- Select the product in a contract template
- [BUG1] The price of the product it's not propagated to the contract template line

2.
- Select the product in a contract
- [BUG2] The price of the product it's not propagated to the contract line

![2019-12-12_8-22-00](https://user-images.githubusercontent.com/8736623/70692249-344ac980-1cbb-11ea-8476-52027a1c504c.

[2019-12-12 08:09] rafaelbn opened #436 "[12.0][BUG][product_contract] Contract are created with double lines than the contract template"
1. Create a contract template
![2019-12-12_9-00-50](https://user-images.githubusercontent.com/8736623/70693924-b7b9ea00-1cbe-11ea-98e9-7dcc4ac9f66e.png)

2. Create a product for the previous template
![2019-12-12_9-06-19](https://user-images.githubusercontent.com/8736623/70693935-bc7e9e00-1cbe-11ea-9860-526e24f3bb59.png)

3. Create a sale order with the product of (2)
![2019-12-12_9-00-14](https:/

[2019-12-12 08:22] rafaelbn commented on #436
@sbejaoui @sbidoul @pedrobaeza

I comment this last year in the first movements to change all the logic.

I comment here because FIXING this BUG will imply delete that fields.

![2019-12-12_9-16-24](https://user-images.githubusercontent.com/8736623/70694903-e20ca700-1cc0-11ea-8ed4-e1aea2ba45bc.png)

[2019-12-12 08:27] pedrobaeza commented on #435
That's because you haven't put the pricelist.

[2019-12-12 08:27] #435 closed, assigned to nobody

[2019-12-12 08:33] rafaelbn commented on #435
Because, it is not needed. Pricelist are not used in general and not pricelist are created.

I don't thin this module should force to use pricelist. Isn't it @sbidoul @pedrobaeza @sbejaoui ?

![2019-12-12_9-31-48](https://user-images.githubusercontent.com/8736623/70695616-6d3a6c80-1cc2-11ea-89f1-12d414901f2b.png)

[2019-12-12 08:35] pedrobaeza commented on #435
Right now is enforced if you want automatic prices.

[2019-12-12 09:45] sbejaoui commented on #436
Hi @rafaelbn ,

A contract template has multiple usage in the `product_contract` module:

- At sale order confirmation, odoo will group sale lines with the same contract template and create a contract for each one of them.
- When creating the contract, odoo will initialize it with the contract template value.

If your contract template has the same products as the sale order, you probably don't ne

[2019-12-12 09:46] #428 closed, assigned to nobody

[2019-12-12 09:48] sbejaoui commented on #436
Those field are used as default values when filling a contract or a sale order. This help the company to set it default invoicing strategy per product.

I don't get how we can achieve this with the contract templates

[2019-12-12 12:08] rafaelbn commented on #435
Right now "automatic prices" doesn't work at all.

[2019-12-12 12:34] rafaelbn commented on #436
Hello @sbejaoui ,

Well, the main concern (I said in the big change) it that I think (and our customers think) that the recurrence should be in the "Contract template" (now "Contract template lines") and not in the product.

You want templates like: "Monthly work", "Quarter work", "Yearly work" but the product is the **same**. Because you sell the same with different re-currencies.

All that field

[2019-12-12 12:54] pedrobaeza commented on #435
Yes if you put the pricelist.

[2019-12-12 13:23] sbejaoui commented on #436
The `product_contract` module is almost developed from scratch in V12, so all this is new and not a change.

In your case, the contract template is used like a "phantom bill of material". At sale order confirmation, the product is not added to the contract, only the lines in the related contract template.

I think this can be an enhancement: add a flag to the product template to decide to add it o

[2019-12-12 15:59] rafaelbn commented on #436
Functionally the best way is moving to `subscriptions` in Odoo EE in this moment. My concern is that I didn't have time to review deeply your work. If you test contract, product_contract and contract_sale in Odoo v10 en OCA, it's not needed at all recurrence in the product.

You need recurrence in the product because you need recurrence in the contract lines.

We @sbejaoui work with customers whic

[2019-12-12 15:59] #436 closed, assigned to nobody

[2019-12-12 16:07] sbidoul commented on #436
That part should be solvable relatively easily at the UI level by adding computed field with inverse on the contract and an option to enforce the same recurrence option on lines. Recurrence options will still be stored on lines but the user can enter them in the contract (and we can probably even hide them on the contract lines if the flag "same recurrence on all lines" is enabled on the contract)

[2019-12-13 08:31] murtuzasaleh commented on #416
#438

[2019-12-17 00:05] flotho commented on #189
Hi @pedrobaeza , @max3903 ,

I have a question regarding the sale order generation module available in v10. I would like to share some needs before starting to port this module in v12.0.

I would like to have some tasks generated each month and AFAIK, only SO and appropriate configuration on product can achieve this. Do you confirm that in this repo nothing is available to fulfill this scenario si

[2019-12-17 00:08] pedrobaeza commented on #189
I have just ordered to merge the migration to 11.0 in #329

[2019-12-17 00:20] flotho commented on #189
Hi @pedrobaeza , a great thanks for pointing this to me, I'll follow this with attention and propose a PR on v12.0 once merged.
BTW I had a small review regarding UoM issues already present in v10.

Regards

[2019-12-17 11:14] nikul-serpentcs opened #440 "[12.0] [BUG] when calling `Generate Recurring Invoices from Contracts` Scheduled Actions"
When I created many Contracts and Call  **Generate Recurring Invoices from Contracts** Scheduled Actions. Got singleton Error Like this.

![Issues---](https://user-images.githubusercontent.com/17664321/70990855-652c6380-20ec-11ea-8c86-0c43b110d3f4.png)

[2019-12-17 11:53] sbejaoui commented on #440
the bug is in [`contract_sale_invoicing`](https://github.com/OCA/contract/blob/12.0/contract_sale_invoicing/models/contract.py#L19).

the `_recurring_create_invoice` should be rewrite in multi mode

[2019-12-17 12:39] nikul-serpentcs commented on #440
@sbejaoui I solved bug
[code]

[2019-12-17 12:40] pedrobaeza commented on #440
Please do a PR.

[2019-12-17 12:44] nikul-serpentcs commented on #440
@pedrobaeza  Done

[2019-12-19 16:30] max3903 commented on #418
@pedrobaeza Thanks for the tip.

@murtuzasaleh @JayVora-SerpentCS Anyone working on this already or not?

[2019-12-23 06:04] murtuzasaleh commented on #418
@max3903 We will start working on it.

[2019-12-30 10:31] INS10 opened #451 "Currency selection"
hi,
I have odoo12 and I installed the module. The base Currency is RON and I need to select as currency EURO (or other currency) when creating a recurrent invoice but it gives me only RON option and I can't select another..How can I proceed?
thank you!

[2020-01-03 13:45] Eusebius1920 commented on #426
I have a case where the payment is a mixture between post-paid and pre-paid. The invoice should be generated in the middle of the invoicing period ("mid-paid"). This is a compromise to the customers between the two extremes of pre-paid (customer has to go full advance) and post-paid (company has to go full advance)

As I read above this would be possible with a shift, correct? (the invoiced would

[2020-01-03 20:00] #418 closed, assigned to max3903

[2020-01-03 21:50] babatoko commented on #426
+1, have got the same use case than the one lastly exposed.

[2020-01-07 12:12] sbidoul commented on #426
@Eusebius1920 @babatoko the offset field is already present here
https://github.com/OCA/contract/blob/a52e1fe46d60551bbb7eb08ae6785aca25fffc5b/contract/models/abstract_contract_line.py#L79-L86

It is currently a computed field with only 1 day and 0 as possible values.

But if you make it a user-modifiable field, everything else should continue to work.

The only "difficulty" is to provide a migrat

[2020-01-07 12:13] sbidoul commented on #426
BTW, @sbejaoui can we close this issue, and perhaps open new more focused issues for specific enhancements such as the user modifiable offset field?

[2020-01-07 12:25] sbejaoui commented on #426
resolved with #434

[2020-01-07 12:25] #426 closed, assigned to nobody

[2020-01-09 21:43] mgielissen commented on #420
I had the same problem, my solution was to delete the analytic account related to the contract.

[2020-01-29 15:37] sbejaoui opened #458 "[Enhancement] - Contract Resiliation"
Hi,

In some cases, customer ask to resiliate his contract and all services sold within.

With the current version, it's possible to achieve this by stopping all contract line at the resiliation date.

what is missing is:
*  the possibility to highlight that was a contract resiliation
*  prevent users from resuming the contract.

I propose to:
*  Add a new user group that give the ability to resil

[2020-01-31 13:53] javierjcf opened #460 "BUG expected singleton"
https://github.com/OCA/contract/blob/693fe5a3cce2712d9f5696713abe1eb7f41a4fb3/contract_sale_invoicing/models/contract.py#L19

This is a bug. When cron calls this method, there are a lot of contracts in self, so wqe get a expected singleton error. We need put a for bucle here

[2020-01-31 14:44] pedrobaeza commented on #460
Duplicated of #440 and fixed in #442

[2020-01-31 14:44] #460 closed, assigned to nobody

[2020-02-03 11:48] javierjcf opened #461 "Bug api multi with cron"
https://github.com/OCA/contract/blob/693fe5a3cce2712d9f5696713abe1eb7f41a4fb3/contract/models/contract.py#L438.

If you do the action for more than one contratr it will raise a singleton error.

[2020-02-03 12:33] pedrobaeza commented on #461
AFAIK, that one is only triggered manually.

[2020-02-03 12:54] javierjcf commented on #461
Yes it is,
But if you try to do a server action in order to invoice more than one from the list view, you can t use it.
I think it would be a improve to respect the api multi and avoid the singleton error, but you are right, this method can only be called from a single button.

[2020-02-03 12:58] pedrobaeza commented on #461
If you do a server action call the one with leading `_` or put the loop and call record per record. The only improvement I see is to add an explicit `self.ensure_one()`.

[2020-02-03 13:05] javierjcf commented on #461
Thanks pedro, this issue can be closed.
I add the loop, because i need the message post of the method without the _.

El lun., 3 feb. 2020 a las 13:58, Pedro M. Baeza (<notifications@github.com>)
escribió:

[2020-02-03 13:08] pedrobaeza commented on #461
OK.

[2020-02-03 13:08] #461 closed, assigned to nobody

[2020-02-10 16:03] marcelsavegnago opened #463 "Logo SVG (Legal Agreements)"
Hi,

Does anyone have the logo (SVG) of the Legal Agreements module?

[2020-02-10 20:09] rafaelbn commented on #356
PR for fixing this in https://github.com/OCA/contract/pull/360

[2020-02-10 20:16] rafaelbn opened #464 "[12.0][contract][product_contract] Is contract module multi-company?"
Hello,

I test the module in multi-company enviroment and it doesn't look like multi-company is supported when you add `product_contract`

- In Odoo products are multi-company, this means that you can use 1 product for n companies
- Contract templates are not multi-company, this means 1 "contract template" per company.

In a real environment with 30 products for contract, when you stablish a `cont

[2020-02-11 21:43] marcelsavegnago commented on #463
The current icon is smaller than the other icons when using the web_responsive module. If nobody has the SVG file, I propose a new logo. What do you think ?

![icon](https://user-images.githubusercontent.com/3595132/74282011-330b3c80-4cfe-11ea-8f65-55a3f09b83c2.png)

[icon.zip](https://github.com/OCA/contract/files/4188562/icon.zip)

[2020-02-11 21:47] marcelsavegnago commented on #463
@ygol Do you have the agreement_legal module logo vector?

[2020-02-11 22:25] ygol commented on #463
I don't have the vector. The current icon comes from the "agreement" module in v11.

[2020-02-11 22:29] marcelsavegnago commented on #463
I saw it now ... but it doesn't have the vector either.

[2020-02-11 22:34] marcelsavegnago commented on #463
@ygol Do you believe that it is worth opening a PR to replace the Icon? I understand that it is only visual but it makes a small difference ?

![image](https://user-images.githubusercontent.com/3595132/74285846-69988580-4d05-11ea-8a0d-b4d64f9d69d0.png)

![image](https://user-images.githubusercontent.com/3595132/74285891-7917ce80-4d05-11ea-9f75-0e6dcf0e3880.png)

[2020-02-12 08:24] ygol commented on #463
On runbot it is not showing smaller:
http://3407763-12-0-2eb377.runbot2.odoo-community.org/web#action=32&model=ir.module.module&view_type=kanban&menu_id=5
![image](https://user-images.githubusercontent.com/2945174/74316953-27ae2480-4d83-11ea-9e86-582efbb64d07.png)

[2020-02-12 18:30] marcelsavegnago commented on #463
In this case you are looking at the list of applications. Install the Web Responsive module and see that in this case the icon is impacted due to the image resolution. See the print screen below.

![image](https://user-images.githubusercontent.com/3595132/74365230-660c0980-4dac-11ea-9672-bfcb6e40e351.png)

[2020-02-12 18:55] rafaelbn commented on #464
@sbejaoui  @pedrobaeza @ernestotejeda

This field should be not required. All products available for all companies and all contract templates too.

https://github.com/OCA/contract/blob/12.0/contract/models/abstract_contract.py#L44

[2020-02-12 18:57] pedrobaeza commented on #464
Not making it required will require several integrity checks, and convert some fields like `journal_id` to company_dependent, which doesn't worth IMO.

[2020-02-12 19:17] ygol commented on #463
I'm fine with your new icon 👍

[2020-02-13 13:12] yung-wang opened #467 "[11.0] contract_price_revision is still calculating lines that are not valid anymore"
In a contract you have 2 lines.
1 - Valid from 01/01/2018 till 12/31/2018
2 - Valid from 01/01/2019 till -----

When you run the revision tool and add 10%, you would expect only the valid line would be updated. But the module updates both lines.

Steps to reproduce:
--- create a contract with 2 lines with different start and end dates
![image](https://user-images.githubusercontent.com/30628967/744

[2020-02-13 13:39] sbejaoui commented on #464
Hi @rafaelbn ,

We are using contract modules in a multi-company setup and I can say that it works overall.

In our case, each company have its own product catalog. For this reason we didn't face this issue. I think with this PR #465 the issue is fixed

[2020-02-13 13:44] sbejaoui commented on #464
(I updated my comment)

Hi @rafaelbn ,

We are using contract modules in a multi-company setup and I can say that it works overall.

In our case, when companies share the same product catalog we create shareable contract template (contact template not related to any company).

[2020-02-13 13:57] sbejaoui commented on #464
Hi @rafaelbn ,

We are using the contract modules in a multi-company setup and we faced this situation.

We needed to share the same product catalog between 3 companies from a total of 5 companies using contracts.

We created a virtual parent company for this three company and affected the product catalog and their contract template to it.

The idea to make the contract template company dependent

[2020-02-14 12:41] rafaelbn commented on #464
Thanks @sbejaoui for you explanation. I am very grateful.

My conclusion is that contract and product contract are not OCA generic modules as don't help the most of the simple use cases.

- Create virtual parent company is a really amazing workaround :astonished:

I'm sad about this really.

Indeed when explaining to new customers in v12 contract, the ask me "I don't know If I  have understand it

[2020-02-14 12:41] #464 closed, assigned to nobody

[2020-02-17 17:14] sbejaoui opened #472 "[IMP] - renewal stuff should be hidden under a configuration group"
Original idea of @pedrobaeza [(link)](https://github.com/OCA/contract/pull/471#issuecomment-587077362)

[2020-02-18 07:18] pedrobaeza commented on #343
Fixed with #473

[2020-02-18 07:18] #343 closed, assigned to ygol

[2020-02-20 09:37] oscars8a opened #476 "[12.0][contract] If contract_contract hasn't the same (or more) fields, the function breaks"
https://github.com/OCA/contract/blob/23817b0141b05670bad48f003f11a7fe13d2a354/contract/models/contract.py#L214

Hi everybody,

In this line, if contract_contract model hasn't the same, or more, fields than contract_template model, the function breaks.

I don't know if this is a issue or a limitation. "Contract model must have at least the same fields than Contract Template model."

Thanks a lot.

[2020-02-20 09:46] pedrobaeza commented on #476
If you don't want to be synced, just add them in

https://github.com/OCA/contract/blob/23817b0141b05670bad48f003f11a7fe13d2a354/contract/models/abstract_contract.py#L17

[2020-02-20 09:46] #476 closed, assigned to nobody

[2020-02-20 09:49] oscars8a commented on #476
Very helpful @pedrobaeza, thanks for everything and sorry for the time.

[2020-02-23 15:42] qzmxs opened #477 "column "contract_id" referenced in foreign key constraint does not exist"
psycopg2.errors.UndefinedColumn: column "contract_id" referenced in foreign key constraint does not exist

Odoo Server Error
Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/odoo/http.py", line 656, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/usr/lib/python3/dist-packages/odoo/http.py", line 314, in _handle_exception
    r

[2020-02-23 20:10] pedrobaeza commented on #477
Sorry, but the error you mention lacks the steps to reproduce it, Odoo version, etc. Any way, seems a bad deployment.

Closing this meanwhile there are no real hints of something going on bad on the module.

[2020-02-23 20:10] #477 closed, assigned to nobody

[2020-02-23 21:22] qzmxs opened #478 "column "contract_id" referenced in foreign key constraint does not exist"
module: contract
version: 12.0
column "contract_id" referenced in foreign key constraint does not exist
**Steps to reproduce**
- ...
![image](https://user-images.githubusercontent.com/55458897/75120274-4e465680-56c5-11ea-9a9f-0b6142f33ec2.png)
![image](https://user-images.githubusercontent.com/55458897/75120281-674f0780-56c5-11ea-9ed4-a1d8e53cfbb8.png)
![image](https://user-images.githubuserconten

[2020-02-23 21:29] pedrobaeza commented on #478
Sorry, but that's not the steps to reproduce the problem. You are installing the module in some kind of contaminated DB or a bad deployment, and thus it doesn't work. You can click on the try me on runbot button to see that the module works perfectly in a clean environment. Try that in your local as well.

[2020-02-23 21:29] #478 closed, assigned to nobody

[2020-03-09 16:45] dreispt opened #482 "[RFC] "Recurring Contracts" app"
Would you agree on promoting `contract`to a top level App?
We would need to create the top level menu, security groups, and the Apps specific menus.

[2020-03-09 16:49] pedrobaeza commented on #482
Not sure of this... we already have it under "Invoicing" section, which is very suitable, and an extension for sales. Isolating it will complicate permissions.

[2020-03-09 17:19] dreispt commented on #482
It will stand out as an alternative to Subscriptions.
And will allow to have a proper configuration section proposing the extra features in the repo.
Leaving a few redundant menus under "Invoicing" is not an issue at all.

[2020-03-09 17:25] pedrobaeza commented on #482
The alternative is real and more powerful. We can put it as application, but not the new menu and the rest IMO.

[2020-03-09 18:00] dreispt commented on #458
With `resiliation` do we mean `termination`?

[2020-03-10 10:01] dreispt commented on #482
What would be needed for a Recurring Contracts App top menu, similar to Subscriptions, to make sense?

[2020-03-10 10:24] babatoko opened #484 "Create recurring contract from sales order"
Hi I'm wondering if it's possible to trigger the creation of a recurring contract from a sales order (with data copy from sales order). If yes how to do that. If not, it would make sense to me at least.

Cheers,

Babatoko

[2020-03-10 10:26] pedrobaeza commented on #484
This issue tracker is for issues in the code, not for questions.

Any way, check `product_contract` module for that, and the rest of the questions must be done on the Odoo forums.

[2020-03-10 10:26] #484 closed, assigned to nobody

[2020-03-10 12:27] babatoko commented on #484
Thanks for replying.

I know that and use it as it is and I feel inconfortable with all things done underground.

I think it could be more efficient to have a button create contract just next to create invoice and trigger a wizard to set the contract.

I do have many contract with different recurrence date.

Cheers
Babatoko

[2020-03-11 14:39] #458 closed, assigned to sbejaoui

[2020-03-12 16:48] AaronHForgeFlow commented on #440
Where is the PR?

[2020-03-17 08:12] JordiADARIA commented on #410
Hi @svalaeys, did you do the PR? could you share it? im with the same problem, and we've thousands of not correctly automatically generated invoice lines every month... (we already tried the "multicron" creation but it seems not working anyway)

cc/ @sbejaoui

[2020-03-17 08:15] svalaeys commented on #410
Hi Jordi,

 �

Have you updated your code recently? There were big changes in the last two months or so. Some of these changes made my fixes obsolete. To be honest, I have just made a couple of tests since I pulled the new code. It will run in production for the first time on April 1st.

 �

Let me know,

 �

Stephane

 �

 �

From: JordiADARIA <notifications@github.com>
Sent: Tuesday, March 17, 2

[2020-03-18 19:29] #463 closed, assigned to nobody

[2020-03-23 17:55] JordiADARIA commented on #410
Hi Stephane, you were absolutely right, a lot of fixes were done in the last two months, and its already fixed, thanks a lot!

[2020-03-23 18:41] sergiocorato opened #492 "[12.0] error in migration from 11.0"
This function https://github.com/OCA/contract/blob/14e46b14006ba9391c9f7ccff5d0aa9794eb68e0/product_contract/migrations/12.0.3.0.0/pre-migration.py#L6 generate an error when upgrading from 11.0 because in pre-migration the field is not yet created.

[code]

[2020-03-23 18:42] pedrobaeza commented on #492
I have migrated from 11.0 without problem. Do you have latest code in 11.0?

[2020-03-23 18:44] sergiocorato commented on #492
mm, yes, I pull every time

[2020-03-23 18:51] pedrobaeza commented on #492
Well, as said, I haven't found this problem, but I haven't checked code.

[2020-03-24 07:56] sbejaoui commented on #410
Thank you all. I close this issue as it fixed in 12.0

[2020-03-24 07:56] #410 closed, assigned to nobody

[2020-03-24 08:06] sbejaoui commented on #492
This migration was for 12.0.2.0.0 to 12.0.3.0.0 to introduce the monthly last day prepaid option but apparently we forget about v 11.0 where the field wasn't there.

You can add a check on the version like here

https://github.com/OCA/contract/blob/14e46b14006ba9391c9f7ccff5d0aa9794eb68e0/contract/migrations/12.0.4.0.0/post-migration.py#L57-L60

[2020-03-24 09:40] sergiocorato commented on #492
So the migration has to be done only if version is == '12.0.2.0.0' I understand, I propose a PR

[2020-03-25 11:10] oleg-babintsev opened #494 "[12.0][BUG] agreement_legal: broken mass actions due incorrect implentation of overrided write-method of model"
1. Create several agreements
2. Select more than one records on the list view
3. Call mass-action "Archive" as example
[code]

[2020-03-28 08:14] AaronHForgeFlow commented on #440
https://github.com/OCA/contract/pull/437 :)

[2020-03-28 08:17] AaronHForgeFlow commented on #440
I'd rather prefer to do the fix in a separate PR than that one, because that one includes some bigger changes in that module.

[2020-04-01 17:26] pedrobaeza commented on #467
Fixed already

[2020-04-01 17:26] #467 closed, assigned to nobody

[2020-04-03 04:21] nikul-serpentcs commented on #440
Not Needed @AaronHForgeFlow, Because of a little bit changed Flow.
That's why we covered this issue in Open PR https://github.com/OCA/contract/pull/437.

[2020-04-03 06:46] pedrobaeza commented on #440
For quicker reaction, it's better to split the fix from other improvements. Not doing so, people will be more reluctant to merge everything "in pack".

[2020-04-05 15:31] tsabi commented on #386
Hi! Any progress with this topic?

[2020-04-16 09:30] ygol opened #500 "[12.0][BUG] agreement_legal: missing save button when adding a child agreement"
edit an agreement / go to "child agreements" tab and click to add.

- [ ] some field should be pre-populated: ("parent agreement", "partners")

- [ ] missing "save" button

[2020-04-17 09:22] ygol opened #501 "[12.0][BUG] agreement_legal: error upgrading (stage_type)"
It might be #355 that add a stage_type but without updating existing data.

[2020-04-17 12:56] ygol commented on #501
Here's what I did to circumvent the problem until fixed:

1. Temporarily disable the "required" flag at https://github.com/OCA/contract/blob/6b7576f37f06ee6ddc571b9e40f97b5f0f177b0e/agreement_legal/models/agreement_stage.py#L29

2. Upgrade the module (agreement_legal).

3. Undo hack from point 1

Hope this helps

[2020-04-21 11:34] ygol opened #502 "[12.0][BUG] agreement_legal: wrong revision date"
When creating a new version for an agreement, the creation date of the "OLD" version is set to today while the date of the "NEW" version is still the date when the 1st version was created.
These two dates should be switched.

[2020-04-27 06:16] svalaeys opened #504 "[12][Question] Configuring product_contract correctly"
Hi,

This is a question about a typical configuration for the product_contract module. If this is not the right place for such a question, please let me know the alternatives.

I have been playing around with product_contract because I have a client who fits the mold perfectly: the company sells all kind of building data captors (heat sensors, water consumption sensors, etc) and, in the same offer

[2020-04-27 09:53] sbejaoui commented on #504
Hi,

I understand that this field confusing you. It wasn't clear for me neither when I first started using the `product_contract` module.

This field came form an old version of the module where contract product was used simply to duplicate the contract template in a new contract without any impact from the SO.

Now, it permit a salesperson to make in a one quote for contractual and non-contractua

[2020-04-27 11:25] svalaeys commented on #504
Thank you very much for this clear explanation. I try to see what happens if the contract_template_id is left empty and if it's all good, I will do the pull request. Thanks again,

Stephane

[2020-04-27 12:51] #504 closed, assigned to nobody

[2020-04-28 11:20] MattKoczy commented on #386
Hi! Is there any update on the migration status of the contract module as we need the "Recurring - Contracts Management" for Odoo 13. Thanks

[2020-05-01 17:08] valero1120 opened #508 "[12.0] [BUG]Expected singleton: contract.contract"
Odoo Server Error
Traceback (most recent call last):
  File "/home/john/Developments/odoo12/odoo/odoo/models.py", line 4741, in ensure_one
    _id, = self._ids
ValueError: too many values to unpack (expected 1)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/john/Developments/odoo12/odoo/odoo/tools/safe_eval.py", line 350, in s

[2020-05-01 20:47] pedrobaeza commented on #508
Fix in progress in #505

[2020-05-04 09:20] pedrobaeza commented on #508
I'm going to close this as there's a PR in progress, for cleaning up the repo.

[2020-05-04 09:20] #508 closed, assigned to nobody

[2020-05-04 09:20] pedrobaeza commented on #492
Closing this as PR is merged.

[2020-05-04 09:20] #492 closed, assigned to nobody

[2020-05-04 09:24] pedrobaeza commented on #482
@sbidoul @sbejaoui please comment what are your thoughts on this or let's close it. For me, putting `application=True` is OK. Adding a top menu, maybe if we still keep the others (or we should replicate also menus for customers/suppliers with recurring invoicing, and even recurring invoices). Isolating permissions is mostly a no due to the side effects + the change in the behavior.

[2020-05-04 09:29] pedrobaeza commented on #415
Closing this as already solved.

[2020-05-04 09:29] #415 closed, assigned to max3903

[2020-05-04 09:29] pedrobaeza commented on #389
Closing as no answer

[2020-05-04 09:29] #389 closed

[2020-05-04 09:30] pedrobaeza commented on #451
The currency is determined by the selected journal.

Closing as no issue, but question.

[2020-05-04 09:30] #451 closed, assigned to nobody

[2020-05-04 09:32] pedrobaeza commented on #440
Closing as there's a PR in progress.

[2020-05-04 09:32] #440 closed, assigned to nobody

[2020-05-04 09:44] pedrobaeza commented on #380
Closing as stated.

[2020-05-04 09:44] #380 closed, assigned to nobody

[2020-05-04 09:45] pedrobaeza commented on #289
Is this still happening?

[2020-05-04 09:45] pedrobaeza commented on #197
Closing as there's a linked PR.

[2020-05-04 09:45] #197 closed, assigned to nobody

[2020-05-04 09:46] pedrobaeza commented on #182
@angelmoya are you going finally to perform this?

[2020-05-04 09:47] pedrobaeza commented on #131
Closing as the original issuer is not here anymore.

[2020-05-04 09:47] #131 closed, assigned to nobody

[2020-05-04 09:47] pedrobaeza commented on #193
Triaging this as outdated version.

[2020-05-04 09:47] #193 closed, assigned to nobody

[2020-05-04 09:48] pedrobaeza commented on #214
Triaging this as old.

[2020-05-04 09:48] #214 closed, assigned to nobody

[2020-05-04 09:48] pedrobaeza commented on #39
Closing as old version

[2020-05-04 09:48] #39 closed, assigned to nobody

[2020-05-04 09:48] pedrobaeza commented on #101
Closing as old version and mostly done.

[2020-05-04 09:48] #101 closed, assigned to nobody

[2020-05-04 09:49] pedrobaeza commented on #166
Closing as there's an opened PR about this and being discussed there.

[2020-05-04 09:49] #166 closed, assigned to nobody

[2020-05-04 09:51] pedrobaeza commented on #191
Closing as no more answer.

[2020-05-04 09:51] #191 closed, assigned to nobody

[2020-05-04 09:51] pedrobaeza commented on #302
Closing as no PR has been done and it's an old version.

[2020-05-04 09:51] #302 closed, assigned to nobody

[2020-05-04 09:52] pedrobaeza commented on #278
Is this still happening? Which module?

[2020-05-04 09:52] pedrobaeza commented on #341
No more answers, so closing.

[2020-05-04 09:52] #341 closed, assigned to max3903

[2020-05-04 09:53] pedrobaeza commented on #356
Closing as there's an opened PR for this.

[2020-05-04 09:53] #356 closed, assigned to nobody

[2020-05-04 09:53] pedrobaeza commented on #362
Is this still happening?

[2020-05-04 09:53] pedrobaeza commented on #342
Closing as there's an opened PR for this.

[2020-05-04 09:53] #342 closed, assigned to nobody

[2020-05-04 09:54] pedrobaeza commented on #342
@ygol if you intend to the PR for fixing the bug, please don't open both issue and PR, just the PR, and put the issue text there.

[2020-05-04 09:55] pedrobaeza commented on #345
Is this still happening?

[2020-05-04 09:55] pedrobaeza commented on #359
Is this still happening? Which version?

[2020-05-04 09:59] ljsalvatierra-binovo commented on #278
I'll try to reproduce it today and give you the results.

[2020-05-04 10:03] ygol commented on #345
no. (just tested on runbot)

[2020-05-04 10:09] pedrobaeza commented on #278
Well, I mean the module in this repository that causes your problem.

[2020-05-04 10:15] marcos-mendez commented on #362
Yes.

Em seg, 4 de mai de 2020 06:53, Pedro M. Baeza <notifications@github.com>
escreveu:

[2020-05-04 10:17] carlo-github commented on #359
With Odoo 12.0-20200116 (Community Edition)
In any case, for obtain what I asked there was a development from my side.
Thank you.

[2020-05-04 10:19] ljsalvatierra-binovo commented on #278
Yes, sorry, the module is contract. And yes, I've been able to reproduce it again with the last commit of OCB and contract repos.

![image](https://user-images.githubusercontent.com/23120306/80956365-604d1f80-8e01-11ea-8542-6a4a6a9a4dca.png)

[2020-05-04 10:19] pedrobaeza commented on #359
@max3903 should we close this then?

[2020-05-04 10:27] pedrobaeza commented on #278
OK, then it should remain opened. I have tagged and adapt title a bit.

[2020-05-04 10:33] pedrobaeza commented on #362
@max3903 any news about this?

[2020-05-04 10:36] ygol commented on #289
On the runbot V10.0 it doesn't work so **it is still hapening.**

On the runbot V12.0 it works so not happening anymore.

[2020-05-04 10:38] pedrobaeza commented on #289
Then let's close it as fixed in later versions. If someone wants to fix it for this old version, he/she can propose a PR.

[2020-05-04 10:38] #289 closed, assigned to nobody

[2020-05-04 10:58] ljsalvatierra-binovo commented on #278
Perfect, thank you :)

[2020-05-04 13:24] max3903 commented on #502
@murtuzasaleh Log your time on task 19158

[2020-05-04 13:25] max3903 commented on #500
@murtuzasaleh Log your time on task 19158

[2020-05-04 13:26] max3903 commented on #501
@murtuzasaleh Log your time on task 19158

[2020-05-04 15:13] sbidoul commented on #482
Hi, I've not given much thought to that. Why not a top level menu, it could make sense. Do you have a proposal @dreispt ? Noting it's both for customer and supplier invoices. Regarding permissions, I've no idea... I would need to see a design or PR to think about it.

[2020-05-04 16:18] babatoko commented on #482
If I can give my thoughts, recursive invoice is just the result of a process and not an application.

It could become an app when it will be possible to manage recurrency from the quote to the generate invoice and throughout activities or tasks.

[2020-05-10 19:43] #501 closed, assigned to max3903, murtuzasaleh

[2020-05-15 12:02] Lopsanz opened #512 "[12.0][BUG] Contract. Deleting draft invoice associated"
recurring_next_date isn't updated when a draft invoice generated is deleted.

This field is read-only, computed and stored value. It is pudated when I create a new invoice from contract, but not if this invoice is deleted.

[2020-05-15 12:08] pedrobaeza commented on #512
Duplicated of #381

[2020-05-15 12:08] #512 closed, assigned to nobody

[2020-05-15 18:01] miscs opened #514 "[12.0] Updating product_contract -> AttributeError: module 'openupgradelib.openupgrade' has no attribute 'convert_to_company_dependent'"
Hi all,

I am having problems upgrading product_contract (error see below).

openupgradelib is installed and up-to-date:
Requirement already satisfied: cssselect in /usr/local/lib/python3.6/dist-packages (from openupgradelib==3.0.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.6/dist-packages (from openupgradelib==3.0.0)

Any hints are highly appreciated!
Thanks
Steve

Error:
Odoo

[2020-05-15 18:09] sbejaoui commented on #514
Hi,

You need to use the very last version (master) of openupgradelib to be able to update product_contract module.

This PR  https://github.com/OCA/openupgradelib/pull/197 that add `convert_to_company_dependent` was merged in openupgradelib but there is no new tag yet.

Regards.

[2020-05-15 18:09] #514 closed, assigned to nobody

[2020-05-15 18:10] pedrobaeza commented on #514
Use `pip install --ignore-installed git+https://github.com/OCA/openupgradelib.git@master`

[2020-05-15 18:16] miscs commented on #514
thank you, that worked!

[2020-05-15 19:21] miscs opened #515 "[Question] Contract Invoice Offset"
Hi all,

I know this is not the best place for questions but I searched and tried a lot and am still struggling how to use contracts for my use-case. I think I would need an "invoice offset" which I can modify, but let me describe my scenario first:

- I sell subscriptions which should be invoiced pre-paid 1 year directly on contract sign
- the contract runs until notice is received from the custo

[2020-05-17 02:26] patsotoe opened #516 "error at select money"
Im using odoo 12 and when the invoice is generated, the value of the contract its not converted at the main currency.

[2020-05-17 10:54] pedrobaeza commented on #516
The currency is taken from the billing journal, so select another one with the desired currency.

[2020-05-17 10:54] #516 closed, assigned to nobody

[2020-05-17 15:15] patsotoe commented on #516
The money of billing journal is in clp AND in the product of the contract is usd, when i create the invoice the value of this Is in usd a not in CLP. Any idea of how Solve this?

[2020-05-17 16:02] pedrobaeza commented on #516
There's no support for that automatic conversion. You should input the price in CLP as fixed price.

[2020-05-19 15:58] GleydsonHudson opened #518 "[12.0] [BUG] Contract lines not importing the Renew Every and Termination Notice Before field from the Contract Template"
I have created a contract template with and set the fields below
<br>
![Contract Template](https://user-images.githubusercontent.com/21695360/82348217-d86a3680-99f8-11ea-9ebe-018a02c83054.PNG)
<br>
However, when I create a new contract and ask for that contract template, the fields above are not imported, as you can see in the image below.
<br>
![Contract Line](https://user-images.githubuserconten

[2020-05-20 18:16] JordiADARIA opened #519 "[12.0] [BUG] Invoice not created from the Sale Contract if you moves "Section" line."
Hi
checked on runbot:

1. create a Sale Contract.
2. add a line with any product
3. add a section just after it
4. Click (on dev mode) on Create Invoice. Well, it's created (warning, section is not there, on invoice)
5. On the contract, you moves section just before the first line.
6. Click on Create Invoice: **nothing happens**. it's not creating the invoice.

its not creating the invoice even if

[2020-05-20 18:28] JordiADARIA commented on #518
your right, ive checked it on Runbot and its happening the same. I think the purpose of select a template its only to get some kind of "header" data from the contract template.. but it will be better to import also the details on lines, ill try to find where it is..

[2020-05-21 13:01] alexis-via commented on #234
Yes, it's a mess ! @max3903  created a new module agreement_sale in v11 instead of porting the agreement_sale module from v10 and adapting it and make it evolve. So several features of the agreement_sale module of v10 are now broken in upper versions. I'll propose a PR on v12 to reconcile your module agreement_sale of v11 and my module agreement_sale of v10. There 2 scenarios: @max3903 accepts the

[2020-05-27 09:09] alexis-via commented on #386
To be a bit more specific about my needs:
1) a contract object with at least a name, a code, a partner and a company. This is what we have in base_contract in PR #397  I don't need more on that point.
2) a module that depend on account and add a M2O from invoice to the contract object
3) a module that depend on sale and add a M2O from sale.order to the contract object and copies it from sale.order

[2020-05-27 09:25] ygol commented on #386
@alexis-via . I am using agreement_legal (depending on agreement) and cannot have a dependency on account. That was the purpose of creating agreement in v12. Is this going to stay so in V13?

[2020-05-27 09:32] alexis-via commented on #386
base_contract depends on base.
agreement_account depends on base_contract and account.
Just don't install agreement_account.

[2020-05-28 19:38] jgrandguillaume commented on #369
Closing this one to clean up the RFC, we're now in pilot phase

[2020-05-28 19:38] #369 closed, assigned to gurneyalex

[2020-06-05 16:18] OpencloudPro opened #524 "Error contract_sale_invoicing"
Module: contract_sale_invoicing
File: contract_sale_invoicing/models/contract.py line 19

you cannot call it with self because the decorator is multi. We need a for on the self before.

Thanks.

[2020-06-10 23:02] bylli79 opened #525 "Error update contract"
Hello,
I have updated the git.
Odoo does not start generating the following error:

2020-06-10 22: 57: 02,869 11 CRITICAL bsgest odoo.service.server: Failed to initialize database `gest`.
Traceback (most recent call last):
  File "/opt/odoo/odoo-server/odoo/service/server.py", line 1042, in preload_registries
    registry = Registry.new (dbname, update_module = update_module)
  File "/opt/odoo/odo

[2020-06-12 09:36] iw3hxn commented on #524
Yes same error, when create invoice get:

"Expected singleton: contract.contract(8, 14, 7, 26, 27, 32, 4, 29, 28, 34, 5, 12, 16, 18, 35, 33, 31, 24, 17, 23, 30, 20, 21, 22, 9, 13, 15, 6, 10, 25, 19, 11)"

I fix change line 19
if not self.invoicing_sales
to
if list(set(self.mapped('invoicing_sales'))) == [False]:

[2020-06-19 07:28] enricostano commented on #524
Could be related to https://github.com/OCA/contract/pull/437

[2020-06-19 07:30] enricostano commented on #524
Or this... https://github.com/OCA/contract/pull/505

[2020-07-03 06:11] iw3hxn commented on #524
yes, 505.
Error is on cronjob

the decorator is multi so need to use mapped inside

[2020-07-03 07:20] SSanfilippo opened #531 "[12] [BUG] Contract module"
Hi at all,
I had updated the module with the last version and now I get this error:

Traceback (most recent call last):
  File "C:\Program Files (x86)\Odoo 12.0\server\odoo\http.py", line 656, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "C:\Program Files (x86)\Odoo 12.0\server\odoo\http.py", line 314, in _handle_exception
    raise pycompat.reraise(

[2020-07-03 07:27] pedrobaeza commented on #525
This is a problem in your end. You have to update the module in the DB.

[2020-07-03 07:27] #525 closed, assigned to nobody

[2020-07-03 07:27] pedrobaeza commented on #531
Can you replicate the problem in the runbot link provided in the README?

[2020-07-03 07:35] SSanfilippo commented on #531
I don't find any link for runbot, but I don't know how create a runbot.

[2020-07-03 07:37] pedrobaeza commented on #531
See the badge that puts "Try me on runbot" in the upper head of the README file

[2020-07-03 07:42] SSanfilippo commented on #531
Ok, found it, but I don't have an account for create an instance ... then cannot make one.

[2020-07-03 07:43] pedrobaeza commented on #531
You don't need to create one, but use:

admin / admin

[2020-07-03 07:45] SSanfilippo commented on #531
I must use one of version 12? Ok, try.

[2020-07-03 07:48] SSanfilippo commented on #531
Ok, I tried one in runbot, create a new contract and then manually create invoice. Work fine.

But in my system no :)

[2020-07-03 08:19] SSanfilippo commented on #531
@pedrobaeza then what I must do? Wait the new version of the module? Use the source code?
Thanks,
Simone

[2020-07-03 08:22] pedrobaeza commented on #531
You have to check why that problem:

- Extra incompatible modules on top of `contract` module?
- Not latest source code

[2020-07-03 08:25] SSanfilippo commented on #531
I don't think that I have incompatible modules, before working after update (I have a version very old of the module) don't work.
Try to download the source code and try.
After I copy the latest source, restart odoo service and go in application and update the contract module?

[2020-07-03 08:37] pedrobaeza commented on #531
Yes, but again check that you don't have modules that depend on this one

[2020-07-03 08:43] SSanfilippo commented on #531
@pedrobaeza I tried to update with the latest source, but I have always the problem.

[2020-07-03 08:52] pedrobaeza commented on #531
Sorry to hear that, but I'm afraid the problem is in your side, and we can't do anything in the scope of the issue tracker, as the problem is not in the module, so closing. If you have further evidences that the problem is in the module, please write back.

[2020-07-03 08:52] #531 closed, assigned to nobody

[2020-07-04 20:13] devCbssolutionsRo opened #532 "I found a strange behavour:"
I found a strange behavour:
When you create contract with parner1 (without generating bills), then duplicate the contract and change partner to parner2 and you generate bills, this bills show parner1 instead of partner2.

EDIT: I think a solution (it works for me), is an onchange on partner_id to change also invoice_partner_id, then the bills will be partner2 instead of partner1.

_Originally post

[2020-07-12 11:39] pedrobaeza commented on #519
I'm not able to reproduce this problem. Are you sure you have latest code?

[2020-07-23 10:34] Thandohimself opened #534 "How do I use it?"
Great repo but how do use it???

[2020-07-23 10:44] pedrobaeza commented on #534
Follow README instructions and put specific doubts.

[2020-07-23 10:44] #534 closed, assigned to nobody

[2020-07-30 09:15] aschlager commented on #386
Hello Folks,
may I kindly ask if there is a rough estimation, when the first release for v13 might be available?
Need to plan if it's possible to wait or if we have to search for alternatives.
Best Regards!

[2020-07-30 12:07] pedrobaeza commented on #386
@aschlager it depends also on you: if you review current PRs, you can check the state and approve it if it's everything OK for its final inclusion in the repo.

[2020-08-03 18:44] JordiADARIA commented on #519
Hi Pedro,

yes, downloading the latest code an even checking on runbot...

ill try to record a video.

thanks for your answer

[2020-08-05 07:08] pedrobaeza commented on #524
Fixed in #537

[2020-08-05 07:08] #524 closed, assigned to nobody

[2020-08-07 15:55] pedrobaeza commented on #532
Please create a PR with your proposed solution

[2020-08-07 16:48] flotho commented on #484
Hi @babatoko ,

didi you have a look to https://github.com/OCA/contract/issues/504

[2020-08-07 17:03] flotho opened #538 "[12.0]Question regarding to the future of sale order generation"
Hi everyone,

I'm running on v12 and after the answer of @pedrobaeza here https://github.com/OCA/contract/issues/189#issuecomment-566308592 I've tried to refactor the old module for v12 : https://github.com/MindAndGo/contract/tree/12.0-mig-sale-generation

Yet I'm struggling with the product_contract module. I clearly understand the answer of @sbejaoui here https://github.com/OCA/contract/issues/5

[2020-08-07 17:06] pedrobaeza commented on #538
For that goal, I'm not using sales orders, but https://github.com/OCA/contract/tree/12.0/contract_variable_qty_timesheet

[2020-08-07 17:13] flotho commented on #538
Hi @pedrobaeza ,

AFAIU, this module do the job on invoicing part. but what about the planification process with tasks. Invoicing what has been done is a good thing but from time to time you only have recurring things to do (eg: 1h of community management or 1h of functional support) and even if you spent more time you'll only invoice one hour.
In this configuration employees must have somewhere a

[2020-08-07 17:15] pedrobaeza commented on #538
No, I'm not applying contracts to such things, as for us things like community management is not an extra. It's part of our core work :wink:

For functional support, a little extra formula + a field at contract level does the trick.

[2020-08-07 17:26] flotho commented on #538
Ok I understand how you work.
So you confirm that there is no other way to create tasks associated to contracts in this repo ?
Sale generation seems to still the appropriate path to work with ?

Regards

[2020-08-07 17:28] pedrobaeza commented on #538
Not that I'm aware of.

[2020-08-07 17:32] flotho commented on #538
Ok, great thanks @pedrobaeza

I'll clean up a little my process in my repo in order to deal with this process,

[2020-08-07 17:32] #538 closed, assigned to nobody

[2020-08-07 17:33] pedrobaeza commented on #538
As a tip, I don't generate tasks for such things, but let customers generate tasks from their mail requests and an alias in the project. Then we decide to tag that tasks properly according the nature, and look for timesheets in tasks with that tag for the invoicing. Very straight-forward...

[2020-08-07 17:41] flotho commented on #538
Yes, this is typically how I started to work, but the drawbacks I faced with this process are :
* you'll have only a single project per customer
* your employees are not easily awared of the "contract" signed with customer
* you finally observed "too late" the fact that the requests of your customer are out of contractual scope

We decided to work with generated tasks tagged as contract and for ea