[2020-08-07 17:47] pedrobaeza commented on #538
I don't see that as drawbacks, as for me project = contract, and there's not too late for me, as a dashboard can tell you current status, but I agree is not using Odoo sale_timesheet "tools".

[2020-08-07 18:06] flotho commented on #538
Improving the dashboard part is definitively a great part of the answer ! :+1:

[2020-08-12 16:46] pedrobaeza commented on #189
Closing as most modules are migrated and only one left in PR.

[2020-08-12 16:46] #189 closed, assigned to nobody

[2020-08-12 16:47] pedrobaeza commented on #519
Closing meanwhile until a video is provided.

[2020-08-12 16:47] #519 closed, assigned to nobody

[2020-08-12 16:48] pedrobaeza commented on #515
@sbejaoui can you answer this?

[2020-08-12 16:49] pedrobaeza commented on #532
Closing waiting for the PR.

[2020-08-12 16:49] #532 closed, assigned to nobody

[2020-08-13 15:06] sbidoul commented on #515
@miscs  Making the invoice offset user modifiable would be a good improvement and code has been prepared for that change, IIRC. Someone has to think through the implication in terms of compatibility, and the impact on related modules that create contracts, from e.g. sales orders. But it is certainly feasible and would add even more flexibility to the module.

[2020-08-25 09:03] HimanshuTS opened #542 "ERROR: relation "contract_line" does not exist LINE 1:UPDATE contract_line"
Hi,
I'm using contract(12.0.1.0.0) this version but I'm trying to install the newer version of
contract(12.0.7.3.4), but giving me the above problem,
Please tell me if anyone knows about that.
Thanks

[2020-09-02 14:19] miscs commented on #515
Hi @sbidoul Thanks for your answer. If we leave default at "0" only invoice creation should be effected or am I missing something?
To address our current need I added two new dates-field to the contract which I use for "subscription-period start / end". The original fields "Date Start" / "Next period start" are set to 6 weeks prior our new subscription-period fields. This way the invoice is send 6

[2020-09-12 07:42] rousseldenis opened #545 "[RFC] contract_price_revision: Add other method than percentage"
In some flows, percentage for contract price update is not convenient.

In wizard, we could add a 'method' to update prices.

[2020-09-15 21:48] patrickrwilson opened #546 "[RFC] agreement_serviceprofile - Can't use product variants"
Currently the service profiles have a product_id field referencing the product.template model. Because of this, you can't select a product variant for the service profile product. This is a limiting factor for the service profile product selection, especially when the other modules (Like sales) typically reference product.product.

I'm proposing changing the product_id field to reference product.p

[2020-09-15 21:48] patrickrwilson commented on #546
Ping @max3903 @osi-scampbell

[2020-09-15 21:52] max3903 commented on #546
ping @dreispt @kvedder-amplex @ygol

[2020-09-16 06:32] ygol commented on #546
make sense to me.

[2020-09-16 15:01] osi-scampbell commented on #546
@patrickrwilson @max3903 @ygol How about a m2o field to product.product as well as a boolean in the settings to determine which to use? This way current users can continue as per usual and still have access to this functionality if they so choose.

[2020-09-16 23:27] patrickrwilson commented on #546
@osi-scampbell I'm fine with that too, that way both can be supported. We would prefer the original product.template field hidden and just use the product.product field.

[2020-09-29 20:54] levkar opened #549 "[12.0] #END# usage in section and notes"
If you put #END# in a note or a section line, you get the following error on invoice creation:

  File "/opt/odoo/addons/contract/models/contract_line.py", line 747, in _insert_markers
    name = name.replace('#END#', last_date_invoiced.strftime(date_format))
AttributeError: 'bool' object has no attribute 'strftime'

[2020-09-30 04:52] nikul-serpentcs commented on #549
@levkar please add reproduce steps

[2020-09-30 06:55] pedrobaeza commented on #549
I have the steps clear, but I don't get the purpose: do you try to get that mask replaced by any kind of date? Which date?

[2020-09-30 07:21] levkar commented on #549
Purpose is to write the invoicing period on a line at the very top/bottom of the invoice instead of putting it on each line's description.

[2020-09-30 07:34] pedrobaeza commented on #549
That's not possible, as each line can have its own period. We can fix for not having error, but you can't use that markers in sections with that purpose.

[2020-09-30 09:25] levkar commented on #549
I created this issue to get the error fixed, not to request this as a feature. Yet, it would be good feature if they (especially notes) might act like a product in terms of dates (since sections and notes are lines too).

[2020-09-30 09:30] pedrobaeza commented on #549
Notes will work that way if you configure so.

[2020-09-30 09:44] levkar commented on #549
Yes, if the error is fixed...

[2020-09-30 09:54] pedrobaeza commented on #549
AFAIK, there's no error in notes when you configure then to be shown with previous/following line

[2020-09-30 15:44] levkar commented on #549
Yes it works! I tried with custom. Should i close this issue or keep it open?

[2020-09-30 15:47] pedrobaeza commented on #549
I will fix the error, so let's keep it opened.

[2020-10-04 10:22] OCA-git-bot opened #551 "Migration to version 14.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-14.0

# Modules to migrate

- [ ] agreement_legal_sale_fieldservice - By @patrickrwilson - #675
- [ ] agreement_repair - By @Vimal-OSI - #703
- [x] contract - By @ozono - #577
- [ ] contract_invoice_start_end_dates - By @chafique-delli - #829
- [ ] contract_queue_job - By @BurkhalterY - #897
- [ ] contract_sale
- [ ] contrac

[2020-10-16 09:48] victoralmau commented on #386
I'm working on `contract_layout_category_hide_detail` https://github.com/OCA/contract/pull/554

[2020-10-16 10:46] victoralmau commented on #386
I'm working on `contract_sale` https://github.com/OCA/contract/pull/555

[2020-10-25 09:20] sbejaoui commented on #386
contract_mandate #559

[2020-10-25 09:20] sbejaoui commented on #386
contract_payment_mode #558

[2020-10-25 09:23] sbejaoui commented on #386
product_contract #561

[2020-10-26 14:48] misern2 opened #565 "[13.0][BUG] Contract: Recurring at line level. Different start dates"
Testing the new module on V13 I found out the following bug.

1) Create a simple contract with the Recurrence at line level set to True
2) Create two contract lines with diferent start dates.
Current behaviour:
  Raise an exception on creating the record: date constranints

Expected behaviour:
 Create the record and allow to generate the invoices.

![contract_13_bug](https://user-images.githubuser

[2020-10-26 14:50] pedrobaeza commented on #565
But according the screenshot, the date of next invoice is correct. Maybe it's because you have created both at the same time with no saving in between and it's a framework problem?

[2020-10-26 15:00] misern2 commented on #565
I tested both ways.
First creating all lines at once, then creating one by one and the same error appears.
All the info in the form seems correct.

[2020-10-26 15:01] pedrobaeza commented on #565
Is this reproducible in a unit test? If so, please pass me for debugging.

[2020-10-26 16:33] misern2 commented on #565
Just creating a simple contract with the two lines, raise the exception:

[Code Example](https://github.com/QubiQ/contract/commit/ffc1e3d61bd39dad1d4c3c143a08240a0fff86f3)

[2020-10-26 16:35] pedrobaeza commented on #565
Why are you putting this `date_start` at header level:

https://github.com/QubiQ/contract/commit/ffc1e3d61bd39dad1d4c3c143a08240a0fff86f3#diff-da995126f9f1cfc9e7074016896e39baf645c3c59d1e5364bdb098a4fb7248a9R170

[2020-10-26 17:00] misern2 commented on #565
ups!. It was a copy paste. Anyway without this line we get the same error.

[2020-10-26 17:03] pedrobaeza commented on #565
OK, I will check

[2020-10-29 17:40] Lopsanz opened #568 "[12.0][BUG] Querying contracts from contacts 2nd chance."
Steps to reproduce:
1.- Go to contacts and group the listview by country
2.- Navigate into contact form view
3.- Clic on contracts smartbutton. All is OK at the first time.
4.- Back to contact
5.- Clic on contracts smartbutton again.

Odoo Server Error
Traceback (most recent call last):
  File "/.repo_requirements/odoo/odoo/http.py", line 656, in _handle_exception
    return super(JsonRequest, sel

[2020-10-29 18:35] pedrobaeza commented on #568
I think this problem comes from https://github.com/odoo/odoo/issues/47680

[2020-10-29 22:42] Lopsanz commented on #568
https://github.com/OCA/contract/blob/924e73be0539ee55ae021b9c51bdc7ecf94083ec/contract/models/res_partner.py#L51

Since that related issue is not solved, perhaps we should remove "group by" received in self.env.context

[2020-10-30 13:18] Lopsanz commented on #568
#569

[2020-10-30 13:18] #568 closed, assigned to nobody

[2020-11-03 10:47] hgarridoco opened #570 "[13.0][BUG] Contract: Not recurring at line level. Different last invoice dates"
Hi,

If I try to generate a contract with recurrence at the header level and generate a start date set in the previous moment and the next recurring date for this month, it generates the next invoice date wrong.

That screenshots are from rubot:

Before generate invoice:
![image](https://user-images.githubusercontent.com/16115608/97976651-3e8e1e80-1dcb-11eb-99f5-92b4e9e9d737.png)

After generate i

[2020-11-03 10:48] pedrobaeza commented on #570
Unless you give more information on how to reproduce the problem and which is the problem, nothing can be done.

[2020-11-03 10:55] hgarridoco commented on #570
Sorry, I press enter so quickly.

I filled it properly.

[2020-11-03 11:01] pedrobaeza commented on #570
I don't see the exact sequence for the data entering. Can you record a video?

[2020-11-03 11:07] hgarridoco commented on #570
You can check it at this video:

https://www.loom.com/share/fa3ccee03b194190a28b4f4527019df7

[2020-11-04 19:02] rizzopablo opened #572 "[14.0] contract: Missing required account on accountable invoice line."
Hi there! I'm testing contract on v14, after modifying the company assignment to use the new call "self.partner_id.with_company(self.company_id.id)", I'm facing this issue trying to create an invoice from contract:

ERROR: new row for relation "account_move_line" violates check constraint "account_move_line_check_accountable_required_fields"
DETAIL:  Failing row contains (15, 14, MISC/2020/11/0001

[2020-11-04 19:06] pedrobaeza commented on #572
The module is not yet migrated to v14, so it's normal that errors arise. Closing as not applicable.

[2020-11-04 19:06] #572 closed, assigned to nobody

[2020-11-14 18:24] ozono commented on #551
Working on contract #577

[2020-11-23 10:10] alexis-via commented on #386
FYI, due to the failure to introduce a proper base_contract module in odoo v13 (and it seems it will be the same for v14, because there is already a PR to port contract to v14 that don't rely on base_contract), I'll stop my efforts to try to have a base_contract module that fits my (simple) needs. So I won't maintain my "agreement" module in OCA/contract and I'll find other solutions for my (simpl

[2020-11-24 14:24] bakatasolutionssl opened #581 "Cannot use Contract template when creating new contract in Odoo v13"
Hello,

We are having an issue with Contract module for Odoo13.
We have some contract templates created for customer contracts.
When we try to use any of these templates in a new contract, Odoo shows an alert with th next message: Record does not exist or has been deleted. (Record: contract.contract(2,), User: 2)

Why could this be happening? Are we doing something wrong?
Thanks.

Bakata Solutions

[2020-11-25 10:45] bakatasolutionssl commented on #581
This is not working even in Runbot, here you have a screenshot with the error --> https://snipboard.io/imz7QA.jpg

[2020-11-26 17:02] miscs opened #582 "[12.0] Products with contract -> Ordered Qty. > 1 -> "Wrong" Date End"
Hi all,

I have a sales-order containing one product with a contract (pre-paid, 1 year).
If I add quantity 6 of this product in one sales order line the Date End is calculated as if the six subscriptions would run one after each other (resulting date end to be in six years). But in my use-case the customer buys six subscriptions which are all running in parallel (date end should still be in one ye

[2020-11-29 22:00] flachica commented on #381
I make a wizard to update this field. But this is total insecure. Save the start and end dates in invoices can be help us, but is not simple

[2020-12-11 14:48] fcayre opened #591 "[RFC] Module to define emails to be sent at key-dates of a contract"
Any comment/ suggestion welcome, particularly if a similar module
already exists that would fulfill the needs without writing a single
line of code :-)

# Needs

The title says it all about the needs. I propose a name like contract_emails or contract_predefined_emails.

The idea is to send predefined emails to the partner at key dates of the contract.

Not sure if I will develop this in v10 or dir

[2020-12-29 14:24] mgielissen opened #595 "[12.0][BUG] Contract documents not available for portal users"
The new portal function for contracts doesn't show up for portal users under /my/home (only for backend users with admin rights)?

[2020-12-29 15:06] victoralmau commented on #595
Please explain all steps to reproduce bug and version (12.0 or 13.0).

It's important to clarify that in /**my/home** only appear "_Contracts_" if user have some contract.
Maybe need to add follower user in contract.

[2020-12-29 15:15] mgielissen commented on #595
Adding the user as follower solves it indeed.

[2020-12-29 15:15] #595 closed, assigned to victoralmau

[2020-12-29 15:17] pedrobaeza commented on #595
From README:
![Selección_004](https://user-images.githubusercontent.com/7165771/103294037-55c74200-49f1-11eb-9a0b-2922cd5ff624.png)

[2020-12-30 08:40] dsolanki-initos commented on #551
Hello,
I'm migrating module contract_sale to v14.

[2021-01-01 04:51] dsolanki-initos commented on #551
Hello,
I'm migrating module contract_sale_invoicing to v14.

[2021-01-03 20:16] frantischek opened #599 "Access contract.line.wizard"
Hi,
when I try to start a new recurring contract I get this message (sorry for german):

In debug mode clicking on the invoice creation button also shows a error message:

(something like: missing account in invoice)

Method name: recurring_create_invoice

Can someone help me please.
Thanks.
BR
Frantischek

[2021-01-04 18:27] afilomeno opened #604 "Agregar notas en Contratos V13"
Cuando añades una nota en la línea del contrato y quieres hacer la facturación sale un error "Precio Unitario, cuenta y cantidad prohibidos en la linea de factura no contabilizada", esto es un bug o un error nuestro? gracias

[2021-01-05 19:21] aschlager opened #605 "Upgrade to 13.0.2.2.0 fails - contract/security/ir.model.access.csv could not be processed"
Trying to update from 13.0.1.0.3 (with already existing contracts in the system) to 13.0.2.2.0, I get this error while updating:

`
Error:
Odoo Server Error

Traceback (most recent call last):
  File "/opt/odoo_test/odoo_test-server/odoo/http.py", line 624, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/opt/odoo_test/odoo_test-server/odoo/http.py", l

[2021-01-05 19:25] pedrobaeza commented on #605
It seems you haven't update properly, as the model is added in such version.

[2021-01-05 19:37] aschlager commented on #605
I only hit the "upgrade" button in the Module Info page, nothing else.
Anything to prepare which I missed?

[2021-01-05 19:39] pedrobaeza commented on #605
Are you talking about the Apps online option? That one doesn't normally works.

[2021-01-05 19:42] aschlager commented on #605
Sorry if I haven't described before: I'm using Odoo 13 CE on a own Ubuntu server machine.
Now looked into odoo server log, I discovered this:
2021-01-05 19:38:44,326 20333 INFO bexodoo01 odoo.modules.loading: loading contract/security/groups.xml
2021-01-05 19:38:44,486 20333 INFO bexodoo01 odoo.modules.loading: loading contract/security/contract_tag.xml
2021-01-05 19:38:44,503 20333 INFO bexodoo01

[2021-01-05 19:45] pedrobaeza commented on #605
Previously there should be the model update. Something is not correct on your side, sorry. It's nothing of the module itself.

[2021-01-05 19:45] #605 closed, assigned to nobody

[2021-01-07 04:36] newtratip commented on #386
Hi!! I would like to manage content contract and print contract as module `agreement_legal` on V12. I looked on the listed modules to migrate it doesn't have module `agreement_legal`. What is new module name of `agreement_legal` ?

[2021-01-08 05:24] dsolanki-initos commented on #551
Hello,
I've migrated the module contract_sale to v14. Here is the PR https://github.com/OCA/contract/pull/606

[2021-01-08 05:57] dsolanki-initos commented on #551
Hello,
I've migrated the module contract_sale_invoicing to v14. Here is the PR https://github.com/OCA/contract/pull/607

[2021-01-09 19:47] nabilragab opened #608 "redundant field view"
Dont need to extend the suppliers form view with an additional field.

It already inherits and displays. remove redundant      on line 42

[2021-01-09 19:58] pedrobaeza commented on #608
Please add more details about what are you talking about

[2021-01-10 00:02] nabilragab opened #609 "Error when starting plan"
Plan contract line successor.
-Leave the end date blank.
-Auto-Renew Off
(if I try to set an end date I get: Contract line and its predecessor overlapped)

**ERROR**

  File "\server\addons\contract\models\contract_line.py", line 379, in _check_overlap_predecessor
    if rec.date_start <= rec.predecessor_contract_line_id.date_end:
TypeError: '<=' not supported between instances of 'datetime.date'

[2021-01-10 10:39] ygol opened #610 "[13.0][contract]: portal showing "back to edit mode" for everyone"
### Reproduce:
- add a portal user as a follower of a contract
- log as that portal user and select the contract: a top bar is shown inviting to "back to edit mode"
![image](https://user-images.githubusercontent.com/2945174/104120567-78861e80-5340-11eb-9f6d-3676616a2b29.png)

### Desired:
Only show the top bar when clicking on "review" button in backend and not when accessing a contract from the p

[2021-01-10 22:12] nabilragab commented on #608
contract_payment_mode\views\contract_view.xml

contract_contract_supplier_form_view
This record is redundant, it only causes a duplicate payment mode field to display in the form for supplier contract.

[2021-01-10 22:39] pedrobaeza commented on #608
Please add a PR doing such removal.

[2021-01-11 04:54] nabilragab commented on #608
I Don't have write access...

[2021-01-11 07:15] pedrobaeza commented on #608
That's why I am talking about a PR (pull request).

[2021-01-19 10:51] #610 closed, assigned to victoralmau

[2021-01-23 20:55] toddrabs opened #615 "Accessing Templates from Dashboard"
I've added new templates under Configuration -> templates. However, when I go to the dashboard I can't find a way to pull up a template on that screen. Is there a way to do this that I am missing? Maybe this is an enhancement, in which case if there is anyone that can help I'd love to chat more on this. Thanks!

[2021-01-24 16:00] kittiu commented on #386
Sorry, I am late with the discussion. I and @newtratip was using agreement_legal and contract modules, and they works for us. We will need the equivalent modules soon and wanted to join the party.

But frankly, I am quite lost in the discussion. What is the state of work here? @max3903  Are we agreed upon -> https://github.com/OCA/contract/issues/386#issuecomment-546001620

@alexis-via do you sugg

[2021-01-24 16:05] ygol commented on #386
I am also using agreement_legal and also unable to understand where it is heading.
For my use I would prefer having agreement in a separate repo altogether

[2021-01-24 16:26] kittiu commented on #386
@ygol for us, we think they are relevant. When we use it together, we did created a new module `agreement_to_contract` that convert agreement to contract.

* agreement_legal is used by **lawyer**, only when it is signed, it is converted to contract.
* contract is used by **accountant** to create recurring invoice (separation make more sense in our case).

[2021-01-24 16:28] kittiu commented on #386
@ygol you don't use both agreement and contract?

[2021-01-24 16:37] ygol commented on #386
no. my customers are using agreement_legal (used by lawyer) and linked to extended project and tasks to control that operations take place within a legal agreement in regard of prices and quantities. Invoicing (accounting) comes at a later stage (getting the prices and quantities that where processed)

[2021-01-27 15:53] eduaparicio opened #617 "[12.0][QUESTION] How can I sell a monthly contract over e-commerce using the recurring product?"
**How can I sell a monthly contract over e-commerce using the recurring product?**

Whenever I try to do so, it results in:
- contract with no end date, despite the contract template configured to bill monthly and renew automatically after 1 year;
- contract lines duplicated

The same behaviour occurs when I validate a Quotation containing the recurring product.
Important to mention that the Contr

[2021-01-31 23:27] pedrobaeza commented on #604
Fixed in #619

[2021-01-31 23:27] #604 closed, assigned to nobody

[2021-02-01 02:14] kittiu commented on #386
Our team will start to migrate agreement / agreement_legal
Note: Please let us know, if we shouldn't do it otherwise.

[2021-02-05 17:08] pasgou commented on #608
To complete : the field is duplicate AND the domain is inbound where it should be outbound.

[2021-02-08 12:51] filipocc commented on #549
Hi @levkar , could you please explain how did you fix it? I'm facing the same issue with brand new contracts (due to there is no last_date_invoiced date.)

[2021-02-08 22:18] HaraldPanten opened #625 "[12.0] Contracts for "children partners" are not related in its parent partner Contract Smartbutton."
@pedrobaeza

Use case:

1- Create 1 partner (company).
2- Create a contact for this partner. An invoicing address, for example.
3- Create a contRact for the invoicing contact.

ISSUE:

When you navigate to the parent partner form, you'll see that this partner has 1 contRact related. You'll see a number 1 shown in the smartbutton related to contacts.

When you click to this smartbutton, the contRac

[2021-02-09 07:16] pedrobaeza commented on #625
Change the search view for using `child_of` operator for the filter activated with that smart-button

[2021-02-09 07:21] filipocc commented on #549
Hi @pedrobaeza , any updates on this?

[2021-02-09 07:24] pedrobaeza commented on #549
I have been thinking that this is not something to solve, as you can't use such markers in a note that is not invoiced with previous/next line. A possible fix is to not error, but let the markers, and then other people will put an issue saying that "markers are not converted", so it will be the same. Then:

- Don't use markers in notes.
- Use it, but putting the invoicing mode as specified.

[2021-02-09 07:24] #549 closed, assigned to nobody

[2021-02-09 12:22] HaraldPanten commented on #625
Sorry Pedro, I don't understand what you mean.

There's no filter activated in the contract search view but a function.

The filter is created by a context. Have a look at res.partner.py

![Captura de pantalla 2021-02-09 a las 13 13 40](https://user-images.githubusercontent.com/32449357/107362320-e0af5800-6ad8-11eb-9d3d-bd61de20da7b.png)

Should we change that?

[2021-02-09 12:25] pedrobaeza commented on #625
Yes, there's is, `search_default_partner_id` activates the filter `partner_id` with current id. You should change such filter for using operator `child_of`.

[2021-02-14 09:17] rousseldenis commented on #386
I will work on contract_price_revision on my free time. I will add enhancement to take into account fix price update.

[2021-02-15 10:39] manuelregidor commented on #625
I have managed to show the contracts related to a contact and its contact sons when clicking on the smartbutton by returning the ids of the contracts to be shown. The thing is that I would like to apply a filter on the searchbar using the child_of operator when clicking on the smartbutton instead of showing only the contracts related to the contact and its sons. That is the way that it works now w

[2021-02-16 09:58] newtratip opened #632 "How to use agreement_legal module on V12 ?"
I try to play `agreement_legal` module following [README](https://github.com/OCA/contract/blob/12.0/agreement_legal/README.rst) but I didn't understand in some point

**My question**
- How can I select template on agreement ?
- What is really objective of Dashboard > Agreements and Operations > Agreement menu
- What is Renewal Types and Increase Types on configuration menu ?

[2021-02-16 14:56] pedrobaeza commented on #625
Fixed in #634

[2021-02-16 14:56] #625 closed, assigned to nobody

[2021-02-16 15:08] HaraldPanten commented on #625
THX

[2021-02-17 16:11] frantischek opened #636 "Force removal"
Hello,
I need to remove the contract app from my odoo because it produces some errors (I'm using odoo 14 and contract for version 13.)
Can someone tell me how to remove it using SSH, because when I try to uninstall it I get this error:

[code]
`

[2021-02-18 04:14] newtratip commented on #494
Fixed in https://github.com/OCA/contract/pull/637/

[2021-02-18 09:28] #494 closed, assigned to nobody

[2021-02-19 07:34] cremain opened #638 "Contrat not generated automatically"
Hello all

I use this module and createt a daily recurring invoice on prepaid mode. So the different invoices not created automatically every day.

How can i resolve this issue ?

[2021-02-19 07:40] pedrobaeza commented on #638
Steps to reproduce the problem with exact data an Odoo version?

[2021-02-20 07:06] cremain commented on #638
Odoo Version: 13 community

Steps:
1. Create a contrat
2. define the recurrency by Daily

Result: No contrat generated automatically.
<img width="1228" alt="image" src="https://user-images.githubusercontent.com/47972090/108587172-127eb500-734a-11eb-8552-a7a398de46f1.png">

[2021-02-20 08:09] cremain commented on #638
Hello

I just upgraded the module and it's worked now.

Thanks

[2021-02-20 08:09] #638 closed, assigned to nobody

[2021-02-20 08:22] cremain opened #639 "Post automatically created invoices by the cron"
Dear all

I use the module to manage recurrency invoices. Congratulations and thanks for this great module.

So i have some questions:
1. How to post automatically the invoices created by the cron?
2. Is it possible to have the contract_id on the invoice? If yes, how? My need is to display the frequency and  type on the invoice.

Odoo version: 13 community
Contract version;: 13.0.2.3.5

[2021-02-20 09:28] pedrobaeza commented on #639
1. There's no such mechanism yet implemented.
2. You have the contract line at invoice line level, so adding a computed field for that in your custom layer is simple.

Closing as no issue, but questions.

[2021-02-20 09:28] #639 closed, assigned to nobody

[2021-02-21 07:13] sound675 opened #640 "[CE ver 12] - Problem : "Internal Reference Code" is not generated properly when click Template "New Agreement" button"
Hello,

I am using
Odoo CE Ver. 12

I have installed :
- agreement ver 12.0.1.2.0
- agreement_legal ver 12.0.2.0.0

Problem :
1. I have created a Agreement Template - Reference "AG001"( Configuration - Templates )
2. From the created Template, I click "New Agreement" button
3. A new agreement is generated, however the "Reference" is not correct and the Title is "NEW" instead of referring back to T

[2021-02-21 07:14] sound675 commented on #640
This is the screenshot of Configuration - Templates

![Agreement 1](https://user-images.githubusercontent.com/76610681/108618242-0cbec780-744f-11eb-8f0c-4cd49694d314.JPG)

[2021-02-21 07:15] sound675 commented on #640
This is screenshot of the problem of "Reference ID AG001(copy)" and the "Title"
![Agreement 2](https://user-images.githubusercontent.com/76610681/108618253-27913c00-744f-11eb-9fa4-d3e788f4609d.JPG)

[2021-03-01 07:32] newtratip opened #645 "Question for agreement type and agreement subtype"
On the agreement, it has 3 types (module `agreement_legal`)
- Agreement
- Contract
- Letter of Intent

and in each agreement types, it has setting a subtype.

![Selection_196](https://user-images.githubusercontent.com/24691983/109464737-b9292b00-7a99-11eb-85cc-4998c11f37c0.png)

**My question**
1. What is difference `Agreement` and `Contract` type ?
2. What is agreement subtype ? and real case how

[2021-03-01 08:11] ygol commented on #645
Our use case for agreements is the management of frame contracts with partners.
Legally defining prices, quantities, and terms of conducting business.

* The agreement type simply permits the categorization.
  I further use a custom module that forces the naming of an agreement based on the agreement type.  So in your example, any agreement of type "agreement" would automatically start with "AG-"

[2021-03-01 09:10] newtratip commented on #645
@ygol, Thanks for your answer. I more understand :)

I'm a beginner on an agreement module. May I ask another question ?

Is this step correct ?

If this step is correct, agreement is created from template menu only which permission with `Manager` group.

For the `user` group, I can't create agreement from template.

Could you suggest me for this ?

[2021-03-01 10:55] newtratip commented on #615
I'm not found select template on agreement under dashboard and operation too.

[2021-03-02 12:47] newtratip commented on #615
I add `Create Agreement From Template` under operation menu https://github.com/OCA/contract/pull/647, Is this ok for you ?

[2021-03-02 21:58] toddrabs commented on #615
This is great, thank you!

On Tue, Mar 2, 2021 at 7:47 AM Tharathip C. @ Ecosoft <
notifications@github.com> wrote:

[2021-03-03 08:51] JorgeQuinteros opened #648 "[12.0] Contract Smartbutton not filter by partner_id, is showing all contracts."
Tested in runbot: When click in contract smarbutton is not filtering by the user active.
![contract_smartbutton_show_all_contracts](https://user-images.githubusercontent.com/43784849/109779179-f9a5b780-7c05-11eb-8066-b14bb59b6304.gif)

[2021-03-06 07:42] ygol commented on #645
Hi
[code]

This is not correct. an agreement **user** can access templates and create agreements.

[2021-03-07 18:32] nabilragab opened #650 "​Recurrence at line level Invoices BUG"
When using the ​Recurrence at line level the invoices don't get generated automatically.

Is there a fix for this or this is the correct behaviour?

[2021-03-07 18:48] pedrobaeza commented on #650
Unless you specify detailed steps to reproduce the problem, it's impossible to say.

[2021-03-08 03:44] newtratip commented on #645
Hello @ygol,

I create one user with access right `Agreement User`
![Selection_209](https://user-images.githubusercontent.com/24691983/110267999-829c6480-7ff3-11eb-961a-9aa63d19714f.png)

I'm not see any templates, I have access with menu Dashboard, Operations, Master Data
![Selection_213](https://user-images.githubusercontent.com/24691983/110271261-36a0ee00-7ffa-11eb-819a-acfd4096f7a0.png)

Am I

[2021-03-08 07:35] ygol commented on #645
![image](https://user-images.githubusercontent.com/2945174/110289099-9cd54300-7ff1-11eb-8540-59faa642fc8a.png)

you could also edit the action for the Operation/agreements view and remove the domain

[2021-03-08 09:59] julienb31 opened #651 "Contract V13 - TypeError: _values_to_save() got an unexpected keyword argument 'all_fields'"
Hi,
I have an issue following the installation of the contract module.
This error is generated when the action "create invoices" of a contract is activated.
Can you please help me find the reason for this blockage?

Here are the details of the error:

Erreur:
Odoo Server Error

Traceback (most recent call last):
  File "/opt/odoo/odoo/odoo/http.py", line 619, in _handle_exception
    return super(

[2021-03-08 12:17] pedrobaeza commented on #651
You have some kind of bad overriding of such method, as the argument is correct:

https://github.com/odoo/odoo/blob/1e35b8987c619f200e84da2ba97040b38347edde/odoo/tests/common.py#L1731

[2021-03-08 12:17] #651 closed, assigned to nobody

[2021-03-10 10:42] newtratip commented on #648
Fixed in https://github.com/OCA/contract/pull/642

[2021-03-16 12:46] BartvandenHout commented on #386
Came across an error while upgrading from Odoo 12 to 13 (can't compare bool and datetime with '>')
Resolved the OpenUpgrade error by changing:
contract_recurrency_mixin.py: line 111
if rec.date_end **and next_period_date_start** and next_period_date_start > rec.date_end:

[2021-03-26 17:58] marcelsavegnago opened #657 "[14.0][WEBLATE] translation is temporarily closed"
![image](https://user-images.githubusercontent.com/3595132/112673489-888fa380-8e43-11eb-8546-eecc85cf4391.png)

[2021-03-26 18:08] pedrobaeza commented on #657
Unblocked.

[2021-03-26 18:08] #657 closed, assigned to nobody

[2021-03-26 19:02] marcelsavegnago commented on #657
Thanks

[2021-04-05 07:57] cremain opened #660 "VAT not appear on contract edition"
Dear all

On contract edition, VAT not appear in product including line.

[2021-04-05 08:12] pedrobaeza commented on #660
Sorry, I don't get the problem

[2021-04-05 11:08] Boca13 commented on #605
@aschlager maybe you can fix your problem by updating the module from the CLI. I mean, launch Odoo like this:
`odoo-bin -u contract -d YOUR_DATABASE`. More information: https://www.odoo.com/documentation/13.0/reference/cmdline.html

[2021-04-06 07:04] cremain commented on #660
To edit a recurring contract, there is no possibility to include VAT for a product.

[2021-04-06 07:06] cremain commented on #660
To edit a contract, there is no possibility to include VAT for a product.

[2021-04-06 07:09] pedrobaeza commented on #660
You mean taxes, and of course that's not possible, as that is got from product and fiscal position.

[2021-04-06 07:09] #660 closed, assigned to nobody

[2021-04-06 16:29] #648 closed, assigned to nobody

[2021-04-10 20:25] flotho commented on #608
maybe https://github.com/OCA/contract/pull/528

[2021-04-19 09:38] bosd opened #664 "V14 Contract module not installable"
The ```contract``` module is not visible in the applist on V14.

Tried to install it from the cli.

``` docker-compose run --rm odoo odoo -i contract --stop-after-init```
<details>
[code]
</details>

it says loaded. But still the tile is not shown in the applist and the corresponding menu's, views are unavailable.

(In case you ask, yes the source files are correctly loaded on the system. (agreeme

[2021-04-19 09:41] pedrobaeza commented on #664
This seems something of you deployment, as it's correctly deployed on runbot AFAIK.

[2021-04-19 10:05] bosd commented on #664
True, could be an local deployment problem. It occurs on 2 installations.
Not sure if the runbot is liking it. Maybe onrelated.
Just visted the runbot and encoutered an internal server error. Reloaded the page and opens fine. (yet terribly slow)

on my local install it wont show up in the applist.
External dependencies are met. Tried reloading the list multiple times. Switched languages.

Any idea

[2021-04-24 06:19] bosd commented on #551
please add contract_digitized_signature

[2021-04-24 08:13] cremain opened #665 "Prepaid contract, invoices not generated in accordance of recurring period"
Hello team

I use odoo community v13 to have recurring invoices.
On recurring period, I selected weekly and invoice type, I selected prepaid

So, invoices didn't generated in accordance of my configuration, prepaid mode as one week before the invoice date.

How to resolve this issue?

[2021-04-24 09:43] pedrobaeza commented on #665
Pre-paid means that the paid interval is from the invoice date to the end of such interval, not one week before.

[2021-05-11 09:24] ygol opened #673 "[Question] [contract_mandate]: Is it same as SEPA?"
Hi,

Is the module contract_mandate compatible with SEPA mandates?
Is there a difference?

Use case targeted is to have an invoice generated from a contract to automatically charge de customer using the SEPA mandate - payment mean - pre-established for that customer.

thank you

[2021-05-11 10:52] pedrobaeza commented on #673
The module is for indicating at contract level which mandate to use for the generated invoices. Nothing more and nothing less.

[2021-05-11 10:52] #673 closed, assigned to nobody

[2021-05-11 11:21] victoralmau commented on #386
I'm working on `agreement_legal` https://github.com/OCA/contract/pull/674

[2021-05-17 10:00] laumar92 opened #676 "Issue on Agreement legal module after install on V13 community"
After correct installation, i got this error message when trying to create new template or agreement

Retraçage   :
--
Error: def is not defined
_render@https://xxxxx.xxx/web/content/748-4c00473/web.assets_backend.js:3948:1'
start/<@https://xxxxxxx.xxx/web/content/748-4c00473/web.assets_backend.js:821:1408

Thks for help on this
Rgrds,
LM

[2021-05-17 11:45] pedrobaeza commented on #676
Is this reproducible on OCA runbot?

[2021-05-19 13:23] laumar92 commented on #676
Yes same issue on OCA Runbot

Traceback:
Error: def is not defined
_render@http://3483635-13-0-2cb67a.runbot2-3.odoo-community.org/web/content/742-fef1869/web.assets_backend.js:3587:1
start/<@http://3483635-13-0-2cb67a.runbot2-3.odoo-community.org/web/content/742-fef1869/web.assets_backend.js:821:1408
Thks
LM

[2021-05-30 19:01] agharaafat commented on #676
i have the same issue with the same message
Odoo 13 EE

[2021-06-05 06:42] #345 closed, assigned to max3903

[2021-06-16 06:56] hkapatel-initos commented on #551
Hello,
I'm migrating the module agreement_project to v14. #686

[2021-06-17 11:51] hkapatel-initos commented on #551
Hello,
I'm migrating the module contract_mandate to v14. #693

[2021-06-23 06:26] 5B-MAVERICKS opened #687 "Sales Order to Agreement - Section lines are messing up with agreement lines"
Agreement_sale_legal installed (v14)

I'm creating a sales order w/ agreement template.
Sales order lines contain products + section lines.

When confirming the sales order, 'agreement app' is generating an agreement and I get the following error:
"Agreement line - Unit of measure..."

It means that it tries to turn the "section" line from the Sales Order into an agreement line.
but because not a

[2021-06-24 10:48] sindhu5497 opened #688 "Error while installing new custom module"
Error:
Odoo Server Error

Traceback (most recent call last):
  File "/opt/odoo13/odoo/odoo/http.py", line 624, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/opt/odoo13/odoo/odoo/http.py", line 310, in _handle_exception
    raise pycompat.reraise(type(exception), exception, sys.exc_info()[2])
  File "/opt/odoo13/odoo/odoo/tools/pycompat.py", line 14,

[2021-06-24 10:49] pedrobaeza commented on #688
This has nothing to do with this repo, but the custom module.

[2021-06-24 10:49] #688 closed, assigned to nobody

[2021-06-24 10:52] sindhu5497 commented on #688
want to add two fields in sale order but it shows error as Keyword...
Pls help to resolve this one

[2021-06-24 11:01] pedrobaeza commented on #688
Not the proper place. Go to forums for asking that.

[2021-07-02 09:38] kittiu opened #695 "agreement_operating_unit, can we remove dependency on agreement_servicepofile?"
Hi Maxime @max3903,

I saw module the module depends on agreement_serviceprofile
https://github.com/OCA/operating-unit/blob/12.0/agreement_operating_unit/__manifest__.py

Just wonder why don't we just make it on `agreement` alone (or agreement_legal at most). Any reason? Or can I make it to v14 without serviceprofile?

Thanks!

[2021-07-11 18:05] trixocom opened #698 "Can not generate invoices on contract when setting discount"
This is the error:

Cannot create unbalanced journal entry. Ids: [47]
Differences debit - credit: [-396.69]

$396,69 is the amount of the discount.
Odoo 13 ce latest build.

[2021-07-12 06:11] pedrobaeza commented on #698
Please try to reproduce the problem in standard OCA runbot (https://runbot.odoo-community.org/runbot/110/13.0), and explain the complete detailed steps to get to it.

[2021-07-28 13:39] #182 closed, assigned to nobody

[2021-08-10 14:57] FedericoGregori commented on #676
Same error fresh install Odoo 13 CE

[2021-08-18 08:01] santyabreu opened #708 "Cannot see contract at portal in odoo 13"
Hello everyone, and thank you for your support

After installing the module, I generate a customer contract, but I can't see it in the portal. I have done the step of putting the contact as a follower but I can't get it to appear . Have I forgotten to do something?

Best Regards
Santy

[2021-08-18 11:06] pedrobaeza commented on #708
Unless you reproduce the problem in the OCA runbot to be analyzed, nothing can be done here.

[2021-08-18 19:05] santyabreu commented on #708
deleted screenshots

[2021-08-18 20:31] santyabreu commented on #708
Runbot http://3498561-13-0-bc4017.runbot2-3.odoo-community.org/

[2021-08-19 06:38] pedrobaeza commented on #708
Everything is working fine in runbot:

http://3498561-13-0-bc4017.runbot2-3.odoo-community.org/web#id=1&action=402&model=contract.contract&view_type=form&cids=&menu_id=133

http://3498561-13-0-bc4017.runbot2-3.odoo-community.org/my/contracts

Closing meanwhile no further evidence is presented.

[2021-08-19 06:38] #708 closed, assigned to nobody

[2021-08-19 07:31] santyabreu commented on #708
Good morning Pedro

I think you have misunderstood the message I have given.

I am not saying in any way that the module is doing an improper operation or that it is incorrectly installed. Like you, I consider that it is working correctly. I have opened the ticket because I have not been able to get the contracts to appear in the customer portal.
I think it's more of an operational issue, rather t

[2021-08-19 07:33] pedrobaeza commented on #708
This issue tracker is only for technical problems, not functional ones.

[2021-08-19 08:16] #502 closed, assigned to max3903, murtuzasaleh

[2021-08-19 08:16] #640 closed, assigned to nobody

[2021-08-19 08:54] santyabreu commented on #708
Ok, thank you. I will unninstall this module, due to the poor documentation and not visible functionality. I was even willing to pay for help to get this module up and running with the functionality it promises, but looking at the responses.... I will find another solution. I have seen members of this git who have helped with functionality, but I see that this is not the case.
Very Kind
Bye.

[2021-08-24 16:33] AdamBark commented on #664
Did you clear the filters? Contract doesn't show up under the default "Apps" filter

[2021-08-24 17:32] AdamBark opened #711 "next_period_date_start computation problem"
The if statement [here](https://github.com/OCA/contract/blob/6c6601e6a5dec16273de7ba957ff1b3fa74e863c/contract/models/contract_recurrency_mixin.py#L115) sets next_period_start_date to False which then breaks that statement with the following error:
`TypeError: '>' not supported between instances of 'bool' and 'datetime.date'`

[2021-08-24 17:48] pedrobaeza commented on #711
Steps to reproduce the problem.

[2021-08-24 18:11] AdamBark commented on #711
- Create a contract
- Select "recurrence at line level"
- Make a new line
- Turn on autorenewal
- Select a start date other than the default

[2021-08-25 15:41] mkxmawilix opened #712 "[14.0][BUG] - Contract with an End date raise an error"
Hello there,

I'm sorry let me know if am I on the wrong way but I'm not sure if this is a bad understanding of the module or if this is a real problem.

I have a problem if I want to specify the Date End of the Contract.

For instance this is Contract of 3 months invoiced 1 time for each month.

**Steps to reproduce the problem :**

With an empty database and the Contracts (14.0) module freshly u

[2021-09-01 13:34] mkxmawilix commented on #712
The problem seems to be in this function :
[code]

Why are we calling `super()` if `recurring_next_date` from the `contract.contract_line_ids.filtered(....)` is `False` ?

If  `recurring_next_date` is `False` that because there is no next invoicing period because of the `date_end` so we must keep this value set to lines and the contract no ?

By changing the `if statement` and the `contract.recurr

[2021-09-01 13:43] pedrobaeza commented on #712
What are the steps to reproduce the problem in UI?

[2021-09-01 14:40] mkxmawilix commented on #712
Hello,

Sorry maybe it was not clear in my first comment.

Here a clearly fresh exemple :

![exemple_date_end_error](https://user-images.githubusercontent.com/74231841/131690861-f57eb671-a0b8-47d9-8976-5f3f7bdec232.gif)

And what we should have ? The next invoice date has to be empty when the Contract is ended ?

![exemple_date_end_ok](https://user-images.githubusercontent.com/74231841/131691011-4

[2021-09-13 22:52] mvcastellano commented on #676
same issue

[2021-09-21 19:35] dolphine-ke commented on #676
The issue is still on Odoo 13 CE

[2021-09-23 14:59] victoralmau commented on #551
I'm working on `contract_variable_quantity`.

[2021-10-01 06:53] AntoniRomera opened #718 "[14.0][BUG] agreement_sale: Access to agreements is modified"
When installing the agreement_sale module, all menus of the agreement module are moved to Sales/Configuration. Is this correct? I don't see the need to move the menu around.

[2021-10-05 15:04] HaraldPanten commented on #712
@pedrobaeza we had the same issue (V13). We suggest 2 solutions:

A) If we add the condition is_terminated = False to the domain ( `_get_contracts_to_invoice_domain`), we could solve these use cases.

B) When calling `_compute_recurring_next_date` we could empty `recurring next_date` when this date is later than `date_end`.

Pedro, could you validate which option would be better? We can take care

[2021-10-13 06:54] HaraldPanten commented on #712
Hi @pedrobaeza , did you have the chance to have a look at this? We can manage the FIX. THX.

[2021-10-17 10:14] OCA-git-bot opened #732 "Migration to version 15.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-15.0

# Modules to migrate

- [ ] ~~agreement~~ => https://github.com/OCA/agreement
- [ ] ~~agreement_legal~~ => https://github.com/OCA/agreement
- [ ] ~~agreement_project~~ => https://github.com/OCA/agreement
- [ ] ~~agreement_sale~~ => https://github.com/OCA/agreement
- [ ] ~~agreement_serviceprofile~~ => https://github.co

[2021-10-28 04:17] jcdrubay commented on #732
I am planning to work on the upgrade of the module `contract` to version 15.0.

[2021-11-05 13:49] wpichler opened #742 "lastdate here can be None - should get handled here"
https://github.com/OCA/contract/blob/747fbbe19ad8610eb21b00e1a23704ca1254da00/contract/models/contract_line.py#L610

[2021-11-08 14:35] #278 closed, assigned to nobody

[2021-11-11 16:46] cremain commented on #712
Hello Team

Any update on this issue?

[2021-11-22 22:49] pedrobaeza commented on #742
I don't think so. Although the variable names are not very correct, they are setting the start and end of the period.

Closing as no theoretical issue. If any, please include steps to reproduce it.

[2021-11-22 22:49] #742 closed, assigned to nobody

[2021-11-23 10:51] opensourcer-2021 commented on #638
Hello
i'm using odoo 12 ce , and i m actually trying to understand contract and agreement addons for reccurent service , reccurent invoicing ,  and recurrind payment ( i can share the requested workflow for an eventual contribution) but i have some problems :
1- i cannont find "Generate recurring invoices automatically" and when i do the contract , contract is generated then it' doesnt create the

[2021-11-23 10:53] opensourcer-2021 opened #748 "Contract problems"
Hello
i'm using odoo 12 ce , and i m actually trying to understand contract and agreement addons for reccurent service , reccurent invoicing , and recurrind payment ( i can share the requested workflow for an eventual contribution) but i have some problems :
1- i cannont find "Generate recurring invoices automatically" and when i do the contract , contract is generated then it' doesnt create the i

[2021-11-23 17:36] opensourcer-2021 opened #749 "bug Contract , product contract , website product contract , order product contract"
hello
i'm using odoo 12 ce ,
i create contract product , then i create a contract model using that contract product :
i cannot choose the duration in the contract product  : example 1, or 3 or 6 months or ...years, but i can choose it in contract model  in my case i choosen 24 months
Variables (qty , duration , invoicing....discount ) doesent change when i change in any side , example if i change

[2021-12-05 12:14] #262 closed, assigned to nobody

[2021-12-15 19:53] flotho commented on #748
Hi,

So many things to answer in this thread.

Please provide your conf to check if the queue job is correctly set as explained there https://github.com/OCA/queue/tree/14.0/queue_job#id4
Please provide the content on the execution message of a job that failed

Please open a separate thread with module name so that maintainer will be able to be addressed properly.

[2021-12-15 20:09] flotho commented on #617
Hi,

I'll share with you how we handled this in our Odoo v12.
First we developped a module that allow to use order templates without having full eshop : https://apps.odoo.com/apps/modules/12.0/website_sale_template/
Then in this quotation template I added a line with a product for hosting :
![image](https://user-images.githubusercontent.com/1043935/146257350-b7b85ed3-642c-443b-a0c1-5054584ed11e.pn

[2021-12-15 20:16] flotho commented on #636
hummm...
As you can imagine, mixing version is really not the best way to get a stable environment.
Yet, you clearly experienced something that could be the same in openupgrade process.
The db cleanup module is the appropriate one to be able to handle this, sadly it's not available in v14 for nom.
Then you'll have to do it the hard way but not by SSH.

1 - check the state of your module via Odoo a

[2021-12-15 20:20] flotho commented on #749
Does this #617 could answer some of your questions.

Additionally please provides a runbot url for testing and/or screenshot, it will help people to identify what could probably be wrong.

Regards

[2021-12-15 20:20] flotho commented on #608
ping @pedrobaeza I thinks that issue is fiexed by my PR, could we close this one as @nabilragab don't answer.

Regards

[2021-12-15 20:22] #608 closed, assigned to nobody

[2021-12-16 22:57] flotho commented on #599
please indicate which release

[2021-12-26 12:48] pedrobaeza commented on #385
Already done.

[2021-12-26 12:48] #385 closed, assigned to nobody

[2022-01-04 12:50] BernatPForgeFlow opened #766 "[agreement_maintenance] Agreement service_profile for maintenance should not have product_id required"
## Module
agreement_maintenance

## Describe the bug
It makes no sense a maintenance service_profile with an equipment and a service product.

Steps to reproduce the behavior:
1. Create a service_profile in Agreements.

**Expected behavior**
The service profiles for maintenance should only contain an equipment. It should allow you to choose between a product or an equipment.

[2022-01-09 12:15] #359 closed, assigned to max3903

[2022-01-10 07:58] BernatPForgeFlow commented on #766
@vimalpatelserpentcs @max3903 @patrickrwilson

[2022-01-16 12:15] #362 closed, assigned to osi-scampbell

[2022-01-23 12:14] #378 closed, assigned to nobody

[2022-01-23 12:14] #381 closed, assigned to sbejaoui

[2022-01-23 12:14] #384 closed, assigned to nobody

[2022-01-24 12:32] JoanMForgeFlow commented on #732
Im planing to migrate conract_sale to v.15.0

[2022-02-06 12:13] #395 closed, assigned to nobody

[2022-02-06 12:13] #409 closed, assigned to nobody

[2022-02-08 16:18] aschlager commented on #712
I'd like to vote for this issue - have the same problem here in Odoo v13.

[2022-02-09 15:43] jcdrubay opened #781 "RFC: facilitate the debug when a contract fails to create the invoice (from a batch run)"
**Is your feature request related to a problem?**

When running the scheduler to create invoices, in case of exception, it can be tricky to know which contract is the source of the problem as the contract name / id are not visible, even in the logs.

**Describe the solution you'd like**

At least, display in the logs an error message which specifies the contract database ID which is the source of

[2022-02-09 15:55] jcdrubay opened #782 "RFC: Add a wizard to create invoices in batch (calling the function `cron_recurring_create_invoice`)""
**Is your feature request related to a problem?**

When a batch creation of Invoices by scheduler fails, Accountants are "blind" and have no way to try running a batch create again (unless they are also Technical Users).

**Describe the solution you'd like**

Add a wizard to create invoices in batch (calling the function `cron_recurring_create_invoice`)" so a Billing Manager could call the functio

[2022-02-09 15:58] pedrobaeza commented on #782
AFAIK, you already have such option, in a menu entry called "Invoice manually xxxx contracts" on each Customers and Vendors top menus.

[2022-02-09 16:00] jcdrubay commented on #782
Ok, but that means going on each customer one by one ... in many cases, this is the same as running the create invoice Contract by contract.

[2022-02-09 16:06] pedrobaeza commented on #782
No, that wizard makes it for all pending contracts to that introduced date...

[2022-02-09 16:30] jcdrubay commented on #782
Thanks for pointing this out @pedrobaeza

And what do you think about the part that would raise UserError pointing to the contract?

Something like this:

[code]

[2022-02-09 16:31] pedrobaeza commented on #782
Please don't mix topics. I close this one.

[2022-02-09 16:31] #782 closed, assigned to nobody

[2022-02-09 16:32] pedrobaeza commented on #781
I don't agree on that, as that supposes to do 2 times the same process. It's better to log info/debug message each time you are invoicing a contract, so when it hangs, last contract logged is the one with the error.

[2022-02-09 16:46] jcdrubay commented on #781
Thanks for answering so fast @pedrobaeza

I am probably mistaken but it seems to me that invoices are created with a batch create:

[code]

and I think it is good like this so we can have better performance when there are no issues.
We would run two times only in case of exception.

Also, the exception could occur either in `_prepare_recurring_invoices_values` or in `create`.

I cannot imagine how

[2022-02-09 16:47] pedrobaeza commented on #781
OK, correct, but what are the root causes to fail this? I don't have such problem yet, and going here to ease a problem in other part may not be the correct path.

[2022-02-09 16:53] jcdrubay commented on #781
For us and for some customers, there are regularly some new contracts which have not been input correctly or some new constraints added on invoices which will block the invoice generation from contract.

Each time, the accountant will need support to find out which contract is blocking the process. And each time a developer needs to debug to find out which is the contract blocking the invoicing pr

[2022-02-09 17:50] pedrobaeza commented on #781
OK, I see. Then I would propose a flag to pass to the method with default value to do it grouped, and put such flag in the wizard mentioned in the other issue, and if something fails with this flag activated doing it serialized, then show which contract fails. What do you think?

[2022-02-09 17:59] jcdrubay commented on #781
It sounds good to me. I will submit a PR. Thanks for your time to review this RFC.

I will also add this flag to the cron if you don't mind.

[2022-02-09 18:00] pedrobaeza commented on #781
I prefer not. Cron job should be executed as fast as possible. Only when the cron fails, you do the manual debug with the wizard.

[2022-02-11 16:46] jcdrubay commented on #781
Actually, we have this code in the wizard to create contracts:
[code]

Which means that contracts are already processed one by one from the wizard, while they are processed in batch from the wizard.

I plan to catch the UserError and re-raise the error message enriched with the contract info.

something like this:

[code]

[2022-02-11 18:04] pedrobaeza commented on #781
Yeah, seems good

[2022-02-13 12:13] #416 closed, assigned to max3903

[2022-02-21 14:16] rousseldenis opened #788 "contract: Allow to easy contract lines criteria understanding"
When user is not a developer, it's quite complicated to understand why some criteria are applied or not.

See: https://github.com/OCA/contract/blob/14.0/contract/models/contract_line_constraints.py#L55

@sbejaoui proposed a table in the documentation which should be an easy solution.

In addition, it could be useful to have evaluated values in debug mode (maybe in lines form) ?

[2022-02-22 12:08] cremain commented on #712
Hello Team

Someone have solution for this issue ?

[2022-03-05 05:00] lamtritin90 commented on #712
I can confirm that this is not working when setting the recurrence at contract level instead of line level, the recurring_next_date will be update to the value of date_start if it reach the date_end, that makes the contract never be finished. Recurrence on line level seems to be fine, except that we can not duplicate the contract record

[2022-03-06 12:15] #472 closed, assigned to nobody

[2022-03-06 12:15] #482 closed, assigned to nobody

[2022-03-10 15:55] marylla opened #803 "[12.0][Bug] The "recurring_next_date" of contract line is not set after renewing this line."
## Module
* contract

## Describe the bug
The "recurring_next_date" of contract line is not set after renewing this line.

## To Reproduce
**Affected versions**: 12.0
(I just tested in 12.0, so I don't know if this also affects other versions.)

Steps to reproduce the behavior:
1. Create a contract for a customer / supplier.
2. Add a product and choose monthly invoicing by setting recurring_interv

[2022-03-13 12:15] #500 closed, assigned to max3903, murtuzasaleh

[2022-03-13 12:15] #515 closed, assigned to nobody

[2022-03-15 12:47] palkesh-aktivsoftware commented on #732
I am planning to migrate contract_payment_mode to v15.0

[2022-03-20 12:15] #518 closed, assigned to nobody

[2022-03-29 11:59] marylla commented on #632
@newtratip These are very good questions that I asked myself as well.

I am using the template as template by copying it. Not very elegant for sure but I couldn't find another solution yet.
Therefore, I also needed to make the "code" (Reference) field not readonly anymore because when copying the template the code was set to "AG001 (Copy)" and I could not change the code anymore.

And unfortunatel

[2022-03-29 12:29] marylla opened #814 "[12.0] agreement_legal: Report template inheriting is not possible for report_agreement_document in agreement_legal."
## Module
agreement_legal

## Describe the bug
In agreement_legal/ reports/agreement.xml a report template is defined.

[code]

The external id for this qweb view is `agreement_legal.report_agreement_document`, but in the next line the name is set to `agreement.report_agreement_document`.

This makes it impossible for me to change the report by inheriting this template.

## To Reproduce
**Affected

[2022-03-29 12:36] marylla commented on #814
@ygol Can you have a look at this? Maybe you can explain and help me find a solution...

[2022-03-30 09:29] marylla commented on #814
I probably did something wrong. Never mind.

[2022-03-30 09:29] #814 closed, assigned to nobody

[2022-04-01 09:09] karlggest opened #815 "[11.0] recurrent invoice including pending sale orders fails when contracts >200"
## Module
Contracts Management - Recurring

## Describe the bug
When I try to invoice 236 contracts odoo don't create the invoices.

## To Reproduce
**Affected versions**: 11.0

Steps to reproduce the behavior:
1. I have 236 contracts to be invoiced the same day
2. Each contract have the appropriate info. Create invoice works as expected
3. At the end of the automated process Generate Recurring In

[2022-04-03 12:16] #542 closed, assigned to nobody

[2022-04-04 09:28] ygol opened #816 "[14.0] contract: invoices generated from contract do not respect product & fiscal position taxes"
## Module
contract

## Describe the bug
Contract generated invoices do not respect default setting for product's taxes

## To Reproduce
**Affected versions**: 14.0 (other version untested)

Steps to reproduce the behavior:
1. got to runbot
2. create a contract / add a product that doesn't have a tax set by default
3. in debug mode generate an invoice

**Expected behavior**
the invoice line should

[2022-04-04 10:14] ygol commented on #816
not related to contract. set default taxes in configuration to nothing.

[2022-04-10 12:16] #545 closed, assigned to nobody

[2022-04-17 12:16] #546 closed, assigned to nobody

[2022-04-24 12:17] #565 closed, assigned to nobody

[2022-04-24 13:29] scigghia opened #818 "[14.0] traceback creating new contract"
## Module
contract

## Describe the bug
when create new contract from contract object with "recurrence at line level" and auto renew, if you change "date start" a traceback occurs

[code]

## To Reproduce
**Affected versions**: tested on 14.0 with runbot

Steps to reproduce the behavior:
1. create new contract
2. set recurrence at line level
3. set auto renew
4. change date start

**Expected behav

[2022-04-24 13:30] scigghia commented on #818
![Peek 24-04-2022 15-26](https://user-images.githubusercontent.com/7657701/164978900-21af3cad-f1ec-4c37-ba2b-aafead8099a5.gif)

[2022-05-01 12:18] #570 closed, assigned to nobody

[2022-05-02 16:51] vix-db commented on #687
Same problem here.

INSERT INTO "agreement_line" ("id", "create_uid", "create_date", "write_uid", "write_date", "agreement_id", "**name**", "product_id", "qty", "sale_line_id", "**uom_id**") VALUES (nextval('agreement_line_id_seq'), 1, (now() at time zone 'UTC'), 1, (now() at time zone 'UTC'), 2, '**SECTION LABEL**', NULL, 0.0, 30, **NULL**) RETURNING id

**ERROR: null value in column "uom_id" vio

[2022-05-08 12:18] #581 closed, assigned to nobody

[2022-05-08 12:18] #582 closed, assigned to nobody

[2022-05-09 12:46] wpichler opened #822 "search for contract.line in state "in-progress" domain"
Hi all,

as far as i understand the contract.line state "in-progress" correct - this state is for all lines which are started, not canceled - or date date is not set / in the future and is_auto_renew is set or is_auto_renew is not set - and _compute_termination_notice_date is in future.

My problem here is - why is here only a check for _compute_termination_notice_date in the future - why is here

[2022-05-15 12:20] #591 closed, assigned to nobody

[2022-05-15 12:20] #609 closed, assigned to nobody

[2022-05-18 14:20] NL66278 opened #833 "[15.0] Generating recurrent invoices end in error"
## Module
contract

## Describe the bug
I enter a contract with two lines, one for a service product, the other for a physical product. It is defined as pre-invoiced, and recurrence on the contract NOT at the line level, for a yearly occurence. Then generating invoices (through the Run Manualy button on the cron) gets an exception

**Expected behavior**
I would expect an invoice to be generated

R

[2022-05-18 14:24] NL66278 commented on #833
I noticed the `"'bool' object has no attribute 'strftime'"` in `last_date_invoiced.strftime(date_format))`. Now obviously last_date_invoiced is False if you have not send any invoice before. But how to get past that if you cannot generate your first invoice?

[2022-05-22 12:18] #615 closed, assigned to nobody

[2022-05-30 10:23] chrisandrewmann opened #837 "[15.0] contract no longer works with contract_sale_generation"
In V14 versions, contract_sale_generation worked alongside main contract module to add the ability to change recurring document type from invoice to sale order. It appears some major refactoring was done in contract and it no longer contains any reference to the field generation_type which is required for this, on both the model and view.
Would be keen to know why this was done as it seems deliber

[2022-05-30 14:37] chrisandrewmann commented on #837
Looks like the generation_type field was merged into the base contracts module in V14.
My mistake, sorry.

[2022-06-02 10:13] pedrocs-exo commented on #833
The exact same problem is happening on 14.0 also.

[2022-06-02 11:28] Boca13 commented on #833
I'm facing the same problem with the latest 14.0 version, even though the `last_date_invoiced` field doesn't seem empty:
![image](https://user-images.githubusercontent.com/1238543/171619136-a297d510-5c1d-4e1f-a948-c6c8ea9f66ee.png)
Also, the date is in 2023 and it might be because the module often creates invoices in the future, for some reason. It could be from a different bug.

[2022-06-05 12:17] #645 closed, assigned to nobody

[2022-06-06 15:07] chrisandrewmann commented on #837
Having done a comparison it looks like what's missing is the following from abstract_contract.py:

[code]

[2022-06-12 12:16] #650 closed, assigned to nobody

[2022-06-21 15:27] eruiz67 opened #848 "Why cancel button is not available for some contract lines?"
I use the contract.contract module. I want to know in witchscenarios
the cancel button of a line is available? Because some times I want to cancel a line and the
## Module
contract.contract

## Describe the bug
I want to know what condictions must be present in order to see the cancel button of contract line available. Is there any way cancel a line that is in the state "Close"?

**Additional cont

[2022-06-22 07:17] rousseldenis commented on #848
Indeed, an explanation should be an improvement on conditions to have some actions possible (in interface) as it's in code but not really clear, even when debugging.

[2022-06-26 12:18] #664 closed, assigned to nobody

[2022-06-26 12:18] #665 closed, assigned to nobody

[2022-07-01 18:03] pedrobaeza commented on #833
This is fixed in #853 (for v13, but it's applicable the same for 14 and 15)

[2022-07-01 18:05] pedrobaeza commented on #712
This is fixed in https://github.com/OCA/contract/pull/853 (for v13, but it's applicable the same for 14 and 15)

[2022-07-04 07:56] enricostano commented on #409
I guess the question is why the field is called `group_id` instead of `analytic_account_id`. In v11 the analytic account was at contract level (they were the same thing), but starting from v12 the analytic account is at contract line level.

What's the use case for this `group_id` field? Git history doesn't help much sadly.

[2022-07-10 12:18] #676 closed, assigned to nobody

[2022-07-15 15:02] gregory-moka opened #856 "[15.0] Contract template is not called"
## Module
Recurring - Contracts Management

## Describe the bug
1- Create a new Contract template, save it
2- Create a contract, try to call the contract template : nothing happen

## To Reproduce
**Affected versions**: 15.0

Steps to reproduce the behavior:
1. Go to Invoicing > Setting > Contracts > Contract template
2. Create a new template, save it
3. Create a new contract, try to call the Cont

[2022-07-15 20:51] AdamBark commented on #711
Nothing has changed to fix this as far as I can tell

[2022-07-24 12:18] #599 closed, assigned to nobody

[2022-07-24 12:19] #617 closed, assigned to nobody

[2022-07-24 12:19] #636 closed, assigned to nobody

[2022-07-31 12:20] #695 closed, assigned to nobody

[2022-07-31 12:20] #698 closed, assigned to nobody

[2022-08-02 05:34] ygol commented on #856
@gregory-moka the template is called when saving. the lines are added accordingly. pls check again

[2022-08-03 12:13] gregory-moka commented on #856
🤔 mhh.. ok
Then, the behaviour is weird, cause, once the contract is saved, the contract lines are activated. To be complient with the quotation template behavious, the content of the contract should come with the selection, then, we can remove non needed lines, and at the end, save and activate the contract.
If you save the contract with non-needed lines, then, you have to cancell those lines, an

[2022-08-07 12:18] #718 closed, assigned to nobody

[2022-08-07 12:18] #748 closed, assigned to nobody

[2022-08-12 00:05] douglascstd opened #867 "[12.0] Why is the button "Create invoice" hidden for non development mode user?"
We use the contract module to recurring invoices and the invoice are created manually on each contract. So, to work using this workflow, we need to unhide this button using some cutomization XML code.

I realized on the 14.0 version, the button is visible to non developmente mode.

Is it a setting I misinterpreted?

**printscreen 12.0**
![image](https://user-images.githubusercontent.com/20867090/1

[2022-08-14 12:19] #749 closed, assigned to nobody

[2022-08-14 12:19] #766 closed, assigned to nobody

[2022-08-30 20:06] gomezgleonardob commented on #732
I am planning to migrate contract_mandate to v15

[2022-08-31 22:51] valasule opened #872 "Automatic payment on generated invoices"
**Is your feature request related to a problem?**
When invoices are automatically generated from a contract there does not appear to be a way for them to be paid automatically using payment information that is saved for the customer.

**Describe the solution you'd like**
Allow payment information to be set on the backend or by the customer through the portal that can be saved and used for paying i

[2022-09-01 18:00] fcayre commented on #872
See module contract_payment_auto, present in 10.0 and in [PR 798](https://github.com/OCA/contract/pull/798) for 12.0.

[2022-09-01 18:12] valasule commented on #872
I wasn't sure if that module would work on 14 as there wasn't much comment about it but I will toss it on my sandbox and see what happens.

[2022-09-01 18:19] valasule commented on #872
On version 14 I get the following error when I try to install that addon:
Error:
Odoo Server Error

Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/odoo/addons/base/models/ir_http.py", line 237, in _dispatch
    result = request.dispatch()
  File "/usr/lib/python3/dist-packages/odoo/http.py", line 683, in dispatch
    result = self._call_function(**self.params)
  File "/u

[2022-09-01 18:58] valasule commented on #872
I did a little search and it looks like specifying api.multi is no longer required as of version 13:
https://github.com/odoo/odoo/commit/4b38cc6590abcb58a0ca102a06063eb3db7ac1f4#diff-2c418cb78b7c562a79e7032645a537d2

After removing the @api.multi as referenced in the link I get the following error:

Error:
Odoo Server Error

Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages

[2022-09-01 19:38] fcayre commented on #872
@valasule modules have to be ported from one odoo version to another. See https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-13.0 for instance. But this is another matter, I think you can close this ticket, and if you feel like porting the module to upper odoo versions, feel free to propose a PR.

[2022-09-01 20:26] valasule commented on #872
@fcayre sadly I am not a coder so I would probably write some pretty awful stuff in trying to do so.  I am very good at test design, QA, and documentation so maybe there are some that would like to help out on this?

[2022-09-15 11:51] CRogos commented on #712
I think #841 also solves this issue.

[2022-09-18 12:21] #781 closed, assigned to nobody

[2022-09-25 12:22] #788 closed, assigned to nobody

[2022-09-30 15:21] gregory-moka opened #879 "Contract > UOM not used to compute the unit price"
## Module
`contract`

## Describe the bug
It seems that the contract does not correctly compute the sutotal if we use the UOM.

## To Reproduce
**12.0, 13.0, 14,0 & 15,0**:

Steps to reproduce the behavior:
- Create a UOM with a random ratio (Unit & Dozen for example)
- Use this UOM on contract
- See the unit price is not changed

**Expected behavior**
As we have on sale order, the unit price has

[2022-10-03 16:21] sbidoul opened #880 "Migration to version 16.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-16.0

# Modules to migrate

- [x] agreement_rebate_partner_company_group - By @stefan-tecnativa - #980
- [x] contract - By @wpichler - #887
- [ ] contract_invoice_start_end_dates - By @JesusValdez96 - #950
- [x] contract_mandate - By @adriapalleja - #1070
- [x] contract_payment_auto - By @9184Lucky - #1231
- [x] contract_pay

[2022-10-16 12:24] #803 closed, assigned to nobody

[2022-10-29 20:51] GSLabIt commented on #551
https://github.com/OCA/contract/tree/12.0/contract_variable_qty_prorated

do not need to be migrated?

[2022-10-30 12:23] #632 closed, assigned to nobody

[2022-11-03 18:56] pedrobaeza commented on #818
Fixed at 42b1bffef4294ba202d274f6898a1f19c1d32edf

[2022-11-03 18:56] #818 closed, assigned to nobody

[2022-11-04 08:53] scigghia commented on #818
great!

[2022-11-06 12:20] #815 closed, assigned to nobody

[2022-11-10 05:42] ispiders opened #895 "When read() Model instantiates with new() get a Access Error"
## Module
odoo

## Describe the bug
[code]

## To Reproduce
**Affected versions**: 16.0

[2022-11-10 05:47] #895 closed, assigned to nobody

[2022-11-11 15:36] cremain opened #896 "Generating recurrent invoices sorting by contract name"
Hello Team

### Module Odoo 13
contract

### Desciption
Someone can help me to know how i can configure the module to process automatic generation of invoices sorted by contract name instead of id?

[2022-11-18 13:36] ygol commented on #816
I am again confronted with this. anyone else have this problem?

[2022-11-23 08:09] BurkhalterY commented on #551
Hello,
I'm migrating the module contract_queue_job to v14. #897